@using xRhodium.Controllers
@model HomeViewModel

@functions {

    private string GetReferer()
    {
        var query = string.Empty;

        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>
    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">
    <script src="/data/js/modernizr-custom.js"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="xRhodium's Community" />
    <meta name="twitter:image" content="https://www.bestcryptodividend.com/ap.png" />

    <style type="text/css">
        .community .community {
            margin-bottom: 100px;
        }

        .community .social-about {
            margin-left: 70px;
        }

        .community img {
            width: 30px;
            height: 30px;
            display: inline-block;
            margin-left: -50px;
            margin-right: 15px;
        }

        .community .category {
            margin-left: 25px;
            margin-top: 40px;
            font-weight: 500;
            color: black;
        }

        .community .about {
            margin-bottom: 70px;
        }

        .community a {
            color: #FC8100;
        }

        .community .fmone a {
            color: #ffb506;
        }
    </style>
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>

    <header id="subpage">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo-black.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>

                @Html.Partial("_NavigationEn")
            </div>
        </nav>
    </header>

    <section>
        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>

        <div class="container-fluid inner-color front-section community" id="community">
            <div class="container">
                <div class="section-title">
                    <h2>Community</h2>
                    <p class="about">Welcome to our community. We want to create a welcoming environment for everyone who is interested in contributing, whether it's a simple tweet, post, comment or a code submission. It's easy to find the right channel for you and help us spread the word about the project or just find an answer to your questions. We’d love you to join us and make the community better!</p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="social-about">
                            <p><a href="https://twitter.com/xrhodium_xrc" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'twitter'});"><img src="/data/img/master/twitter.svg"> @Html.Raw("@xRhodium") on Twitter</a><br>Keep up-to-date with community and project announcements. Use $XRC and #xRhodiumodium hashtags to get retweeted or to find latest tweets</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-about">
                            <p><a href="https://discord.gg/WmxceSm" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'discord'});"><img src="/data/img/master/discord.svg"> xRhodium Discord server</a><br>Our main community for all things XRC — development, mining and trading featuring local channels. Talk to the devs team, get a support and lots more</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-about">
                            <p><a href="https://www.reddit.com/r/xRhodiumXRC/" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'reddit'});"><img src="/data/img/master/reddit.svg"> r/xRhodiumodium Subreddit</a><br>A place for in-depth threaded conversations. Submit your own posts or participate in AMA sessions with the devs</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-about">
                            <p><a href="https://t.me/xrhodium_xrc" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'telegram'});"><img src="/data/img/master/telegram.svg"> Chat on Telegram</a><br>Join discussion on the community run Telegram chat. Local admins will try to help you with any issues you might have</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-about">
                            <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bitcoin-talk'});"><img src="/data/img/master/forum.svg"> Thread on BitcoinTalk forum</a><br>Post your opinions and questions about the project on our BitcoinTalk forum thread</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-about">
                            <p><a href="https://medium.com/xrhodium" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'blog'});"><img src="/data/img/master/medium.svg"> Blog on Medium</a><br>Read the latest press releases, tutorials, FAQs, dev logs, reports and other long-form content</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-about">
                            <p><a href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'youtube'});"><img src="/data/img/master/youtube.svg"> XRC YouTube channel</a><br>Video tutorials, presentations, occasional interviews with the developers and other multimedia content</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-about">
                            <p><a href="https://gitlab.com/bitcoinrh/" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'gitlab'});"><img src="/data/img/master/gitlab.svg"> Source code on Gitlab</a><br>Main XRC chain code repository. Review the code and start building some nice things on top of the XRC blockchain</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-about">
                            <p class="fmone"><a href="https://twitter.com/FreeMarketOne" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'fm-twitter'});"><img src="/data/img/master/twitter1.svg"> @Html.Raw("@FreeMarketOne") Twitter account</a><br>Follow to get latest and fastest updates on the platform development</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-about">
                            <p class="fmone"><a href="https://www.reddit.com/r/FreeMarketOne/" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'fm-reddit'});"><img src="/data/img/master/reddit1.svg"> r/FreeMarketOne Subreddit</a><br>Best place for platform related discussion. Ask questions, submit bugs or feature requests, provide feedback</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>



        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>xRhodium</p>
                        <h2>Community</h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5>Twitter</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>Discord</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5>Telegram</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>Bitcoin Talk</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>


                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">

                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">Tweets by xRhodium</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
            </div>
        </div>

    </footer>

    <a href="#0" class="cd-top">Top</a>

    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    @Html.Partial("_GoogleAnalytics")
</body>

</html>
