﻿@using xRhodium.Controllers
@model HomeViewModel

@functions {

    private string GetReferer()
    {
        var query = string.Empty;

        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>

    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="xRhodium (XRC) - Base currency for the FreeMarketOne" />
    <meta name="twitter:image" content="https://xrhodium.org/twitter-card.png" />

    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <script src="/data/js/modernizr-custom.js"></script>

    <style>
        .nav-menu > li > a {
            letter-spacing: 1px;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>

    <header id="home">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>

                @Html.Partial("_NavigationRu")
            </div>
        </nav>
        <div class="heroe-bg">
            <div class="videobg">
                <div class="videobg-width">
                    <div class="videobg-aspect">
                        <div class="videobg-make-height">
                            <div class="videobg-hide-controls">
                                <iframe src="https://player.vimeo.com/video/337018498?autoplay=1&loop=1&title=0&byline=0&portrait=0&muted=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="middle">
                <div class="word"></div>
                <div class="social-icons">

                    <a href="https://twitter.com/xrhodium_xrc" target="_blank" class="video-button" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'twitter'});"><i class="fab fa-twitter" aria-hidden="true"></i> ТВИТТЕР</a>
                    <a href="https://discord.gg/WmxceSm" target="_blank" class="video-button" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'discord'});"><i class="fab fa-discord" aria-hidden="true"></i> ДИСКОРД</a>

                </div>
                <div class="social-icons">
                    <a href="@Url.MyAction("AmbassadorProgram", new { r = Model.Referer })" class="video-button" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'ambassador'});"><i class="fa fa-user" aria-hidden="true"></i> ПРОГРАММА ПРЕДСТАВИТЕЛЕЙ</a>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container" id="teaser">
            <div class="row">
                <div class="col-lg-12">
                    <div class="home-teaser">

                        <p class="mb60">

                            <span class="bolder" style="color: #ff9900 !important;">Биткоин Родиум — не форк</span> биткоина, а <span class="bolder" style="color: #ff9900 !important;">новый криптоактив</span>.

                        </p>
                        <p class="imporant">Всего может быть создано лишь <span class="bolder">2,1 миллиона XRC</span>.</p>

                    </div>
                </div>
            </div>
        </div>

        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="home-about">
                            <h5>О Биткоин Родиуме</h5>
                            <p>
                                <strong>Биткоин Родиум</strong> — это новый криптовалютный продукт для сохранения ценности в будущем, редкий, устойчивый и с ограниченным выпуском. Криптовалюта, призванная обеспечить не только способ оплаты, но и реальный ценный товар, который станет отличным инвестиционным элементом наряду с BTC. <strong>Биткоин Родиум использует свой уникальный блокчейн с общим предложением в 2,1 миллиона XRC</strong>. Он написан на языке C# и опирается в своей работе исключительно на механизм PoW (доказательство работы). <strong>Все долгосрочные держатели имеют право на участие в программе «Твердые руки», которая гарантирует значительный возврат инвестиций каждые 3-месячный цикл.</strong> Для того чтобы усилить варианты использования Биткоин Родиума, в настоящее время мы работаем над созданием пирингового рынка криптовалют и драгметаллов, который свяжет криптовалюту с миром традиционных инвестиций. <strong>Также мы планируем присоединится к одному из следующих протоколов усиления конфиденциальности транзакций: CoinJoin, CT или MimbleWimble</strong>.
                            </p>
                            <h5>Проектный документ</h5>
                            <p>Ознакомьтесь с официальным проектным документом (White Paper) Биткоин Родиума. Разрешено свободное использование этого материала в рекламных целях.</p>
                            <div class="btn-more-box">
                                <a class="btn btn-custom-small" href="https://www.xrhodium.org/Whitepaper.pdf" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'whitepaper'});">Скачать ПДФ</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="home-icon-box">
                            <div class="coinmarketcap-currency-widget" data-currencyid="3839" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="true"></div>

                        </div>

                        <div class="home-icon-box">
                            <figure class="icon-pic"><img src="/data/img/master/ico-freedom-dark.png" alt="" /></figure>
                            <h3>Анонимность транзакций</h3>
                            <p>Наша страсть — создание криптовалюты, которая в первую очередь заинтересует долгосрочных инвесторов. <strong>Биткоин Родиум присоединится к одному из следующих протоколов усиления анонимности транзакций: CoinJoin, CT или MimbleWimble. </strong></p>
                            <div class="btn-more-box">
                                <a class="btn btn-custom-small" href="https://medium.com/@Html.Raw("@")xRhodium/bitcoin-rhodiums-path-towards-digital-freedom-making-transactions-private-6e07525b9ddc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freedom'});">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>Отличительные особенности</h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>

        <div class="container services-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/crypto-trinity.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>Концепция «Крипто тринити»</h4>
                            <p>Биткоин Родиум заполняет пробел на рынке криптовалют и вместе с BTC и LTC образует эффективную экосистему под названием «Крипто тринити», которая удовлетворяет предпочтения большинства инвесторов.</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("CryptoTrinity", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'cryptotrinity'});">Узнать больше</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 center-box">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/stronghands.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>Программа «Твёрдые руки»</h4>
                            <p>Твёрдая рука и нежелание выходить из владения — те два качества, которые отличают инвесторов в Биткоин Родиум от остальных. Укрепите свои позиции за счет бесплатного участия в программе «Твёрдые руки».</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("StrongHandsAirdrop", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'strong-hands'});">Узнать больше</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/market.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>P2P рынок криптовалют и драгметаллов</h4>
                            <p>Одним из долгосрочных приоритетов Биткоин Родиума является предоставление децентрализованного метода обмена заинтересованным сторонам на рынках драгоценных металлов.</p>
                            <div class="btn-box">
                                <p><a href="@Url.MyAction("FreeMarket", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2p-market'});">Узнать больше</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="exchanges">
            <div class="section-title">
                <h2>Биржи</h2>
                <p>xRhodium (тикер <strong>XRC</strong>).</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://bisq.network/markets/?currency=xrc_btc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bisq-download'});"><img src="/data/img/master/bisq.png" alt="BISQ Exchange" /></a>
                        </figure>
                        <h6><a href="https://bisq.network/markets/?currency=xrc_btc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bisq-download'});">BISQ Network (BTC)</a></h6>
                        <p>
                            BISQ пиринговое приложение с открытым исходным кодом, которое позволяет покупать и продавать криптовалюты в обмен на национальные валюты. Регистрация не требуется.
                            <a href="https://youtu.be/UNAiBEuBaJ4" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bisq-manual'});">Руководство по использованию BISQ.</a>
                        </p>
                        <div class="btn-box">
                            <a class="btn btn-custom-small" href="https://bisq.network/markets/?currency=xrc_btc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bisq-download'});">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://folgory.com/trade-crypto/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'folgory'});"><img src="/data/img/master/folgory.png" alt="Folgory" /></a>

                        </figure>
                        <h6><a href="https://folgory.com/trade-crypto/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'folgory'});">Folgory (BTC, ETH, USD, EUR, USDC)</a></h6>
                        <p>Folgory (связанный с Hashfort) - это регулируемый централизованный обмен, базирующийся в Эстонии. Поддерживает фиатные пары EUR.</p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://folgory.com/trade-crypto/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'folgory'});">Open</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://p2pb2b.io/trade/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2pb2b'});"><img src="/data/img/master/p2pb2b.png" alt="P2PB2B" /></a>

                        </figure>
                        <h6><a href="https://p2pb2b.io/trade/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2pb2b'});">P2PB2B (USD, BTC, ETH)</a></h6>
                        <p>P2PB2B самая технологически быстрорастущая биржа в мире, предоставляющая уникальные условия для инвесторов и трейдеров.</p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://p2pb2b.io/trade/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2pb2b'});">Перейти</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://www.fatbtc.com/trading?currency=XRC%2FBTC&amp;freetab=0" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'fatbtc'});"><img src="/data/img/master/fatbtc.png" alt="FatBTC"></a>
                        </figure>
                        <h6><a href="https://www.fatbtc.com/trading?currency=XRC%2FBTC&amp;freetab=0" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'fatbtc'});">FatBTC (BTC, CNY)</a></h6>
                        <p>FatBTC это китайская криптовалюта, которая принимает местные банковские переводы.</p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://www.fatbtc.com/trading?currency=XRC%2FBTC&amp;freetab=0" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'fatbtc'});">Перейти</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://changelly.com/exchange/usd/xrc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'changelly'});"><img src="/data/img/master/changelly.png" alt="Changelly" /></a>

                        </figure>
                        <h6><a href="https://changelly.com/exchange/usd/xrc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'changelly'});">Changelly (BTC, ETH, XRP, USD, EUR, GBP)</a></h6>
                        <p>Быстрый и безопасный способ покупки или обмена более 150 криптовалют. Вы можете изменить - биткойн BTC, Ethereum ETH, Ripple XRC, доллар США, евро евро или фунт стерлингов.</p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://changelly.com/exchange/usd/xrc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'changelly'});">Open</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://hitbtc.com/exchange/XRC-to-BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'hitbtc'});"><img src="/data/img/master/hitbtc.png" alt="HitBTC" /></a>

                        </figure>
                        <h6><a href="https://hitbtc.com/exchange/XRC-to-BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'hitbtc'});">HitBTC (BTC)</a></h6>
                        <p>HitBTC - это интуитивно понятный и надежный обмен, позволяющий пользователям обменивать некоторые из самых популярных активов криптовалюты.</p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://hitbtc.com/exchange/XRC-to-BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'hitbtc'});">Open</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg id="curveUpColor-counter" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="some_facts">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="inner-counter">
                            <div class="counter-statistics">
                                <div class="counter">2.1 млн</div>
                                <h5>Общий объем</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="inner-counter">
                            <div class="counter-statistics">
                                <div class="counter">новый</div>
                                <h5>блокчейн</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="inner-counter">
                            <div class="counter-statistics">
                                <div class="counter">X13</div>
                                <h5>Алгоритм POW</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="inner-counter last-box-counter">
                            <div class="counter-statistics">
                                <div class="counter">4MB</div>
                                <h5>Размер блока</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-counter" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>

        <div class="container">
            <div class="testimonials-box">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="home-icon-box">
                            <figure class="icon-pic"><i class="fa fa-cubes icon-color mt-10"></i></figure>
                            <h3>Технические характеристики</h3>
                            <p>
                                2,1 миллиона XRC<br>
                                Алгоритм POW X13<br>
                                <a onclick="gtag('event', 'click', { event_category: 'link', event_action: 'click', event_label: 'gitlab code source'});" href="https://gitlab.com/xRhodium/BRhodiumNode" target="_blank">Открытый исходный код на C#</a><br>
                                Расчетное время блока 10 минут<br />
                                Размер блока 4 МБ<br />
                                Корректировка сложности каждые 2016 блоков
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="home-icon-box">
                            <figure class="icon-pic"><i class="fa fa-exchange-alt icon-color m15"></i></figure>
                            <h3>Распределение</h3>
                            <p>
                                50% — майнинг (1 050 000 XRC)<br />
                                28% — эирдроп (582 857 XRC)<br />
                                12% — выплата дивидендов на протяжении 8 лет (257 143 XRC)<br />
                                5% — премайн для PR (105 000 XRC)<br />
                                5% — премайн для разработчиков (105 000 XRC)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="home-icon-box">
                            <figure class="icon-pic"><img src="/data/img/master/ico-freedom-dark.png" alt="" /></figure>
                            <h3>Анонимность</h3>
                            <p>
                                Также мы планируем присоединится к одному из следующих протоколов усиления конфиденциальности транзакций: CoinJoin, Confidential Transactions или MimbleWimble.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="home-icon-box">
                            <figure class="icon-pic"><i class="fa fa-sync-alt icon-color"></i></figure>
                            <h3>Всего монет в обращени</h3>
                            <p>
                                ~ 940 000 XRC from 2 100 000 XRC
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg id="curveUpColor-team" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
        </svg>

        <div class="container-fluid inner-color" id="team">
            <div class="container">
                <div class="section-title">
                    <h2>Основная команда</h2>
                    <p>xRhodium - это монета, управляемая сообществом. Вот карта наших основных членов децентрализованного сообщества.</p>
                </div>
                <div>
                    <p class="text-center"><img class="img-fluid" src="/data/img/master/core-team.png?v3" alt="xRhodium Core Team" /></p>
                </div>
            </div>
        </div>

        <svg id="curveDownColor-team" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
        </svg>

        <div class="container" id="blog">
            <div class="section-title">
                <h2>Статьи и записи блога</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="medium-widget"></div>
                    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
                    <script>MediumWidget.Init({ renderTo: '#medium-widget', params: { "resource": "https://medium.com/xrhodium", "postsPerLine": 3, "limit": 9, "picture": "big", "fields": ["description", "author", "publishAt"], "ratio": "landscape" } })</script>

                </div>
            </div>

        </div>

        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>Биткоин Родиум</p>
                        <h2>сообщества</h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5>Твиттер</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>Дискорд</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5>Телеграм</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>Bitcoin Talk</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>


                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">

                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">Твиты @Html.Raw("@")xRhodium</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
                
            </div>
        </div>

    </footer>

    <a href="#0" class="cd-top">Top</a>

    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
    <script type="text/javascript">

        var timeoutId;
        var $videoBgAspect = $(".videobg-aspect");
        var $videoBgWidth = $(".videobg-width");
        var videoAspect = $videoBgAspect.outerHeight() / $videoBgAspect.outerWidth();

        function videobgEnlarge() {
            windowAspect = ($(window).height() / $(window).width());

            if (windowAspect > videoAspect) {
                var aspect = (windowAspect / videoAspect) * 100;
                $videoBgWidth.width(aspect + '%');
            } else {
                $videoBgWidth.width(100 + "%");
            }

            $("#home").height($(window).height());
            $(".heroe-bg").height($(window).height());
        }

        $(window).resize(function () {
            clearTimeout(timeoutId);
            timeoutId = setTimeout(videobgEnlarge, 100);
        });

        $(function () {
            videobgEnlarge();
        });
    </script>
    @Html.Partial("_GoogleAnalytics")
</body>

</html>