﻿@using xRhodium.Controllers
@model HomeViewModel

@functions {

    private string GetReferer()
    {
        var query = string.Empty;

        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>

    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">
    <script src="/data/js/modernizr-custom.js"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">

    <style>
        .nav-menu > li > a {
            letter-spacing: 1px;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>

    <header id="subpage">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo-black.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>

                @Html.Partial("_NavigationRu")
            </div>
        </nav>
    </header>

    <section>
        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>Road Map</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline list-unstyled">
                            <li class="year">2017</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
                                <h4>
                                    Запуск сайта
                                </h4>
                                <p class="desc">
                                    Представлен официальный сайт, содержащий всю ключевую информацию о проекте.
                                </p>
                                <span class="date">
                                    Декабрь 2017
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
                                <h4>
                                    Объявлена первая фаза эирдропа №1
                                </h4>
                                <p class="desc">
                                    Пользователям было предложено зарегистрировать свои BTC адреса до 25 декабря, чтобы получить право на первый универсальный эирдроп в размере 5 XRC.
                                </p>
                                <span class="date">
                                    13—25 декабря 2017
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
                                <h4>
                                    Анонс второй фазы эирдропа №1
                                </h4>
                                <p class="desc">
                                    На втором этапе пользователи, которые зарегистрировали свои BTC адреса с ненулевым балансом до 10 января, получили в 10 раз больше XRC от своего баланса BTC (10 XRC за 1 BTC).
                                </p>
                                <span class="date">
                                    26 декабря—10 января 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2018 Q1</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <h4>
                                    Снимок
                                </h4>
                                <p class="desc">
                                    Сделан снимок блокчейна Биткоина, необходимый для второй фазы эирдропа.
                                </p>
                                <span class="date">
                                    10 января 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Интернет-кошелёк
                                </h4>
                                <p class="desc">
                                    Запущен онлайн-кошелёк необходимый для получения эирдропа и дальнейшего хранения и использования Биткоин Родиума.
                                </p>
                                <span class="date">
                                    Январь 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Эирдроп №1
                                </h4>
                                <p class="desc">
                                    Пользователи, которые должным образом зарегистрировали свои BTC адреса в течение первой и второй фаз, получили соответствующее количество Биткоин Родиума в свои личные кошельки. Попутно возникли небольшие технические трудности, потребовавшие повторной подписи биткоин-адресов.
                                </p>
                                <span class="date">
                                    С 18 января 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Повторная подпись
                                </h4>
                                <p class="desc">
                                    Пользователям, которые потеряли свою подпись, имели недопустимую подпись, или испытывали какие-либо другие технические трудности, было предложено заново запросить XRC. Разработчиками была оказана обширная поддержка во время этого процесса.
                                </p>
                                <span class="date">
                                    Февраль 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Обозреватель блоков Биткоин Родиума
                                </h4>
                                <p class="desc">
                                    Представлен обозреватель Биткоин Родиума, обозреватель блоков добавлен немного позже.
                                </p>
                                <span class="date">
                                    Февраль 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Завершение периода заявок на получение эирдропа
                                </h4>
                                <p class="desc">
                                    Подписанные BTC адреса больше не принимаются.
                                </p>
                                <span class="date">
                                    31 марта 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2018 Q2</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Тестовая сеть
                                </h4>
                                <p class="desc">
                                    Запуск тестовой сети для настройки майнинг пула, транзакций, тестирования стабильности работы кошелька.
                                    <a href="https://testnet.xrhodium.org/">https:// testnet.xrhodium.org</a>
                                </p>
                                <span class="date">
                                    II кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">2018 Q3</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    Тестироварие кошелька Electrum
                                </h4>
                                <p class="desc">
                                    Кошелек Electrum, как альтернатива онлайн-кошельку, был запущен для проверки в тестовой сети, чтобы подготовить его к запуску в основной сети.
                                </p>
                                <span class="date">
                                    III кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    COINIUM пул в тестовой сети
                                </h4>
                                <p class="desc">
                                    Программное обеспечение для майнинг пула, Coinium, было внедрено в тестовую сеть и к тестовому майнингу присоединились майнеры из сообщества.<br />&nbsp;
                                </p>
                                <span class="date">
                                    III кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Основная сеть
                                </h4>
                                <p class="desc">
                                    Стабилизация и стресс-тестирование.
                                </p>
                                <span class="date">
                                    III кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    Обозреватель тестовой сети
                                </h4>
                                <p class="desc">
                                    Выпуск проводника тестовой сети с полнофункциональным обозревателем блоков.
                                </p>
                                <span class="date">
                                    III кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    Усиление безопасности кошелька
                                </h4>
                                <p class="desc">
                                    Чтобы снизить вероятность успешной хакерской атаки, в онлайн-кошелёк была добавлена новая функциональность SHIELD.
                                </p>
                                <span class="date">
                                    III кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    Децентрализация серверов
                                </h4>
                                <p class="desc">
                                    Расположение серверов можно посмотреть по ссылке: <a href="https://network.xrhodium.org/">https:// network.xrhodium.org</a>
                                </p>
                                <span class="date">
                                    III кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    Эирдроп №2
                                </h4>
                                <p class="desc">
                                    Чтобы расширить охват и предоставить возможность тем кто не смог получить свой Биткоин Родиум во время первого эирдропа, объявлен второй и заключительный эирдроп. Общее количество распределенных XRC после второго эирдропа Биткоин Родиума составило 582 857.
                                </p>
                                <span class="date">
                                    III кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2018 Q4</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Запуск основной сети
                                </h4>
                                <p class="desc">
                                    22 октября была официально запущена сеть Биткоин Родиума, которая привлекла огромное внимание как предыдущих, так и новых членов сообщества. Впоследствии возник активный внебиржевой рынок, который позволил держателям XRC начать процесс первичного ценообразования.
                                </p>
                                <span class="date">
                                    IV кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Внедрение MININGCORE
                                </h4>
                                <p class="desc">
                                    Вслед за техническими проблемами с пулом, вызванными архитектурой программного обеспечения Coinium mining, было внедрено новое программное обеспечение, Miningcore, которое вызвало беспрецедентный интерес майнеров и резкое повышение хэшрейта <a href="http://poolcore.xrhodium.org/">http:// poolcore.xrhodium.org</a>.<br />&nbsp;
                                </p>
                                <span class="date">
                                    IV кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Торговля атрибутикой
                                </h4>
                                <p class="desc">
                                    Первая серия сувенирных вещей с логотипом Биткоин Родиума будет представлена сообществу для поддержки затрат на разработку и маркетинг.
                                </p>
                                <span class="date">
                                    IV кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Кошелек ELECTRUM
                                </h4>
                                <p class="desc">
                                    Чтобы предоставить держателям Биткойн Родиума альтернативное средство хранения их монет, выпущен <a href="https://electrum.xrhodium.org/">кошелек Electrum</a>.
                                </p>
                                <span class="date">
                                    IV кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    «Крипто тринити»
                                </h4>
                                <p class="desc">
                                    Наше новое видение взаимодействия с BTC и LTC.
                                </p>
                                <span class="date">
                                    Ноябрь 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Программа «Твёрдые руки»
                                </h4>
                                <p class="desc">
                                    Удерживайте и получайте вознаграждение
                                </p>
                                <span class="date">
                                    IV кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    BISQ с Биткоин Родиумом на борту
                                </h4>
                                <p class="desc">
                                    Пиринговое приложение с открытым исходным кодом, которое позволяет покупать и продавать криптовалюты в обмен на национальные валюты.
                                </p>
                                <span class="date">
                                    Декабрь 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">2019 Q1</li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Листинг на бирже
                                </h4>
                                <p class="desc">
                                    Ожидается, что к концу первого квартала 2019 года Биткоин Родиум будет размещён на одной из основных бирж.
                                </p>
                                <span class="date">
                                    I кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Публикация исходного кода на Гитлабе
                                </h4>
                                <p class="desc">
                                    Как и было обещано, после первого листинга различные компоненты исходного кода Биткоин Родиума станут доступны сообществу для ознакомления на Гитлабе. Задержка публикации кода была обусловлена обеспечением максимальной безопасности сети и защитой пользователей.
                                </p>
                                <span class="date">
                                    I кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2019 Q2</li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Следующая версия кошелька Electrum
                                </h4>
                                <p class="desc">
                                    Очередная версия кошелька Electrum XRC. Льготный период для перемещения средств намечен на начало третьего квартала.
                                </p>
                                <span class="date">
                                    II кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    Поддержка аппаратного кошелька
                                </h4>
                                <p class="desc">
                                    Мы ожидаем полной поддержки XRC в следующем обновлении прошивки кошелька Trezor
                                    <a target="_blank" href="https://github.com/xRhodiumodium/trezor-common" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'trezor'});">https:// github.com/ xRhodiumodium/ trezor-common</a>.
                                    Текущее состояние можно найти в <a href="https://trezor.io/coins/" target="_blank"> официальном списке поддержки монет Trezor </a>. <br />
                                    ~ Ожидается: каждый день.
                                </p>
                                <span class="date">
                                    II кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    Программа для представителей
                                </h4>
                                <p class="desc">
                                    Программа, которая поможет продвижению и развитию нашего проекта.
                                </p>
                                <span class="date">
                                    II кв.
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2019 Q3</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <H4>
                                    ЛЬГОТНЫЙ ПЕРИОД
                                </H4>
                                <p class="desc">
                                    Льготный период с 01.07.2009 по 07.07.2009 для перевода средств на другие кошельки без необходимости участия в программе «Сильная рука».
                                </p>
                                <span class="date">
                                    Q3 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <H4>
                                    СИЛЬНЫЕ РУЧКИ
                                </H4>
                                <p class="desc">
                                    После льготного периода будет следующий снимок. Точное время для следующего снимка установлено на 8/7/2019 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    7/8/2019 00:00:00 UTC
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <H4>
                                    ПОДДЕРЖКА МОБИЛЬНЫХ БУМАЖНИКОВ
                                </H4>
                                <p class="desc">
                                    Вы можете использовать наш новый мобильный кошелек <a href="https://magnumwallet.co/" onclick="gtag ('event', 'click', {event_category: 'button', event_action: 'click', event_label: 'magnum'}); " target="_ blank"> Кошелек Magnum </a>.
                                </p>
                                <span class="date">
                                    Q3 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <H4>
                                    Мировой рынок металлов P2P
                                </H4>
                                <p class="desc">
                                    Веб-сайт <a href="http://freemarket.one/" target="_ blank" onclick="gtag ('event', 'click', {event_category: 'button', event_action: 'click', event_label: ' СВОБОДНЫЙ РЫНОК '}); "> FreeMarket.One </a>.
                                </p>
                                <span class="date">
                                    Q3 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <H4>
                                    ФУНКЦИЯ АНОНИМИЗАЦИИ
                                </H4>
                                <p class="desc">
                                    Первые идеи с интеграцией описаны в статье <a href="https://medium.com/@Html.Raw("@")xRhodium/bitcoin-rhodiums-path-towards-digital-freedom-making-transactions-private-6e07525b9ddc" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freedom'});">Путь Биткойна Родия к цифровой свободе : Сделать транзакции частными </a>.
                                </p>
                                <span class="date">
                                    Q3 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2019 Q4</li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <H4>
                                    СИЛЬНЫЕ РУЧКИ
                                </H4>
                                <p class="desc">
                                    Будет следующий снимок. Точное время для следующего снимка установлено на 01.10.2009 0:00:00 UTC.
                                </p>
                                <span class="date">
                                    10/1/2019 0:00:00 UTC
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <H4>
                                    ПОДДЕРЖКА АППАРАТНОГО ОБОРУДОВАНИЯ
                                </H4>
                                <p class="desc">
                                    Мы продолжим с поддержкой жесткого кошелька, начиная с Леджера, другого крупного игрока.
                                </p>
                                <span class="date">
                                    Q4 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <H4>
                                    Свободный Рынок Один
                                </H4>
                                <p class="desc">
                                    Первая альфа-версия <a href="http://www.freemarket.one/" target="_ blank" onclick="gtag ('event', 'click', {event_category: 'button', event_action: 'click' , event_label: 'freemarket'}); "> FreeMarket.One </a>.
                                </p>
                                <span class="date">
                                    Q4 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <H4>
                                    Кошелек Васаби на XRC TestNet
                                </H4>
                                <p class="desc">
                                    Новый кошелек Wasabi с функцией анонимизации CoinJoin в XRC TestNet.
                                </p>
                                <span class="date">
                                    Q4 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <H4>
                                    НОВЫЙ ЭЛЕКТРОМ-XRC РЕЛИЗ
                                </H4>
                                <p class="desc">
                                    Очередной выпуск кошелька xRhodium Electrum.
                                </p>
                                <span class="date">
                                    Q4 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2020</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <H4>
                                    ЛЬГОТНЫЙ ПЕРИОД
                                </H4>
                                <p class="desc">
                                    Льготный период с 01.01.2020 по 01.07.2020 для перевода средств на другие кошельки без необходимости участия в программе «Сильные руки».
                                </p>
                                <span class="date">
                                    Q1 2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <H4>
                                    Wasabi Web
                                </H4>
                                <p class="desc">
                                    Новый васаби-биткойн-родий <a href="https://wasabi.xrhodium.org" target="_ blank" onclick="gtag ('event', 'click', {event_category: 'button', event_action: 'click' , event_label: 'wasabi'}); "> Wasabi xRhodium </a>.
                                </p>
                                <span class="date">
                                    Q1 2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <H4>
                                    льготный период и сильные руки снэпшот
                                </H4>
                                <p class="desc">
                                    Льготный период 1/4/2020 - 04.04.2020 для перевода средств на другие кошельки без необходимости участия в программе «Сильная рука». Точное время для следующего снимка установлено на 5/4/2020 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    Q2 2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <H4>
                                    льготный период и сильные руки снэпшот
                                </H4>
                                <p class="desc">
                                    Льготный период 1/7/2020 - 4/7/2020 для перевода средств на другие кошельки без необходимости участия в программе «Сильная рука». Точное время для следующего снимка установлено на 5/7/2020 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    Q3 2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <H4>
                                    льготный период и сильные руки снэпшот
                                </H4>
                                <p class="desc">
                                    Льготный период 1/10/2020 - 4/10/2020 для перевода средств на другие кошельки без необходимости участия в программе «Сильные руки». Точное время для следующего снимка установлено на 5/10/2020 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    Q4 2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <H4>
                                    SQLITE ИНТЕГРАЦИЯ
                                </H4>
                                <p class="desc">
                                    Узел будет использовать SQLite. Решение с SQLite будет намного быстрее и стабильнее.
                                </p>
                                <span class="date">
                                    2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <H4>
                                    LEDGER ПОДДЕРЖКА Кошелька
                                </H4>
                                <p class="desc">
                                    Идет интеграция с кошельком Ledger третьей стороны. <br />
                                    ~ Срок доставки по компании Ledger. Попробуйте заставить их там <a href="https://github.com/LedgerHQ/ledger-app-btc/pull/131" target="_ blank" onclick="gtag ('event', 'click', { event_category: 'кнопка', event_action: 'click', event_label: 'ledger'}); "> Ledger GitHub </a>.
                                </p>
                                <span class="date">
                                    2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <H4>
                                    Free Market One - всемирная новая торговая платформа
                                </H4>
                                <p class="desc">
                                    В настоящее время, работая круглосуточно, все разработчики XRC делают <a href="https://www.freemarket.one/#roadmap" target="_ blank" onclick="gtag ('event', 'click', {event_category : 'button', event_action: 'click', event_label: 'freemarket'}); "> FreeMarket.One </a> их основная цель. Только XRC будет торговым токеном для этой платформы! Умные люди знают, что это значит.
                                </p>
                                <span class="date">
                                    <a href="https://www.freemarket.one/#roadmap" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FM.ONE RoadMap</a>
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <H4>
                                    Презентация нового RoadMap после выхода FM.ONE Vision # 1
                                </H4>
                                <p class="desc">
                                    После завершения этапа наращивания потенциала мы скорректируем сферу нашей деятельности, чтобы она была в большей степени ориентирована на пользователей и была ориентирована на использование потенциала в развитии экосистемы Биткойн-Родий.
                                </p>
                                <span class="date">
                                    After FM.ONE Vision 1 Release
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <H4>
                                    Партнеры Металл Родий
                                </H4>
                                <p class="desc">
                                    Установлено партнерство с рынком драгоценных металлов.
                                </p>
                                <span class="date">
                                    2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <H4>
                                    WASABI WALLET - с полным узлом XRC
                                </H4>
                                <p class="desc">
                                    Внедрение новых функций конфиденциальности в Васаби.
                                </p>
                                <span class="date">
                                    After FM.ONE Vision 1 Release
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2021 +</li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <H4>
                                    Поддержка прошивки X13 ASIC
                                </H4>
                                <p class="desc">
                                    Переговоры с поставщиками ASIC.
                                </p>
                                <span class="date">
                                    2021 +
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <H4>
                                    ФУНКЦИЯ АНОНИМИЗАЦИИ
                                </H4>
                                <p class="desc">
                                    Презентация следующих улучшений.
                                </p>
                                <span class="date">
                                    2021 +
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <H4>
                                    Интеграция с банкоматами
                                </H4>
                                <p class="desc">
                                    Переговоры с банкоматами.
                                </p>
                                <span class="date">
                                    2021 +
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year"></li>

                            <li class="start fa fa-bookmark"></li>
                            <li class="clear"></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>Отличительные особенности</h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>


        <div class="container services-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/crypto-trinity.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>Концепция «Крипто тринити»</h4>
                            <p>Биткоин Родиум заполняет пробел на рынке криптовалют и вместе с BTC и LTC образует эффективную экосистему под названием «Крипто тринити», которая удовлетворяет предпочтения большинства инвесторов.</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("CryptoTrinity", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'cryptotrinity'});">Узнать больше</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 center-box">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/stronghands.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>Программа «Твёрдые руки»</h4>
                            <p>Твёрдая рука и нежелание выходить из владения — те два качества, которые отличают инвесторов в Биткоин Родиум от остальных. Укрепите свои позиции за счет бесплатного участия в программе «Твёрдые руки».</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("StrongHandsAirdrop", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'strong-hands'});">Узнать больше</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/market.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>P2P рынок криптовалют и драгметаллов</h4>
                            <p>Одним из долгосрочных приоритетов Биткоин Родиума является предоставление децентрализованного метода обмена заинтересованным сторонам на рынках драгоценных металлов.</p>
                            <div class="btn-box">
                                <p><a href="@Url.MyAction("FreeMarket", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2p-market'});">Узнать больше</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>Биткоин Родиум</p>
                        <h2>сообщества</h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5>Твиттер</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>Дискорд</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5>Телеграм</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>Bitcoin Talk</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>


                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">

                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">Твиты @Html.Raw("@")xRhodium</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
                
            </div>
        </div>

    </footer>

    <a href="#0" class="cd-top">Top</a>

    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    @Html.Partial("_GoogleAnalytics")
</body>

</html>