﻿@using xRhodium.Controllers
@model HomeViewModel

@functions {

    private string GetReferer()
    {
        var query = string.Empty;

        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>

    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">
    <script src="/data/js/modernizr-custom.js"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">

    <style>
        .nav-menu > li > a {
            letter-spacing: 1px;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>

    <header id="subpage">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo-black.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>

                @Html.Partial("_NavigationRu")
            </div>
        </nav>
    </header>

    <section>
        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>Программа «Твёрдые руки» удерживайте и получайте вознаграждение</h2>
                        <p>Эирдроп держателям Биткоин Родиума.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-about">
                            <p>
                                Биткоин Родиум представляет программу, <strong>призванную поощрять держателей</strong> и стимулировать новые инвестиции. <strong>Каждые 3 месяца вы имеете возможность получить часть из 16072 XRC,</strong> распределяемую в виде вознаграждения в конце каждого цикла программы.
                            </p>
                            <p class="text-center"><img class="img-fluid" src="/data/img/master/bitcoin-rhodium-crypto-deposit.jpg?v2" /></p>
                            <h5>Как принять участие</h5>
                            <p>
                                <strong>Все держатели Биткоин Родиума становятся участниками автоматически</strong> Следовательно, пользователи <strong>не обязаны предпринимать никаких дополнительных действий</strong> для регистрации в программе. <strong>Автоматический снэпшот</strong> всех существующих адресов будет происходить в начале и в конце каждого 3-месячного цикла. <strong>Вознаграждения будут автоматически зачислены</strong> на адреса, которым удалось избежать любого отрицательного движения баланса за этот период.
                            </p>
                            <h5>Кто имеет право на вознаграждение</h5>
                            <p>
                                <strong>Каждые 3 месяца</strong>, награды будут распределяться по адресам, которые <strong>завершили 3-месячный цикл без каких-либо отрицательных изменений на их счетах</strong> (любая исходящая транзакция с адреса автоматически дисквалифицирует его держателя и лишает права на вознаграждение). По окончании указанного периода будут вознаграждены только адреса без исходящих транзакций. Вознаграждение будет начислено на первоначальный баланс адреса на начало периода, независимо от того, сколько было входящих транзакций за этот период. XRC, добавленный к балансу, если таковой имеется, учитывается только в следующем периоде после очередного снимка. <a href="#reward-examples">См. примеры ниже</a>
                            </p>
                            <h5>Сроки</h5>
                            <p>
                                Награды <strong>
                                    будут выплачиваться каждые 3 месяца
                                </strong> в течение <strong>
                                    окна через 2 недели после окончания каждого цикла
                                </strong>. <br> <br>
                                Первый цикл # 1 был запущен с помощью автоматического снимка 01.01.2009 (1 января 2019 г.) и завершился 01.04.2009 (1 апреля 2019 г.). <br>
                                Второй цикл # 2 был запущен с помощью автоматического снимка 01.04.2009 (1 апреля 2019 г.) и завершился 01.07.2009 (1 июля 2019 г.). <br>
                                Третий цикл № 3 был запущен с помощью автоматического снимка 08.07.2009 (8 июля 2019 г.) и завершился 01.10.2009 (1 октября 2019 г.). <br>
                                Четвертый цикл № 4 был запущен с помощью автоматического снимка 01.10.2009 (1 октября 2019 г.) и завершился 01.012020 (1 января 2020 г.). <br>
                                Пятый цикл № 5 был запущен с помощью автоматического снимка 08.01.2020 г. (8 января 2020 г.) и завершился 01.04.2020 г. (1 апреля 2020 г.). <br>
                                Шестой цикл № 6 был запущен с помощью автоматического снимка 05.04.2020 г. (5 апреля 2020 г.) и завершился 01.07.2020 г. (1 июля 2020 г.). <br><br>
                                Следующий цикл запланирован на период между 05.07.2020 (5 июля 2020 года) и 01.10.2020 00:00:01 UTC (1 октября 2020 года).
                                <br>
                                <strong>
                                    Следующий снимок
                                </strong> (баланс XRC квалифицирован для вознаграждений): 05.10.2020 00:00:01 UTC (5 октября 2020 г.)
                                <br>
                                Льготный период для перемещения средств с 01.10.2020 00:00:01 UTC (1 октября 2020 года) по 04.10.2020 23:59:59 UTC (4 октября 2020 года)
                            </p>
                            <h5>Финансирование</h5>
                            <p>
                                Вознаграждения будут покрываться за счет <strong>257 143 XRC</strong> (из 840 000 XRC) невостребованных в течение двух эирдропов. После завершения первого периода (начался 1 января 2019) <strong>будут распределены 8036 XRC</strong>. 210 000 XRC (предназначенных для маркетинга и разработки) <strong>не участвуют</strong> в этой программе.
                            </p>
                            <h5>Примеры <a name="reward-examples"></a></h5>
                            <p>
                                А. 10/1 баланс 100 XRC, до 1/1 не было отрицательных движений — начисляется <strong>вознаграждение</strong> на 100 XRC <br>
                                Б. 10/1 баланс 100 XRC, 1/1 на балансе 120 XRC (20 прибавилось) — начисляется <strong>вознаграждение</strong> только на 100 XRC <br>
                                В. 10/1 баланс 100 XRC, 1/1 на балансе 110 XRC (20 вы отправили, 30 получили) — <strong>Без вознаграждения</strong> (была исходящая транзакция) <br>
                                Г. 10/1 баланс 0 XRC, до 1/1 во время цикла вы получили 100 XRC — <strong>Без вознаграждения</strong> <br>
                                Адрес с нулевым балансом на момент снимка не получает <strong>никакого вознаграждения</strong> несмотря ни на что
                            </p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>Отличительные особенности</h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>

        <div class="container services-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/crypto-trinity.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>Концепция «Крипто тринити»</h4>
                            <p>Биткоин Родиум заполняет пробел на рынке криптовалют и вместе с BTC и LTC образует эффективную экосистему под названием «Крипто тринити», которая удовлетворяет предпочтения большинства инвесторов.</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("CryptoTrinity", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'cryptotrinity'});">Узнать больше</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 center-box">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/stronghands.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>Программа «Твёрдые руки»</h4>
                            <p>Твёрдая рука и нежелание выходить из владения — те два качества, которые отличают инвесторов в Биткоин Родиум от остальных. Укрепите свои позиции за счет бесплатного участия в программе «Твёрдые руки».</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("StrongHandsAirdrop", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'strong-hands'});">Узнать больше</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/market.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>P2P рынок криптовалют и драгметаллов</h4>
                            <p>Одним из долгосрочных приоритетов Биткоин Родиума является предоставление децентрализованного метода обмена заинтересованным сторонам на рынках драгоценных металлов.</p>
                            <div class="btn-box">
                                <p><a href="@Url.MyAction("FreeMarket", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2p-market'});">Узнать больше</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>Биткоин Родиум</p>
                        <h2>сообщества</h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5>Твиттер</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>Дискорд</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5>Телеграм</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>Bitcoin Talk</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>


                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">

                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">Твиты @Html.Raw("@")xRhodium</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
                
            </div>
        </div>

    </footer>

    <a href="#0" class="cd-top">Top</a>

    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    @Html.Partial("_GoogleAnalytics")
</body>

</html>