﻿@using xRhodium.Controllers
@model HomeViewModel

@functions {

    private string GetReferer()
    {
        var query = string.Empty;

        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>
    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">
    <script src="/data/js/modernizr-custom.js"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">

    <style type="text/css" media="screen">
        .telegram {
            margin-top: 70px;
            color: #0088cc
        }

        .twitter {
            color: #1DA1F2
        }

        .youtube {
            margin-top: 70px;
            color: #FF0000
        }
    </style>
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>

    <header id="subpage">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo-black.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>

                @Html.Partial("_NavigationCn")
            </div>
        </nav>
    </header>

    <section>
        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>大使计划</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-about">
                            <p>
                                我们准备为铑币全球支持者<strong>打开大门</strong>. 大使计划基于地点，技能和激情.
                            </p>
                            <p>您想成为数字自由生态系统的一部分来塑造明天的世界吗？那等什么呢？</p>
                            <p>
                                在您的城市创建当地的铑币社区<strong>组织定期的知识共享聚会，并代表我们成为铑币大使</strong>! 我们将为您提供所需的一切，为您的城市带来数字自由.
                            </p>
                            @*<p>
                                    如果您有兴趣参加，请填写此表格，以便XRC团队了解您的更多资料。 我们一直在寻找<strong>热心的支持者</strong>向全世界传播我们的信息.
                                </p>

                                <div class="btn-more-box">
                                    <a class="btn btn-custom" href="https://forms.gle/h9Wt9qANVgq52KqG7" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'ambassadorform'});">申请表</a>

                                </div>*@

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="section-title">
                        <h2>赏金计划</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-about">
                            <p class="twitter"><strong>TWITTER CAMPAIGN</strong></p>
                            <p>
                                有一个拥有1000个关注者及更多关注者的Twitter帐户吗？ 然后在Twitter上关注我们，发布少量推文并获得XRC！ 关于带有一些标签的比特币铑推文，您将获得奖励。 使用以下提交表格，并遵守申请中的可用规则！
                            </p>
                            <div class="btn-more-box">
                                <a class="btn btn-custom" href="https://docs.google.com/forms/d/e/1FAIpQLSfHlmQjHQhg5-XpuZ01gNKm-yOFj_XaB4KxmNfD1OqREFiUVg/viewform" target="_blank" onclick="gtag(&#39;event&#39;, &#39;click&#39;, { event_category: &#39;button&#39;, event_action: &#39;click&#39;, event_label: &#39;ambassadorform&#39;});">Twitter Submission Form</a>
                            </div>

                            <p class="telegram"><strong>TELEGRAM CAMPAIGN</strong></p>
                            <p>
                                在电报组上发帖，向其他成员介绍比特币铑，其功能和用例，并获得XRC作为奖励。 下面的表格中提供了完整的规则。
                            </p>
                            <div class="btn-more-box">
                                <a class="btn btn-custom" href="https://docs.google.com/forms/d/e/1FAIpQLSfj1zmfT4eEcVMrvKVVmwav-sGGWv0T3W6a8UdvC0fBhuZD2A/viewform" target="_blank" onclick="gtag(&#39;event&#39;, &#39;click&#39;, { event_category: &#39;button&#39;, event_action: &#39;click&#39;, event_label: &#39;ambassadorform&#39;});">Telegram Submission Form</a>
                            </div>

                            <p class="youtube"><strong>YOUTUBE CAMPAIGN</strong></p>
                            <p>
                                Youtube赏金活动会奖励评论比特币铑的内容创作者。 视频评论可以使用任何语言，并且必须至少5分钟。 表格上有更多信息和要求。
                            </p>
                            <div class="btn-more-box">
                                <a class="btn btn-custom" href="https://docs.google.com/forms/d/e/1FAIpQLScQbM6-XUVXcbxQ_ep2IX7fMr98162qkeEwGCqb9ZDmWnyJ2g/viewform" target="_blank" onclick="gtag(&#39;event&#39;, &#39;click&#39;, { event_category: &#39;button&#39;, event_action: &#39;click&#39;, event_label: &#39;ambassadorform&#39;});">Youtube Form</a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="section-title">
                        <h2>下载</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <tr>
                                <th></th>
                                <th>AI</th>
                                <th>PNG</th>
                            </tr>
                            <tr>
                                <td><strong>完整铑币白色标志</strong></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020-full-white.ai" target="_blank">logo2020-full-white.ai</a></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020-full-white.png" target="_blank">logo2020-full-white.png</a></td>
                            </tr>
                            <tr>
                                <td><strong>完整铑币黑色标志</strong></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020-full-black.ai" target="_blank">logo2020-full-black.ai</a></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020-full-black.png" target="_blank">logo2020-full-black.png</a></td>
                            </tr>
                            <tr>
                                <td><strong>铑币白色标志</strong></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020.ai" target="_blank">logo2020.ai</a></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020.png" target="_blank">logo2020.png</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>Tweets for sharing</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <tr>
                                <th>Text</th>
                                <th style="width: 250px">Url</th>
                            </tr>
                            <tr>
                                <td>我们的热情是开发一种主要由投资者长期持有的加密货币. @Html.Raw("@")xRhodium</td>
                                <td><a href="https://ctt.ac/aoddV" target="_blank">https://ctt.ac/aoddV</a></td>
                            </tr>
                            <tr>
                                <td>
                                    "强手"储蓄奖励计划:空投铑币持有人.
                                </td>
                                <td><a href="https://ctt.ac/dfqj6" target="_blank">https://ctt.ac/dfqj6</a></td>
                            </tr>
                            <tr>
                                <td>铑币的长期优先事项之一是为贵金属市场提供一个分散对等交换方法.</td>
                                <td><a href="https://ctt.ac/kaXqR" target="_blank">https://ctt.ac/kaXqR</a></td>
                            </tr>
                            <tr>
                                <td>我们认为铑币价值是因为它稀缺，而有很多选项吸引大型和长期投资者. @Html.Raw("@")xRhodium</td>
                                <td><a href="https://ctt.ac/7y7po" target="_blank">https://ctt.ac/7y7po</a></td>
                            </tr>
                            <tr>
                                <td>比特铑币及其用例填补了加密市场的空白，与BTC和LTC一起构成了一个高效的生态系统, 加密"三位一体概念"，满足了大多数投资者的需求.</td>
                                <td><a href="https://ctt.ac/9Wf9s" target="_blank">https://ctt.ac/9Wf9s</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>分享文章</h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>

        <div class="container sharing" id="blog">
            <div class="row">
                <div class="col-lg-12">
                    <div id="medium-widget"></div>
                    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
                    <script>MediumWidget.Init({ renderTo: '#medium-widget', params: { "resource": "https://medium.com/xrhodium", "postsPerLine": 3, "limit": 9, "picture": "big", "fields": ["description", "author", "publishAt"], "ratio": "landscape" } })</script>

                </div>
            </div>

        </div>

        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>比特铑币</p>
                        <h2>社区</h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5>Twitter</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>Discord</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5>Telegram(电报)</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>Bitcoin Talk(比特币对话)</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>


                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">

                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">铑币Tweets推文</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
                
            </div>
        </div>

    </footer>

    <a href="#0" class="cd-top">Top</a>

    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    @Html.Partial("_GoogleAnalytics")
</body>

</html>