﻿@using xRhodium.Controllers
@model HomeViewModel

@functions {

    private string GetReferer()
    {
        var query = string.Empty;

        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>

    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="xRhodium (XRC) - Base currency for the FreeMarketOne" />
    <meta name="twitter:image" content="https://xrhodium.org/twitter-card.png" />

    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <script src="/data/js/modernizr-custom.js"></script>
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>

    <header id="home">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>

                @Html.Partial("_NavigationCn")
            </div>
        </nav>
        <div class="heroe-bg">
            <div class="videobg">
                <div class="videobg-width">
                    <div class="videobg-aspect">
                        <div class="videobg-make-height">
                            <div class="videobg-hide-controls">
                                <iframe src="https://player.vimeo.com/video/337018498?autoplay=1&loop=1&title=0&byline=0&portrait=0&muted=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="middle">
                <div class="word"></div>
                <div class="social-icons">

                    <a href="https://twitter.com/xrhodium_xrc" target="_blank" class="video-button" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'twitter'});"><i class="fab fa-twitter" aria-hidden="true"></i> 关注我们的 TWITTER</a>
                    <a href="https://discord.gg/WmxceSm" target="_blank" class="video-button" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'discord'});"><i class="fab fa-discord" aria-hidden="true"></i> 加入我们的 DISCORD 社区</a>

                </div>
                <div class="social-icons">
                    <a href="@Url.MyAction("AmbassadorProgram", new { r = Model.Referer })" class="video-button" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'ambassador'});"><i class="fa fa-user" aria-hidden="true"></i> 成为铑币大使</a>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container" id="teaser">
            <div class="row">
                <div class="col-lg-12">
                    <div class="home-teaser">

                        <p class="mb60">

                            <span class="bolder" style="color: #ff9900 !important;">铑币不是一个</span> 比特币复制代码. 而是一种全新开发的 <span class="bolder" style="color: #ff9900 !important;">虚拟币</span>.

                        </p>
                        <p class="imporant">总量只有 2.1百万枚 XRC币</p>

                    </div>
                </div>
            </div>
        </div>

        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="home-about">
                            <h5>About xRhodium</h5>
                            <p>
                                <strong>比特铑币</strong> 是一种新的加密商品，稀有，限量 和 抗审查性 的加密货币, 为未来财务保值.
                                它不仅是提供一种支付方式，而且提供一种真正有价值的商品，它将与比特币一起成为宝贵的投资. 比特铑币使用其独特的区块链 <strong>其总供应量为2.1百万枚XRC</strong>. 它用C＃语言编程,并通过工作量证明（Proof-of-Work，PoW)来产生区块. <strong>所有长期投资者都可参与"强手储蓄计划" </strong> 每3个月分红,股利保证高投资回报率. <strong>目前正在开发的用例, 包括点对点 铑币-金属 市场</strong> 将把加密世界与传统投资世界联系起来.
                                比特铑币也将使用
                            </p>
                            <h5>白 皮书</h5>
                            <p>阅读官方铑币白皮书. 允许将此材料用于公关用途.</p>
                            <div class="btn-more-box">
                                <a class="btn btn-custom-small" href="https://www.xrhodium.org/Whitepaper.pdf" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'whitepaper'});">白皮书</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="home-icon-box">
                            <div class="coinmarketcap-currency-widget" data-currencyid="3839" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="true"></div>

                        </div>

                        <div class="home-icon-box">
                            <figure class="icon-pic"><img src="/data/img/master/ico-freedom-dark.png" alt="" /></figure>
                            <h3>隐密交易</h3>
                            <p>我们的目标是开发一种由 长线投资者 持有的 加密货币. 比特铑币也将使用其中一个匿名保密编码: CoinJoin, Confidential Transactions 或 MimbleWimble.</p>
                            <div class="btn-more-box">
                                <a class="btn btn-custom-small" href="https://medium.com/@Html.Raw("@")xRhodium/bitcoin-rhodiums-path-towards-digital-freedom-making-transactions-private-6e07525b9ddc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freedom'});">阅读更多..</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>用 例</h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>

        <div class="container services-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/crypto-trinity.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>加密币 三位一体 概念</h4>
                            <p>比特铑币使用案例填补了加密市场的缺口，与BTC比特币和LTC莱特币一起构成了一个高效的生态系统，即加密币 三位一体概念，可满足大多数投资者的需求</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("CryptoTrinity", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'cryptotrinity'});">阅读更多..</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 center-box">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/stronghands.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>"强手"储蓄计划</h4>
                            <p>"强手"储蓄 与 反通货膨胀; 这两种特质 让我们的投资者与其他区别开来. 通过免费参与, 增强你的财富</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("StrongHandsAirdrop", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'strong-hands'});">阅读更多..</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/market.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>点对点 铑币-金属 市场</h4>
                            <p>其中一个长期发展重点之一是为铑币投资者提供点对点 贵金属去中心化交易机制.</p>
                            <div class="btn-box">
                                <p><a href="@Url.MyAction("FreeMarket", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2p-market'});">阅读更多..</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="exchanges">
            <div class="section-title">
                <h2>交易所</h2>
                <p>比特铑币 (代码 XRC).</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://bisq.network/markets/?currency=xrc_btc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bisq-download'});"><img src="/data/img/master/bisq.png" alt="BISQ Exchange" /></a>
                        </figure>
                        <h6><a href="https://bisq.network/markets/?currency=xrc_btc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bisq-download'});">BISQ 网络 (BTC)</a></h6>
                        <p>
                            Bisq 是一个开源点对点的应用程序，允许以本地货币买卖加密货币. 无需注册
                            <a href="https://youtu.be/UNAiBEuBaJ4" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bisq-manual'});">BISQ YouTube 手册.</a>
                        </p>
                        <div class="btn-box">
                            <a class="btn btn-custom-small" href="https://bisq.network/markets/?currency=xrc_btc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bisq-download'});">打开</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://folgory.com/trade-crypto/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'folgory'});"><img src="/data/img/master/folgory.png" alt="Folgory" /></a>

                        </figure>
                        <h6><a href="https://folgory.com/trade-crypto/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'folgory'});">Folgory (BTC, ETH, USD, EUR, USDC)</a></h6>
                        <p>Folgory（隶属于Hashfort）是位于爱沙尼亚的受监管的集中式交易所。它支持EUR，USDC法定货币对.</p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://folgory.com/trade-crypto/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'folgory'});">Open</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://p2pb2b.io/trade/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2pb2b'});"><img src="/data/img/master/p2pb2b.png" alt="P2PB2B" /></a>

                        </figure>
                        <h6><a href="https://p2pb2b.io/trade/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2pb2b'});">P2PB2B (USD, BTC, ETH)</a></h6>
                        <p>是世界上发展最快的交易所，为投资者和交易者提供独特的条件.</p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://p2pb2b.io/trade/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2pb2b'});">打开</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://www.fatbtc.com/trading?currency=XRC%2FBTC&amp;freetab=0" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'fatbtc'});"><img src="/data/img/master/fatbtc.png" alt="FatBTC"></a>
                        </figure>
                        <h6><a href="https://www.fatbtc.com/trading?currency=XRC%2FBTC&amp;freetab=0" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'fatbtc'});">FatBTC (BTC, CNY)</a></h6>
                        <p>FatBTC是一家中国加密货币交易所，接受当地银行转账.</p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://www.fatbtc.com/trading?currency=XRC%2FBTC&amp;freetab=0" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'fatbtc'});">打开</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://changelly.com/exchange/usd/xrc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'changelly'});"><img src="/data/img/master/changelly.png" alt="Changelly" /></a>

                        </figure>
                        <h6><a href="https://changelly.com/exchange/usd/xrc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'changelly'});">Changelly (BTC, ETH, XRP, USD, EUR, GBP)</a></h6>
                        <p>快速安全地购买或交换150多种加密货币的方式。您可以更改-比特币BTC，以太坊ETH，Ripple XRC，美元USD，欧元EUR或英镑GBP.</p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://changelly.com/exchange/usd/xrc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'changelly'});">Open</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://hitbtc.com/exchange/XRC-to-BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'hitbtc'});"><img src="/data/img/master/hitbtc.png" alt="HitBTC" /></a>

                        </figure>
                        <h6><a href="https://hitbtc.com/exchange/XRC-to-BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'hitbtc'});">HitBTC (BTC)</a></h6>
                        <p>HitBTC是一种直观可靠的交换，允许用户交易一些加密货币最受欢迎的资产。</p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://hitbtc.com/exchange/XRC-to-BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'hitbtc'});">Open</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg id="curveUpColor-counter" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="some_facts">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="inner-counter">
                            <div class="counter-statistics">
                                <div class="counter">2.1 百万</div>
                                <h5>供应量</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="inner-counter">
                            <div class="counter-statistics">
                                <div class="counter">新</div>
                                <h5>区块链</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="inner-counter">
                            <div class="counter-statistics">
                                <div class="counter">X13</div>
                                <h5>工作证明 采矿</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="inner-counter last-box-counter">
                            <div class="counter-statistics">
                                <div class="counter">4MB</div>
                                <h5>数据块大小</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-counter" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>

        <div class="container">
            <div class="testimonials-box">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="home-icon-box">
                            <figure class="icon-pic"><i class="fa fa-cubes icon-color mt-10"></i></figure>
                            <h3>技术规格</h3>
                            <p>
                                2.1 百万 XRC<br />
                                工作证明 X13<br />
                                <a onclick="gtag('event', 'click', { event_category: 'link', event_action: 'click', event_label: 'gitlab code source'});" href="https://gitlab.com/xRhodium/BRhodiumNode" target="_blank">C# 开源代码</a><br />
                                区块间隔 target 目标10分钟<br />
                                数据块大小 4 MB<br />
                                难度调整 每2016块
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="home-icon-box">
                            <figure class="icon-pic"><i class="fa fa-exchange-alt icon-color m15"></i></figure>
                            <h3>分配</h3>
                            <p>
                                50％ 可开采 (1 050 000 XRC)<br />
                                28% 空投 (582 857 XRC)<br />
                                12% 8年股息分配 (257 143 XRC)<br />
                                5% 推广预留  (105 000 XRC)<br />
                                5% 开发预留 (105 000 XRC)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="home-icon-box">
                            <figure class="icon-pic"><img src="/data/img/master/ico-freedom-dark.png" alt="" /></figure>
                            <h3>匿名功能</h3>
                            <p>
                                <strong>比特铑币也将使用其中一个匿名保密编码: CoinJoin, Confidential Transactions 或 MimbleWimble</strong>.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="home-icon-box">
                            <figure class="icon-pic"><i class="fa fa-sync-alt icon-color"></i></figure>
                            <h3>流通币总数</h3>
                            <p>
                                ~ 940 000 XRC 从总数 2 100 000 XRC
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg id="curveUpColor-team" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
        </svg>

        <div class="container-fluid inner-color" id="team">
            <div class="container">
                <div class="section-title">
                    <h2>核心团队</h2>
                    <p>比特币铑是社区驱动的硬币。 这是我们核心权力下放社区成员的地图.</p>
                </div>
                <div>
                    <p class="text-center"><img class="img-fluid" src="/data/img/master/core-team.png?v3" alt="xRhodium Core Team" /></p>
                </div>
            </div>
        </div>

        <svg id="curveDownColor-team" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
        </svg>

        <div class="container" id="blog">
            <div class="section-title">
                <h2>最近文章</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="medium-widget"></div>
                    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
                    <script>MediumWidget.Init({ renderTo: '#medium-widget', params: { "resource": "https://medium.com/xrhodium", "postsPerLine": 3, "limit": 9, "picture": "big", "fields": ["description", "author", "publishAt"], "ratio": "landscape" } })</script>

                </div>
            </div>

        </div>

        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>比特铑币</p>
                        <h2>社区</h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5>Twitter</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>Discord</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5>Telegram(电报)</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>Bitcoin Talk(比特币对话)</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>


                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">

                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">铑币Tweets推文</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
                
            </div>
        </div>

    </footer>

    <a href="#0" class="cd-top">Top</a>

    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110519512-1"></script>
    <script type="text/javascript">

        var timeoutId;
        var $videoBgAspect = $(".videobg-aspect");
        var $videoBgWidth = $(".videobg-width");
        var videoAspect = $videoBgAspect.outerHeight() / $videoBgAspect.outerWidth();

        function videobgEnlarge() {
            windowAspect = ($(window).height() / $(window).width());

            if (windowAspect > videoAspect) {
                var aspect = (windowAspect / videoAspect) * 100;
                $videoBgWidth.width(aspect + '%');
            } else {
                $videoBgWidth.width(100 + "%");
            }

            $("#home").height($(window).height());
            $(".heroe-bg").height($(window).height());
        }

        $(window).resize(function () {
            clearTimeout(timeoutId);
            timeoutId = setTimeout(videobgEnlarge, 100);
        });

        $(function () {
            videobgEnlarge();
        });
    </script>
    @Html.Partial("_GoogleAnalytics")
</body>

</html>