﻿@using xRhodium.Controllers
@model HomeViewModel

@functions {

    private string GetReferer()
    {
        var query = string.Empty;

        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>
    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">
    <script src="/data/js/modernizr-custom.js"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>

    <header id="subpage">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo-black.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>

                @Html.Partial("_NavigationCn")
            </div>
        </nav>
    </header>

    <section>
        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>Road Map</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline list-unstyled">
                            <li class="year">2017</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
                                <h4>
                                    启动网站
                                </h4>
                                <p class="desc">
                                    公开开放官方网站, 包括有关该项目的所有关键信息.
                                </p>
                                <span class="date">
                                    2017年12月
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
                                <h4>
                                    第一阶段空投,第一次公告
                                </h4>
                                <p class="desc">
                                    邀请用户在12月25日之前注册比特币BTC地址，以获得第一批5枚空投枚.
                                </p>
                                <span class="date">
                                    2017年12月13日至12月25日
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
                                <h4>
                                    第二阶段空投,第一次公告
                                </h4>
                                <p class="desc">
                                    第二阶段，在1月10日之前注册非零余额, 可获10倍BTC余额数量的XRC（每BTC获10XRC).
                                    <span class="date">
                                        17年12月26日至18年1月10日
                                    </span>
                                    <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2018年第一季</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <h4>
                                    快照记录
                                </h4>
                                <p class="desc">
                                    为第二阶段的空投 快照比特币区块链记录.
                                </p>
                                <span class="date">
                                    18年1月10日
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    比特铑币钱包
                                </h4>
                                <p class="desc">
                                    铑币推出私人网上钱包 提供互联网平台 存储来自空投的XRC币.
                                </p>
                                <span class="date">
                                    2018年1月
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    第一次空投
                                </h4>
                                <p class="desc">
                                    在第1和第2阶段正确注册其的用户, 将在他们的私人钱包中收到相应数量的铑币空 投到他们的私人比特币铑钱包中. 沿途出现了一些技术难题,已启动了后续的重签过程.
                                </p>
                                <span class="date">
                                    从2018年1月18日
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    重签验证期
                                </h4>
                                <p class="desc">
                                    若是忘记电子签名，无效或任何其他技术困难, 用户允许再次提交他们XRC的申请. 作为重新签署过程的一部分，这提案获得了广泛的支持.
                                </p>
                                <span class="date">
                                    2018年2月
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    比特铑币 浏览器
                                </h4>
                                <p class="desc">
                                    公布 比特铑币 浏览器, 区块浏览器将在稍后添加.
                                </p>
                                <span class="date">
                                    2018年2月
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    申请期结束
                                </h4>
                                <p class="desc">
                                    申请关闭.
                                </p>
                                <span class="date">
                                    2018年3月31日
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2018年第二季</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    推出测试网
                                </h4>
                                <p class="desc">
                                    推出测试网来测试 采矿池，交易，钱包的功能和稳定性
                                    <a href="https://testnet.xrhodium.org/">https:// testnet.xrhodium.org</a>
                                </p>
                                <span class="date">
                                    第二季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">2018第3季</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    ELECTRUM 钱包在测试网上推出
                                </h4>
                                <p class="desc">
                                    Electrum 是在线钱包的另类选择 已在测试网上进行测试，准备在主网上全面启动.
                                </p>
                                <span class="date">
                                    第3季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    COINIUM采矿池在测试网上测试
                                </h4>
                                <p class="desc">
                                    来自铑币社区一定数量的矿工加入了 Coinium 采矿池软 在测试矿 上运行测试.<br />&nbsp;
                                </p>
                                <span class="date">
                                    第3季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    网络
                                </h4>
                                <p class="desc">
                                    稳定和压力测试.
                                </p>
                                <span class="date">
                                    第3季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    测试网上开放浏览器
                                </h4>
                                <p class="desc">
                                    有完整区块功能的浏览器在测试网上推出.
                                </p>
                                <span class="date">
                                    第3季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    比特铑币钱包安全技术改进
                                </h4>
                                <p class="desc">
                                    新的屏蔽功能将添加到铑币钱包 降低黑客攻击的可能性.
                                </p>
                                <span class="date">
                                    第3季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    服务器网络 去中心化
                                </h4>
                                <p class="desc">
                                    在此可以观察 去中心化服务器的网络: <a href="https://network.xrhodium.org/">https:// network.xrhodium.org</a>
                                </p>
                                <span class="date">
                                    第3季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    第二次空投
                                </h4>
                                <p class="desc">
                                    为了提高最大效用和整体接受度 第二轮也是最后一轮空投.在第二个空投之后，空投供应总为582,857 XRC.
                                </p>
                                <span class="date">
                                    第3季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2018年第四季</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    主网启动
                                </h4>
                                <p class="desc">
                                    在10月22日，比特铑币主网正式上线 吸引了以前和新社区成员以及更广泛加密社区的关注.随后成立了一个OTC柜台市场.投资者开始决定市场价格.
                                </p>
                                <span class="date">
                                    第四季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    MININGCORE 采矿池启动
                                </h4>
                                <p class="desc">
                                    随着Coinium采矿池软件架构引起的技术问题, 及Miningcore软件的落实, 哈希值暴涨带给矿工无与伦比的兴趣
                                </p>
                                <span class="date">
                                    第四季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    铑币市场平台
                                </h4>
                                <p class="desc">
                                    第一批纪念品将介绍给铑币社区，以支持开发和营销费用.
                                </p>
                                <span class="date">
                                    第四季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    ELECTRUM 钱包
                                </h4>
                                <p class="desc">
                                    推出 Electrum 钱包给铑币持有者另一种储存方式 <a href="https://electrum.xrhodium.org/">Electrum 钱包</a>.
                                </p>
                                <span class="date">
                                    第四季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    三位一体 概念
                                </h4>
                                <p class="desc">
                                    我们新的愿景是与BTC和LTC合作.
                                </p>
                                <span class="date">
                                    2018年11月
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    "强手"储蓄计划
                                </h4>
                                <p class="desc">
                                    储蓄及获得奖励
                                </p>
                                <span class="date">
                                    第四季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    BISQ支持铑币
                                </h4>
                                <p class="desc">
                                    Bisq 是一个开源桌面应用程序，允许以法定货币或其他加密代币买卖比特币.
                                </p>
                                <span class="date">
                                    2018年12月
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">2019年第一季</li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    第一个交易所上市
                                </h4>
                                <p class="desc">
                                    预计将在2019年第一季度末 在主要的交易所上市.
                                </p>
                                <span class="date">
                                    2019年第一季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    GITLAB 源代码公开
                                </h4>
                                <p class="desc">
                                    正如承诺，在上市后，各种组件代的编码通过GitLab供公众开放.开发团队决定延迟至今发布，以确保网络和用户的最大安全.
                                    <span class="date">
                                        2019年第一季
                                    </span>
                                    <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">2019年第二季</li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    新 ELECTRUM-XRC 钱包软件
                                </h4>
                                <p class="desc">
                                    铑币电子钱包的下一个版本.移动资金的宽限期将在第三季开始.
                                </p>
                                <span class="date">
                                    2019年第二季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    支持硬件钱包
                                </h4>
                                <p class="desc">
                                    等待Trezor新固件全面支持XRC <a href="https://github.com/xRhodiumodium/trezor-common" target="_blank">https:// github.com/ xRhodiumodium/ trezor-common</a>.
                                    您可以在<a href="https://trezor.io/coins/" target="_blank">官方Trezor硬币支持列表</a>上找到实际状态。<br />
                                    〜预计：每天。
                                </p>
                                <span class="date">
                                    2019年第二季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    大使计划
                                </h4>
                                <p class="desc">
                                    计划将有助进一步展示和发展我们的项目.
                                </p>
                                <span class="date">
                                    2019年第二季
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2019年第三季度</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    宽限期
                                </h4>
                                <p class="desc">
                                    宽限期7/1/2019-7/7/2019将资金转移到其他钱包，而无需使用Strong Hand计划。
                                </p>
                                <span class="date">
                                    2019年第三季度
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    强手快照
                                </h4>
                                <p class="desc">
                                    宽限期之后将有下一个快照。下一个快照的确切时间设置为7/8/2019 00:00:00 UTC。
                                </p>
                                <span class="date">
                                    7/8/2019 00:00:00 UTC
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    移动钱包支持
                                </h4>
                                <p class="desc">
                                    您可以使用我们的新手机钱包 <a href="https://magnumwallet.co/" onclick="gtag ('event', 'click', {event_category: 'button', event_action: 'click', event_label: 'magnum'}); " target="_ blank">Magnum钱包</a>。
                                </p>
                                <span class="date">
                                    2019年第三季度
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    全球P2P金属市场
                                </h4>
                                <p class="desc">
                                    的网站 <a href="http://freemarket.one/" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FreeMarket.One</a>.
                                </p>
                                <span class="date">
                                    2019年第三季度
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    匿名功能
                                </h4>
                                <p class="desc">
                                    文章 <a href="https://medium.com/@Html.Raw("@")xRhodium/bitcoin-rhodiums-path-towards-digital-freedom-making-transactions-private-6e07525b9ddc" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freedom'});">比特币铑的数字自由之路：将交易设为私有</a>。
                                </p>
                                <span class="date">
                                    2019年第三季度
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2019 Q4</li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    强手快照
                                </h4>
                                <p class="desc">
                                    将有下一个快照。下一个快照的确切时间设置为10/1/2019 0:00:00 UTC。
                                </p>
                                <span class="date">
                                    10/1/2019 0:00:00 UTC
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    硬件钱包支持
                                </h4>
                                <p class="desc">
                                    我们将从另一家大型企业Ledger开始继续提供硬性钱包支持。
                                </p>
                                <span class="date">
                                    2019年第四季度
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    自由市场一
                                </h4>
                                <p class="desc">
                                    的第一个Alpha版本 <a href="http://www.freemarket.one/" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FreeMarket.One</a>.
                                </p>
                                <span class="date">
                                    2019年第四季度
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    XRC TestNet上的Wasabi钱包
                                </h4>
                                <p class="desc">
                                    XRC TestNet上具有CoinJoin匿名化功能的新型Wasabi钱包。
                                </p>
                                <span class="date">
                                    2019年第四季度
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    新的电子XRC版本
                                </h4>
                                <p class="desc">
                                    下一个版本的比特币铑电子钱包。
                                </p>
                                <span class="date">
                                    2019年第四季度
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2020</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    宽限期
                                </h4>
                                <p class="desc">
                                    宽限期1/1/2020-7/1/2020，用于将资金转移到其他钱包，而无需使用Strong Hand计划。
                                </p>
                                <span class="date">
                                    2020年第一季度
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    山葵网
                                </h4>
                                <p class="desc">
                                    新芥末铑网 <a href="https://wasabi.xrhodium.org" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'wasabi'});">Wasabi xRhodium</a>.
                                </p>
                                <span class="date">
                                    2020年第一季度
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    宽限期和强手快照
                                </h4>
                                <p class="desc">
                                    宽限期1/4/2020-4/4/2020，用于将资金转移到其他钱包，而无需使用Strong Hand计划。下一个快照的确切时间设置为5/4/2020 00:00:00 UTC。
                                </p>
                                <span class="date">
                                    2020年第二季度
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    宽限期和强手快照
                                </h4>
                                <p class="desc">
                                    宽限期1/7/2020-4/7/2020，用于将资金转移到其他钱包，而无需使用Strong Hand计划。下一个快照的确切时间设置为5/7/2020 00:00:00 UTC。
                                </p>
                                <span class="date">
                                    2020年第三季度
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    宽限期和强手快照
                                </h4>
                                <p class="desc">
                                    宽限期1/10/2020-4/10/2020，用于将资金转移到其他钱包，而无需使用Strong Hand计划。下一个快照的确切时间设置为5/10/2020 00:00:00 UTC。
                                </p>
                                <span class="date">
                                    2020年第四季度
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    SQLITE集成
                                </h4>
                                <p class="desc">
                                    节点将使用SQLite。使用SQLite的解决方案将更快，更稳定。
                                </p>
                                <span class="date">
                                    2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    LEDGER 钱包支持
                                </h4>
                                <p class="desc">
                                    第三方Ledger钱包集成正在进行中。<br />
                                    〜交货期限为LEDGER公司。尝试强迫他们在那里 <a href="https://github.com/LedgerHQ/ledger-app-btc/pull/131" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'ledger'});">Ledger GitHub</a> .
                                </p>
                                <span class="date">
                                    2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    自由市场一-世界新交易平台
                                </h4>
                                <p class="desc">
                                    目前，所有XRC开发人员都昼夜不停地在 <a href="https://www.freemarket.one/#roadmap" target="_ blank" onclick="gtag ('event', 'click', {event_category : 'button', event_action: 'click', event_label: 'freemarket'}); "> FreeMarket。一个</a>其主要目标。 仅XRC将是此平台的本地贸易代币！ 聪明的人知道这意味着什么。
                                </p>
                                <span class="date">
                                    <a href="https://www.freemarket.one/#roadmap" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FM.ONE路线图</a>
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    FM.ONE Vision＃1发布后展示新的RoadMap
                                </h4>
                                <p class="desc">
                                    在能力建设阶段完成后，我们将调整活动范围，以用户为中心，并着眼于开发比特币铑生态系统的潜力。
                                </p>
                                <span class="date">
                                    FM.ONE Vision 1发布后
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    金属铑合作伙伴
                                </h4>
                                <p class="desc">
                                    与贵金属市场建立合作关系。
                                </p>
                                <span class="date">
                                    2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    WASABI WALLET - 具有完整的XRC节点
                                </h4>
                                <p class="desc">
                                    在Wasabi中实现新的隐私功能。
                                </p>
                                <span class="date">
                                    FM.ONE Vision 1发布后
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2021 +</li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    X13 ASIC 固件支持
                                </h4>
                                <p class="desc">
                                    与ASIC供应商的谈判。
                                </p>
                                <span class="date">
                                    2021 +
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    匿名功能
                                </h4>
                                <p class="desc">
                                    介绍下一个改进。
                                </p>
                                <span class="date">
                                    2021 +
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    ATM整合
                                </h4>
                                <p class="desc">
                                    与ATM供应商的谈判。
                                </p>
                                <span class="date">
                                    2021 +
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year"></li>

                            <li class="start fa fa-bookmark"></li>
                            <li class="clear"></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>用 例</h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>

        <div class="container services-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/crypto-trinity.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>加密币 三位一体 概念</h4>
                            <p>比特铑币使用案例填补了加密市场的缺口，与BTC比特币和LTC莱特币一起构成了一个高效的生态系统，即加密币 三位一体概念，可满足大多数投资者的需求</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("CryptoTrinity", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'cryptotrinity'});">阅读更多..</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 center-box">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/stronghands.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>"强手"储蓄计划</h4>
                            <p>"强手"储蓄 与 反通货膨胀; 这两种特质 让我们的投资者与其他区别开来. 通过免费参与, 增强你的财富</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("StrongHandsAirdrop", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'strong-hands'});">阅读更多..</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/market.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>点对点 铑币-金属 市场</h4>
                            <p>其中一个长期发展重点之一是为铑币投资者提供点对点 贵金属去中心化交易机制.</p>
                            <div class="btn-box">
                                <p><a href="@Url.MyAction("FreeMarket", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2p-market'});">阅读更多..</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>比特铑币</p>
                        <h2>社区</h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5>Twitter</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>Discord</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5>Telegram(电报)</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>Bitcoin Talk(比特币对话)</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>


                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">

                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">铑币Tweets推文</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
                
            </div>
        </div>

    </footer>


    <a href="#0" class="cd-top">Top</a>

    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    @Html.Partial("_GoogleAnalytics")
</body>

</html>