﻿@using xRhodium.Controllers
@model HomeViewModel

@functions {

    private string GetReferer()
    {
        var query = string.Empty;

        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>
    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">
    <script src="/data/js/modernizr-custom.js"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>

    <header id="subpage">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo-black.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>

                @Html.Partial("_NavigationCn")
            </div>
        </nav>
    </header>

    <section>
        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>"强手"储蓄计划<br />储蓄 及 奖励计划</h2>
                        <p>空投比特幣銠持有人.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-about">
                            <p>
                                比特铑币 "强手"储蓄计划是一个创新的用例 <strong>奖励积极储户</strong> 并刺激新的投资. <strong>每3个月周期就可以从 </strong> 16072XRC分配到股息.
                            </p>
                            <p class="text-center"><img class="img-fluid" src="/data/img/master/bitcoin-rhodium-crypto-deposit-cn.jpg?v2" /></p>
                            <h5>如何参与</h5>
                            <p>
                                <strong>所有铑币持有人都可以参加,</strong> 他们的钱包地址将自动收录在计划中. 因此, <strong>不需采取任何动作</strong>来参与这周期计划. 自动<strong>钱包快照</strong>会将账户余额在每3个月周期的开始和结束时记录下来 (请注意，对于钱包快照记录, 一个周期的结束也是另一个周期的开始). <strong>股息将自动存入</strong> 到任何没有提款钱包的地址内.
                            </p>
                            <h5>谁有资格</h5>
                            <p>
                                <strong>每3个月</strong>, 在完成3个月的周期后，如果钱包地址没有任何提取, <strong>股利会发放到钱包地址中</strong> (从相应地址任何转出,该地址都会自动取消其分红资格).无论是否添加任何额外的XRC, 分红将根据该期间钱包地址的最初余额. 如果有添加额外的XRC, 会计入下一期.
                            </p>
                            <h5>时段</h5>
                            <p>
                                <strong>奖励</strong>
                                将在每个周期结束后2周的<strong>
                                    窗口内每3个月
                                </strong>支付。<br> <br>
                                第一个周期＃1是通过自动快照在01/01/2019（2019年1月1日）启动的，并在04/01/2019（2019年4月1日）结束。<br>
                                第二个周期＃2由自动快照启动于04/01/2019（2019年4月1日）启动，并于07/01/2019（2019年7月1日）结束。<br>
                                第三个周期＃3是通过自动快照于2019年8月8日（2019年7月8日）启动的，并于2019年10月1日（2019年10月1日）结束。<br>
                                第四周期＃4是通过自动快照于2019年10月1日（2019年10月1日）启动的，并于2020年1月1日（2020年1月1日）结束。<br>
                                第五个周期＃5是通过自动快照于2020年1月8日（2020年1月8日）启动的，并于2020年4月1日（2020年4月1日）结束。<br> <br>
                                下一个周期计划为UTC时间2020年4月5日（2020年4月5日）至2020年7月1日00:00:01（2020年7月1日）。
                                <br>
                                <strong>
                                    下一个快照
                                </strong>（XRC余额有资格获得奖励）：2020年7月5日世界标准时间（2020年7月5日）
                                <br>
                                流动资金的宽限期为：UTC 07/01/2020 00:00:01（2020年7月1日）-UTC 07/04/2020 23:59:59 UTC（2020年7月4日）
                            </p>
                            <h5>股息资金</h5>
                            <p>
                                股息来自 <strong>在两次空投中(总额840,000 XRC) 而无人认领的 257,143 XRC</strong>   在 2019年1月1日 之后的第一期 <strong>将分发 8036 XRC</strong>. 预先专门用于营销和项目开发的210,000枚XRC <strong>将被排除在该计划计算之外</strong> 因此不会惠受此计划.
                            </p>
                            <h5>例子</h5>
                            <p>
                                A: 10月1日: 100 XRC, 1月1日: 100 XRC: 没有提款 <strong>股息计算</strong> 包括 100 XRC<br />
                                B: 10月1日: 100 XRC, 1月1日: 120 XRC: 没有提款 (期间再存20个币): <strong>股息计算</strong> 包括 100 XRC<br />
                                C: 10月1日: 100 XRC, 1月1日: 110 XRC: 转出20币, 在季度转入30币 during quarter” <strong>没有股息</strong><br />
                                D: 10月1日: 0 XRC, 1月1日: 100 XRC: 期间转入 100 XRC币: <strong>没有股息<</strong><br />
                                E: 10月1日: 100 XRC, 1月1日 180 XRC:  在10月5日 转出20币 和 在11月10日 转入100币: <strong>没有股息</strong><br />
                                在7月7日零余额的钱包地址 <strong>不管是什么情况</strong> 没有股息
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>用 例</h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>

        <div class="container services-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/crypto-trinity.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>加密币 三位一体 概念</h4>
                            <p>比特铑币使用案例填补了加密市场的缺口，与BTC比特币和LTC莱特币一起构成了一个高效的生态系统，即加密币 三位一体概念，可满足大多数投资者的需求</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("CryptoTrinity", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'cryptotrinity'});">阅读更多..</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 center-box">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/stronghands.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>"强手"储蓄计划</h4>
                            <p>"强手"储蓄 与 反通货膨胀; 这两种特质 让我们的投资者与其他区别开来. 通过免费参与, 增强你的财富</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("StrongHandsAirdrop", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'strong-hands'});">阅读更多..</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/market.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>点对点 铑币-金属 市场</h4>
                            <p>其中一个长期发展重点之一是为铑币投资者提供点对点 贵金属去中心化交易机制.</p>
                            <div class="btn-box">
                                <p><a href="@Url.MyAction("FreeMarket", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2p-market'});">阅读更多..</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>比特铑币</p>
                        <h2>社区</h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5>Twitter</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>Discord</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5>Telegram(电报)</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>Bitcoin Talk(比特币对话)</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>


                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">

                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">铑币Tweets推文</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
                
            </div>
        </div>

    </footer>


    <a href="#0" class="cd-top">Top</a>

    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    @Html.Partial("_GoogleAnalytics")
</body>

</html>