﻿@using xRhodium.Controllers
@model HomeViewModel

@functions {

    private string GetReferer()
    {
        var query = string.Empty;

        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>

    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">
    <script src="/data/js/modernizr-custom.js"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">

    <style type="text/css" media="screen">
        .telegram {
            margin-top: 70px;
            color: #0088cc
        }

        .twitter {
            color: #1DA1F2
        }

        .youtube {
            margin-top: 70px;
            color: #FF0000
        }
    </style>
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>

    <header id="subpage">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo-black.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>

                @Html.Partial("_NavigationEn")
            </div>
        </nav>
    </header>

    <section>
        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>Ambassador Program</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-about">
                            <p>
                                We are ready to open the doors to <strong>xRhodium supporters worldwide</strong>. Ambassador program based on locality, skills and passion.
                            </p>
                            <p>Do you want to become a part of a digital freedom ecosystem to shape the world of tomorrow? Then what are you waiting for?</p>
                            <p>
                                Create the local xRhodium community in your city by <strong>organizing regular knowledge-sharing meetups and represent us as an XRC Ambassador</strong>! We will support you with anything you need to bring digital freedom vision to your city.
                            </p>
                            @*  <p>
                                            If you’re interested in participating, please fill in this form so the XRC team can learn more about you. We are always <strong>looking for enthusiastic supporters</strong> to spread our message over the world.
                                        </p>

                                      <div class="btn-more-box">
                                    <a class="btn btn-custom" href="https://forms.gle/h9Wt9qANVgq52KqG7" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'ambassadorform'});">Application form</a>

                                </div>*@

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-about">
                            <div class="btn-more-box">
                                <a class="btn btn-custom" href="https://forms.gle/h9Wt9qANVgq52KqG7" target="_blank" onclick="gtag(&#39;event&#39;, &#39;click&#39;, { event_category: &#39;button&#39;, event_action: &#39;click&#39;, event_label: &#39;ambassadorform&#39;});">Ambassador Program Form</a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="section-title">
                        <h2>For download</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <tr>
                                <th></th>
                                <th>AI</th>
                                <th>PNG</th>
                            </tr>
                            <tr>
                                <td><strong>Full xRhodium white logo</strong></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020-full-white.ai" target="_blank">logo2020-full-white.ai</a></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020-full-white.png" target="_blank">logo2020-full-white.png</a></td>
                            </tr>
                            <tr>
                                <td><strong>Full xRhodium black logo</strong></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020-full-black.ai" target="_blank">logo2020-full-black.ai</a></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020-full-black.png" target="_blank">logo2020-full-black.png</a></td>
                            </tr>
                            <tr>
                                <td><strong>xRhodium white logo</strong></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020.ai" target="_blank">logo2020.ai</a></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020.png" target="_blank">logo2020.png</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>Tweets for sharing</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th><strong>xRhodium</strong></th>
                                    <th style="width: 250px"> </th>
                                </tr>
                                <tr>
                                    <td>xRhodium will bridge the gap between crypto and traditional investments. FreeMarketOne will facilitate P2P exchange among XRC and precious metal investors through decentralized and efficient matching of supply and demand with no intermediaries.</td>
                                    <td><a href="https://ctt.ac/a863A" target="_blank">Tweet this &gt;</a></td>
                                </tr>
                                <tr>
                                    <td>Our passion is to develop a cryptocurrency that is primarily held by investors for the long-term.</td>
                                    <td><a href="https://ctt.ac/aoddV" target="_blank">Tweet this &gt;</a></td>
                                </tr>
                                <tr>
                                    <td>Strong Hands programme Hold &amp; Get Rewarded Airdrop to xRhodium holders.</td>
                                    <td><a href="https://ctt.ac/dfqj6" target="_blank">Tweet this &gt;</a></td>
                                </tr>
                                <tr>
                                    <td>The xRhodium's dividends program is an innovative use case feature for rewarding holders and stimulates new investment. Every 3 months you can earn a piece of 16072 XRC distributed through dividends for every program cycle.</td>
                                    <td><a href="https://ctt.ac/PEb70" target="_blank">Tweet this &gt;</a></td>
                                </tr>
                                <tr>
                                    <td>One of the long-term priorities of xRhodium is to provide stakeholders in the precious metal markets with a decentralised a method of P2P exchange.</td>
                                    <td><a href="https://ctt.ac/kaXqR" target="_blank">Tweet this &gt;</a></td>
                                </tr>
                                <tr>
                                    <td>We believe xRhodium is valuable because it is scarce, with options that appeal to large, long-term investors.</td>
                                    <td><a href="https://ctt.ac/7y7po" target="_blank">Tweet this &gt;</a></td>
                                </tr>
                                <tr>
                                    <td>xRhodium with its use case fills the gap in the crypto market and together with BTC and LTC forms an efficient ecosystem, the Crypto Trinity, that fulfils needs of most investors.</td>
                                    <td><a href="https://ctt.ac/9Wf9s" target="_blank">Tweet this &gt;</a></td>
                                </tr>
                                <tr>
                                    <td><strong>FreeMarket ONE</strong></td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>FreeMarketOne is a marketplace for the 21st century. Decentralized and resilient.</td>
                                    <td><a href="https://ctt.ac/SN2g4" target="_blank">Tweet this &gt;</a></td>
                                </tr>
                                <tr>
                                    <td>No middlemen = no value captured. FreeMarketOne — decentralised peer-to-peer marketplace.</td>
                                    <td><a href="https://ctt.ac/eEKSl" target="_blank">Tweet this &gt;</a></td>
                                </tr>
                                <tr>
                                    <td>FreeMarketOne is where demand meets supply efficiently without intermediaries.</td>
                                    <td><a href="https://ctt.ac/TB5ba" target="_blank">Tweet this &gt;</a></td>
                                </tr>
                                <tr>
                                    <td>FreeMarketOne is an XRC-driven platform for P2P trading of goods and services.</td>
                                    <td><a href="https://ctt.ac/0fp8a" target="_blank">Tweet this &gt;</a></td>
                                </tr>
                                <tr>
                                    <td>FreeMarketOne is a decentralised marketplace where anonymity meets trust through blockchain technology.</td>
                                    <td><a href="https://ctt.ac/0F4lt" target="_blank">Tweet this &gt;</a></td>
                                </tr>
                                <tr>
                                    <td>As the base currency for the FreeMarketOne decentralized anonymous marketplace, XRC will power its entire ecosystem.</td>
                                    <td><a href="https://ctt.ac/ORwK_" target="_blank">Tweet this &gt;</a></td>
                                </tr>
                                <tr>
                                    <td>FreeMarketOne will solve the problems and weaknesses of centralized marketplaces.</td>
                                    <td><a href="https://ctt.ac/ckesB" target="_blank">Tweet this &gt;</a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>Articles for sharing</h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>

        <div class="container sharing" id="blog">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <div id="medium-widget"></div>
                        <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
                        <script>MediumWidget.Init({ renderTo: '#medium-widget', params: { "resource": "https://medium.com/xrhodium", "postsPerLine": 3, "limit": 9, "picture": "big", "fields": ["description", "author", "publishAt"], "ratio": "landscape" } })</script>

                    </div>
                </div>
            </div>

        </div>



        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>xRhodium</p>
                        <h2>Community</h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5>Twitter</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>Discord</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5>Telegram</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>Bitcoin Talk</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>


                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">

                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">Tweets by xRhodium</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
            </div>
        </div>

    </footer>

    <a href="#0" class="cd-top">Top</a>

    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>

    @Html.Partial("_GoogleAnalytics")
</body>

</html>