﻿@using xRhodium.Controllers
@model HomeViewModel

@functions {

    private string GetReferer()
    {
        var query = string.Empty;

        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>
    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">
    <script src="/data/js/modernizr-custom.js"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">

</head>

<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>

    <header id="subpage">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo-black.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>

                @Html.Partial("_NavigationEn")
            </div>
        </nav>
    </header>

    <section>
        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>Road Map</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline list-unstyled">
                            <li class="year">2017</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
                                <h4>
                                    Website Launch
                                </h4>
                                <p class="desc">
                                    The official website was introduced to the public including all the key information about the project.
                                </p>
                                <span class="date">
                                    December, 2017
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
                                <h4>
                                    1st PHASE AIRDROP #1 ANNOUNCEMENT
                                </h4>
                                <p class="desc">
                                    Users were invited to register their BTC addresses before December 25 to be eligible for the first, universal Airdrop of 5 XRC.
                                </p>
                                <span class="date">
                                    December 13 - December 25, 2017
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
                                <h4>
                                    2nd PHASE AIRDROP #1 ANNOUNCEMENT
                                </h4>
                                <p class="desc">
                                    In the second phase, users, who registered their non-zero balance BTC addresses before January 10 received 10 times their BTC balance in XRC (10 XRC for 1 BTC).
                                </p>
                                <span class="date">
                                    December 26 - January 10, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2018 Q1</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <h4>
                                    Snapshot
                                </h4>
                                <p class="desc">
                                    A snapshot of the Bitcoin blockchain for the second phase of airdrop.
                                </p>
                                <span class="date">
                                    January 10, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    xRhodium Wallet
                                </h4>
                                <p class="desc">
                                    xRhodium Private online wallet was launched to facilitate the Airdrop and to serve xRhodium holders as the primary online platform to store their coins.
                                </p>
                                <span class="date">
                                    January, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    AIRDROP #1
                                </h4>
                                <p class="desc">
                                    Users, who registered their BTC addresses correctly during the 1st and 2nd claiming phase were airdropped the corresponding amount of xRhodium to their private xRhodium wallets. Several technical difficulties occurred along the way that initiated the subsequent re-sign process.
                                </p>
                                <span class="date">
                                    from January 18, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    RE-SIGN Period
                                </h4>
                                <p class="desc">
                                    Users who forgot their signatures, had an invalid one, or experienced any other technical difficulties were invited to claim their XRC again. Extensive support was provided ss part of the re-sign process.
                                </p>
                                <span class="date">
                                    February, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    xRhodium Explorer
                                </h4>
                                <p class="desc">
                                    Publishing a xRhodium explorer to everybody, block explorer will be added later.
                                </p>
                                <span class="date">
                                    February, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    END OF THE CLAIM PERIOD
                                </h4>
                                <p class="desc">
                                    Claiming was closed.
                                </p>
                                <span class="date">
                                    March 31, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2018 Q2</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Testnet launched
                                </h4>
                                <p class="desc">
                                    Testnet launched for mining pool testing, transactions, wallet functions stability testing.
                                    <a href="https://testnet.xrhodium.org/">https:// testnet.xrhodium.org</a>
                                </p>
                                <span class="date">
                                    Q2
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">2018 Q3</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    ELECTRUM WALLET ON TESTNET
                                </h4>
                                <p class="desc">
                                    Electrum wallet, the first alternative to the private xRhodium online wallet, was launched for testing on the TestNet to prepare for the full launch on the MainNet.
                                </p>
                                <span class="date">
                                    Q3
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    COINIUM POOL ON TESTNET
                                </h4>
                                <p class="desc">
                                    Coinium pool mining software was implemented on the TestNet and number of miners from the xRhodium community joined to test-mine.<br />&nbsp;
                                </p>
                                <span class="date">
                                    Q3
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    NETWORK
                                </h4>
                                <p class="desc">
                                    Stabilisation and stress testing.
                                </p>
                                <span class="date">
                                    Q3
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    EXPLORER ON TEST-NET
                                </h4>
                                <p class="desc">
                                    Publishing a xRhodium TestNet explorer with full block explorer function.
                                </p>
                                <span class="date">
                                    Q3
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    xRhodium WALLET SECURITY IMPROVEMENTS
                                </h4>
                                <p class="desc">
                                    A new SHIELD functionality was added to the users private xRhodium wallets to limit the likelihood of a successful hacker attack occurring.
                                </p>
                                <span class="date">
                                    Q3
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    SERVER NETWORK DECENTRALISATION
                                </h4>
                                <p class="desc">
                                    The decentralised server network can be observed here: <a href="https://network.xrhodium.org/">https:// network.xrhodium.org</a>
                                </p>
                                <span class="date">
                                    Q3
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    Airdrop #2
                                </h4>
                                <p class="desc">
                                    To maximize the xRhodium holders’ utility and overall acceptance, the second and final round of Airdrop
                                    distributed XRC among users, who did not claim their share before. The initial airdropped supply after
                                    the Airdrop #2 totalled 582,857 XRC.
                                </p>
                                <span class="date">
                                    Q3
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2018 Q4</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    MAINNET LAUNCH
                                </h4>
                                <p class="desc">
                                    On October 22 the xRhodium MainNet was officially launched attracting enormous attention of both previous and new community members, as well as broader crypto public. Subsequently, an organic OTC market was established that allowed xRhodium holders that started the price-searching process.
                                </p>
                                <span class="date">
                                    Q4
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    MININGCORE POOL LAUNCH
                                </h4>
                                <p class="desc">
                                    Following the technical issues with the pool caused by the Coinium mining pool software architecture, Miningcore software was implemented that brought along an unprecedent interest of miners as the hashrate skyrocketed <a href="http://poolcore.xrhodium.org/">http:// poolcore.xrhodium.org</a>.<br />&nbsp;
                                </p>
                                <span class="date">
                                    Q4
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    xRhodium Merchandising
                                </h4>
                                <p class="desc">
                                    First wave of xRhodium memorabilia will be introduced to the community to support the development and marketing expenses.
                                </p>
                                <span class="date">
                                    Q4
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    ELECTRUM WALLET
                                </h4>
                                <p class="desc">
                                    Electrum wallet will be released to give the xRhodium holders alternative mean of storing their tokens <a href="https://electrum.xrhodium.org/">Electrum Wallet</a>.
                                </p>
                                <span class="date">
                                    Q4
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    The Crypto Trinity
                                </h4>
                                <p class="desc">
                                    Our new vision for cooperation with BTC and LTC.
                                </p>
                                <span class="date">
                                    November, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Strong Hands programme
                                </h4>
                                <p class="desc">
                                    Hold & Get Rewarded
                                </p>
                                <span class="date">
                                    Q4
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    BISQ with xRhodium
                                </h4>
                                <p class="desc">
                                    Bisq is an open-source desktop application that allows you to buy and sell bitcoins in exchange for national currencies, or alternative crypto currencies.
                                </p>
                                <span class="date">
                                    December, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">2019 Q1</li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    FIRST EXCHANGE LISTING
                                </h4>
                                <p class="desc">
                                    xRhodium is expected to be listed on a major crypto exchange by the end of Q1 2019.
                                </p>
                                <span class="date">
                                    Q1 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    GITLAB SOURCE CODE RELEASE
                                </h4>
                                <p class="desc">
                                    As it has been promised, after the first listing, various components of the xRhodium source code will be made available for the community to observe through GitLab. The delay of the code release has been decided upon by the development team to ensure maximum security of the xRhodium network and the users.
                                </p>
                                <span class="date">
                                    Q1 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2019 Q2</li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    NEW ELECTRUM-XRC RELEASE
                                </h4>
                                <p class="desc">
                                    Next release of xRhodium Electrum wallet. Grace period for moving your funds will be at the beginning of Q3.
                                </p>
                                <span class="date">
                                    Q2 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    HARDWARE WALLET SUPPORT
                                </h4>
                                <p class="desc">
                                    We are waiting for new firmware for Trezor HW to fully support XRC <a href="https://github.com/xRhodiumodium/trezor-common" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'trezor'});">https:// github.com/ xRhodiumodium/ trezor-common</a>.
                                    You can find actual state on <a href="https://trezor.io/coins/" target="_blank">Official Trezor coins support list</a>.<br />
                                    ~ Expected: everyday.
                                </p>
                                <span class="date">
                                    Q2 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    AMBASSADOR PROGRAMME
                                </h4>
                                <p class="desc">
                                    Program which will help towards presenting and growing our project further.
                                </p>
                                <span class="date">
                                    Q2 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2019 Q3</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    GRACE PERIOD
                                </h4>
                                <p class="desc">
                                    Grace period 7/1/2019 - 7/7/2019 for moving your funds to other wallets without demand to Strong Hand Program.
                                </p>
                                <span class="date">
                                    Q3 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    STRONG HANDS SNAPSHOT
                                </h4>
                                <p class="desc">
                                    There will be next snapshot after grace period. Exact time for next snapshot is set to 7/8/2019 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    7/8/2019 00:00:00 UTC
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    MOBILE WALLET SUPPORT
                                </h4>
                                <p class="desc">
                                    You can use our new mobile wallet <a href="https://magnumwallet.co/" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'magnum' });" target="_blank">Magnum Wallet</a>.
                                </p>
                                <span class="date">
                                    Q3 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    World Wide P2P Metal Market
                                </h4>
                                <p class="desc">
                                    Website of <a href="http://freemarket.one/" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FreeMarket.One</a>.
                                </p>
                                <span class="date">
                                    Q3 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    ANONYMISATION FEATURE
                                </h4>
                                <p class="desc">
                                    First ideas with integration are described in the article <a target="_blank" href="https://medium.com/@Html.Raw("@")xRhodium/bitcoin-rhodiums-path-towards-digital-freedom-making-transactions-private-6e07525b9ddc" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freedom'});">xRhodium’s Path Towards Digital Freedom: Making Transactions Private</a>.
                                </p>
                                <span class="date">
                                    Q3 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2019 Q4</li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    STRONG HANDS SNAPSHOT
                                </h4>
                                <p class="desc">
                                    There will be next snapshot. Exact time for next snapshot is set to 10/1/2019 0:00:00 UTC.
                                </p>
                                <span class="date">
                                    10/1/2019 0:00:00 UTC
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    HARDWARE WALLET SUPPORT
                                </h4>
                                <p class="desc">
                                    We will continue with hard wallet support, starting with Ledger, another big player.
                                </p>
                                <span class="date">
                                    Q4 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Free Market One
                                </h4>
                                <p class="desc">
                                    First alpha version of <a href="http://www.freemarket.one/" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FreeMarket.One</a>.
                                </p>
                                <span class="date">
                                    Q4 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Wasabi Wallet on XRC TestNet
                                </h4>
                                <p class="desc">
                                    New Wasabi wallet with CoinJoin anonymization feature on XRC TestNet.
                                </p>
                                <span class="date">
                                    Q4 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    NEW ELECTRUM-XRC RELEASE
                                </h4>
                                <p class="desc">
                                    Next release of xRhodium Electrum wallet.
                                </p>
                                <span class="date">
                                    Q4 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2020</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    GRACE PERIOD
                                </h4>
                                <p class="desc">
                                    Grace period 1/1/2020 - 7/1/2020 for moving your funds to other wallets without demand to Strong Hand Program.
                                </p>
                                <span class="date">
                                    Q1 2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Wasabi Web
                                </h4>
                                <p class="desc">
                                    New Wasabi xRhodium <a href="https://wasabi.xrhodium.org" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'wasabi'});">Wasabi xRhodium</a>.
                                </p>
                                <span class="date">
                                    Q1 2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    GRACE PERIOD & STRONG HANDS SNAPSHOT
                                </h4>
                                <p class="desc">
                                    Grace period 1/4/2020 - 4/4/2020 for moving your funds to other wallets without demand to Strong Hand Program. Exact time for next snapshot is set to 5/4/2020 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    Q2 2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    GRACE PERIOD & STRONG HANDS SNAPSHOT

                                </h4>
                                <p class="desc">
                                    Grace period 1/7/2020 - 4/7/2020 for moving your funds to other wallets without demand to Strong Hand Program. Exact time for next snapshot is set to 5/7/2020 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    Q3 2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    GRACE PERIOD & STRONG HANDS SNAPSHOT

                                </h4>
                                <p class="desc">
                                    Grace period 1/10/2020 - 4/10/2020 for moving your funds to other wallets without demand to Strong Hand Program. Exact time for next snapshot is set to 5/10/2020 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    Q4 2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Free Market One - World New Trading Platform
                                </h4>
                                <p class="desc">
                                    Currently, working around the clock, all XRC developers are  making <a href="https://www.freemarket.one/#roadmap" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FreeMarket.One</a> their primary objective. Only XRC will be native trade token for this platform! Clever people knows what it means.
                                </p>
                                <span class="date">
                                    <a href="https://www.freemarket.one/#roadmap" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FM.ONE RoadMap</a>
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2021 +</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    GRACE PERIOD & STRONG HANDS SNAPSHOT
                                </h4>
                                <p class="desc">
                                    Grace period January 1, 2021 - January 4, 2021 for moving your funds to other wallets without demand to Strong Hand Program. Exact time for next snapshot is set to January 5, 2021 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    Q1 2021
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Free Market One - Public Beta
                                </h4>
                                <p class="desc">
                                    Currently, working around the clock, all XRC developers are  making <a href="https://www.freemarket.one/#roadmap" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FreeMarket.One</a> their primary objective. Only XRC will be native trade token for this platform! Clever people knows what it means.
                                </p>
                                <span class="date">
                                    <a href="https://www.freemarket.one/#roadmap" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FM.ONE RoadMap</a>
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Metal Rhodium partners
                                </h4>
                                <p class="desc">
                                    Partnership established with precious metal market.
                                </p>
                                <span class="date">
                                    After FM.ONE 1 Release - <a href="https://www.freemarket.one/#roadmap" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FM.ONE RoadMap</a>
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    GRACE PERIOD & STRONG HANDS SNAPSHOT
                                </h4>
                                <p class="desc">
                                    Grace period April 1, 2021 - April 4, 2021 for moving your funds to other wallets without demand to Strong Hand Program. Exact time for next snapshot is set to April 5, 2021 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    Q4 2021
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    WASABI WALLET - With full XRC Node
                                </h4>
                                <p class="desc">
                                    Implementing new privacy features in Wasabi.
                                </p>
                                <span class="date">
                                    2021
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    SQLITE INTEGRATION
                                </h4>
                                <p class="desc">
                                    Node will use SQLite. Solution with SQLite will be much faster and stable.
                                </p>
                                <span class="date">
                                    2021
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    LEDGER WALLET SUPPORT
                                </h4>
                                <p class="desc">
                                    Third party Ledger wallet integrations is in progress.<br />
                                    ~ Delivery term is on LEDGER company. Try to force them there <a href="https://github.com/LedgerHQ/ledger-app-btc/pull/131" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'ledger'});">Ledger GitHub</a> .
                                </p>
                                <span class="date">
                                    Depends on LEDGER
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    BLOCKCORE (www.blockcore.net)
                                </h4>
                                <p class="desc">
                                    Port to BlockCore (blockcore.net) to future-proof and align with a larger .NET blockchain community. Consider multiple features available or any new feature that can work in BlockCore for XRC. Adopt new wallet from the BlockCore to support many OSs alongside our Electrum Rhodium.
                                </p>
                                <span class="date">
                                    2021
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Next features...
                                </h4>
                                <p class="desc">
                                    Anonymisation, ATM integration
                                </p>
                                <span class="date">
                                    2021 +
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year"></li>

                            <li class="start fa fa-bookmark"></li>
                            <li class="clear"></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>Use Cases</h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>

        <div class="container services-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/crypto-trinity.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>The Crypto Trinity</h4>
                            <p>xRhodium with its use case fills the gap in the crypto market and together with BTC and LTC forms an efficient ecosystem, the Crypto Trinity, that fulfils needs of most investors.</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("CryptoTrinity", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'cryptotrinity'});">Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 center-box">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/stronghands.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>Strong Hands programme</h4>
                            <p>Strong Hands and exit-aversion; two qualities that set xRhodium investors apart from the rest. Reinforce your position and build your stack through a free participation in the Strong Hands Programme.</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("StrongHandsAirdrop", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'strong-hands'});">Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/market.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>P2P xRhodium <br /> Metals Market</h4>
                            <p>One of the long-term priorities of xRhodium is to provide stakeholders in the precious metal markets with a decentralised a method of P2P exchange.</p>
                            <div class="btn-box">
                                <p><a href="@Url.MyAction("FreeMarket", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2p-market'});">Read more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>xRhodium</p>
                        <h2>Community</h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5>Twitter</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>Discord</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5>Telegram</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>Bitcoin Talk</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>


                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">

                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">Tweets by xRhodium</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
            </div>
        </div>

    </footer>

    <a href="#0" class="cd-top">Top</a>

    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    @Html.Partial("_GoogleAnalytics")
</body>

</html>