﻿@using xRhodium.Controllers
@model HomeViewModel

@functions {

    private string GetReferer()
    {
        var query = string.Empty;

        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>
    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">
    <script src="/data/js/modernizr-custom.js"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Strong Hands Program - Hold and get rewarded!" />
    <meta name="twitter:image" content="https://xrhodium.org/twitter-card.png" />
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>

    <header id="subpage">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo-black.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>

                @Html.Partial("_NavigationEn")
            </div>
        </nav>
    </header>

    <section>
        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>Strong Hands programme <br /> Hold & Get Rewarded</h2>
                        <p>Airdrop to xRhodium holders.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-about">
                            <p>
                                The xRhodium Strong Hands programme is an innovative use case feature, which <strong>rewards proactive holders</strong> and stimulates new investment. <strong>Every 3 months you can earn a piece of 16072 XRC</strong> distributed through rewards for every programme cycle.
                            </p>
                            <p class="text-center"><img class="img-fluid" src="/data/img/master/bitcoin-rhodium-crypto-deposit.jpg?v2" /></p>
                            <h5>How to participate</h5>
                            <p>
                                <strong>All xRhodium holders can participate</strong> and their wallet addresses will be included automatically. Thus, <strong>no specific actions need to be taken</strong> by the users to enroll in the programme cycles. An <strong>automatic snapshot</strong> of the individual balances will take place at the beginning and the end of every 3-month cycle (note that the closing snapshot for one cycle is also the opening snapshot for another cycle). <strong>Rewards will be then automatically transferred</strong> to the addresses that managed to avoid any negative balance movement.
                            </p>
                            <h5>Who is eligible</h5>
                            <p>
                                <strong>Every 3 months</strong>, rewards are disbursed among the addresses, which <strong>successfully complete the 3-month cycle without any negative movement</strong> (any outgoing transfer from the respective address automatically disqualifies its for the reward). For a given period, only addresses with no outgoing transactions will be rewarded. The reward payment will be based on the address initial balance for the period, regardless of wether any additional XRC were added to it. The XRC added to it, if any, does count for the following period initial value. Read the <a href="#reward-examples">examples below</a>.
                            </p>
                            <h5>Timing</h5>
                            <p>
                                Rewards <strong>will be disbursed every 3 months</strong> within a <strong>window of 2 weeks after the end of each cycle</strong>.<br><br>
                                <strong>#1</strong> The first cycle was launched by an automatic snapshot on January 1, 2019 and ended on April 1, 2019.<br>
                                <strong>#2</strong> The second cycle was launched by an automatic snapshot on April 1, 2019 and ended on July 1, 2019.<br>
                                <strong>#3</strong> The third cycle was launched by an automatic snapshot on July 8, 2019 and ended on October 1, 2019.<br>
                                <strong>#4</strong> The fourth cycle was launched by an automatic snapshot on October 1, 2019 and ended on January 1, 2020.<br>
                                <strong>#5</strong> The fifth cycle was launched by an automatic snapshot on January 8, 2020 and ended on April 1, 2020.<br>
                                <strong>#6</strong> The sixth cycle was launched by an automatic snapshot on April 5, 2020 and ended on July 1, 2020.<br>
                                <strong>#7</strong> The seventh cycle was launched by an automatic snapshot on July 5, 2020 and ended on October 1, 2020.<br>
                                <strong>#8</strong> The eight cycle was launched by an automatic snapshot on October 5, 2020 and ended on January 1, 2021.<br>
                                <strong>#9</strong> The eight cycle was launched by an automatic snapshot on January 5, 2021 and ended on April 1, 2021.<br> <br>
                                Current (#10) cycle is scheduled for the period between April 5, 2021 and 00:00:01 UTC July 1, 2021.
                                <br>
                                <strong>Next snapshot?</strong> (XRC balance qualified for rewards) : <strong>There will be new announcement</strong>
                                <br>
                                Grace Period will be granted for moving funds: <strong>July 1, 2021</strong> 00:00:01 UTC - <strong>July 4, 2021</strong> 23:59:59 UTC.
                            </p>
                            <h5 id="reward-examples">Funding</h5>
                            <p>
                                The rewards are covered from the <strong>257,143 XRC</strong> (out of 840,000 XRC) unclaimed during the two airdrops. The 210,000 pre-mined XRC (dedicated to marketing and project development) is <strong>excluded from the programme</strong> and hence will not be subject to any of the programme rewards.
                            </p>
                            <h5>Examples</h5>
                            <p>
                                A: 10/1: 100 XRC, 1/1: 100 XRC without negative movements. <strong>Rewarded</strong> on 100 XRC<br>
                                B: 10/1: 100 XRC, 1/1: 120 XRC without negative movement (receive 20 during period): <strong>Rewarded</strong> on 100 XRC<br>
                                C: 10/1: 100 XRC, 1/1: 150 XRC transfered out 20 (left empty), transfered in 30 during quarter” <strong>No reward</strong><br>
                                D: 10/1: 0 XRC, 1/1: 100 XRC transfered in 100 XRC: <strong>No reward</strong><br>
                                E: 10/1: 100 XRC, 1/1 100 XRC transfered out 20 on 10/5 and transfered in 100 on 11/10: <strong>No reward</strong><br>
                                An address with zero balance on 10/1 gets <strong>no reward</strong> no matter what
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>Use Cases</h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>

        <div class="container services-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/crypto-trinity.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>The Crypto Trinity</h4>
                            <p>xRhodium with its use case fills the gap in the crypto market and together with BTC and LTC forms an efficient ecosystem, the Crypto Trinity, that fulfils needs of most investors.</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("CryptoTrinity", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'cryptotrinity'});">Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 center-box">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/stronghands.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>Strong Hands programme</h4>
                            <p>Strong Hands and exit-aversion; two qualities that set xRhodium investors apart from the rest. Reinforce your position and build your stack through a free participation in the Strong Hands Programme.</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("StrongHandsAirdrop", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'strong-hands'});">Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/market.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>P2P xRhodium <br /> Metals Market</h4>
                            <p>One of the long-term priorities of xRhodium is to provide stakeholders in the precious metal markets with a decentralised a method of P2P exchange.</p>
                            <div class="btn-box">
                                <p><a href="@Url.MyAction("FreeMarket", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2p-market'});">Read more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>xRhodium</p>
                        <h2>Community</h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5>Twitter</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>Discord</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5>Telegram</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>Bitcoin Talk</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>


                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">

                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">Tweets by xRhodium</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
            </div>
        </div>

    </footer>

    <a href="#0" class="cd-top">Top</a>

    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    @Html.Partial("_GoogleAnalytics")
</body>

</html>
