/*######################################
  ---------- PORTFOLIO STYLES ----------
  ######################################*/

.heroe-bg{
    height: 900px;
    position: relative;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("http://placehold.it/1920x1080");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#particles-js:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000, #000);
  opacity: 0.4;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.word{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1px;
    color: #fff;
    line-height: 1.5;
    height: 100px;
    font-family: 'Poppins', sans-serif;
}

.social-icons{
    margin-top: 0;
}

.social-icons .icon-fa{
    display: inline-block;
    margin-right: 10px;
    background: none;
}

.social-icons .last-fa{
    margin-right: 0px;
}

.social-icons .icon-fa .fab{
    font-size: 18px;
    color: #FFF;
    transition: 0.5s;
}

.social-icons .icon-fa .fab:hover{
    color: #E63946;
}
