﻿<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D7T2DPY26Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D7T2DPY26Q', {
        'linker': {
            'domains': ['xrhodium.org', 'explorer.xrhodium.org', 'wallet.xrhodium.org', 'poolcore.xrhodium.org', 'network.xrhodium.org', 'electrum.xrhodium.org', 'freemarket.one', 'wasabi.xrhodium.org', 'blockcore.xrhodium.org']
        }
    });
</script>