@using xRhodium.Controllers
@model HomeViewModel

@functions {

    private string GetReferer()
    {
        var query = string.Empty;

        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}

<div class="nav-lng">
    <a href="/@(Html.Raw(GetReferer()))"><img src="/data/img/master/us.png" alt="English" title="English" /></a>
    <a href="/cn@(Html.Raw(GetReferer()))"><img src="/data/img/master/cn.png" alt="简体中文" title="简体中文" /></a>
    <a href="/ru@(Html.Raw(GetReferer()))"><img src="/data/img/master/ru.png" alt="Pусский" title="Pусский" /></a>
    <a href="/ar@(Html.Raw(GetReferer()))"><img src="/data/img/master/ar.png" alt="العربية" title="العربية" /></a>
    <a href="/es@(Html.Raw(GetReferer()))"><img src="/data/img/master/sp.png" alt="Español" title="Español" /></a>
</div>
<div class="nav-menus-wrapper">
    <ul class="nav-menu align-to-right">
        @*<li>
            <a href="@Url.MyAction("Index", new { r= Model.Referer })">
                الرئيسية
            </a>
        </li>*@
        <li>
            <a href="#about">
                حولنا
            </a>
            <ul class="nav-dropdown">
                <li>
                    <a href="@Url.MyAction("Index", new { r = Model.Referer })#exchanges">
                        منصات التداول
                    </a>
                </li>
                <li>
                    <a href="@Url.MyAction("Index", new { r = Model.Referer })#some_facts">
                        حقائق
                    </a>
                </li>
                <li>
                    <a href="https://network.xrhodium.org/@Html.Raw(GetReferer())" target="_blank">
                        معلومات الشبكة
                    </a>
                </li>
                <li>
                    <a href="https://gitlab.com/bitcoinrh/" target="_blank" data-link="1">
                        كود المصدر
                    </a>
                </li>
                <li>
                    <a href="@Url.MyAction("Index", new { r = Model.Referer })#use_cases">
                        حالات الاستخدام
                    </a>
                </li>
                <li>
                    <a href="@Url.MyAction("RoadMap", new { r= Model.Referer })">
                        خارطة الطريق
                    </a>
                </li>
                <li>
                    <a href="@Url.MyAction("Index", new { r = Model.Referer })#team">فريقنا</a>
                </li>
                <li>
                    <a href="@Url.MyAction("SharingEssentials", new { r=Model.Referer })">
                        تقاسم الضروريات
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#wallets">
                المحافظ
            </a>
            <ul class="nav-dropdown">
                <li>
                    <a href="https://electrum.xrhodium.org/@Html.Raw(GetReferer())" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'electrum'});" target="_blank" data-link="1">
                        محفظة Electrum
                    </a>
                </li>
                <li>
                    <a href="https://gitlab.com/bitcoinrh/BRhodiumNode/" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'fullnodewallet'});" target="_blank" data-link="1">
                        محفظة XRC Node
                    </a>
                </li>
                <li>
                    <a href="https://blockcore.xrhodium.org/" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'blockcorefullnodewallet'});" target="_blank" data-link="1">
                        محفظة XRC Blockcore Node
                    </a>
                </li>
                <li>
                    <a href="https://trezor.io/coins/" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'trezor' }); this.href = this.href + '#XRC'; return true;" target="_blank" data-link="1">
                        Trezor HW محفظة
                    </a>
                </li>
                <li>
                    <a href="https://wallet.xrhodium.org/Account/Login/@Html.Raw(GetReferer())" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'webwallet'});" target="_blank" data-link="1">
                        محفظة الويب
                    </a>
                </li>
                @*<li>
            <a href="https://magnumwallet.co/" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'magnum' });" target="_blank" data-link="1">
                محفظة MAGNUM
            </a>
        </li>*@
                <li>
                    <a href="https://wasabi.xrhodium.org/" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'wasabi' });" target="_blank" data-link="1">محفظة Wasabi</a>
                </li>
                @*<li>
            <a href="https://play.google.com/store/apps/details?id=com.magnum.wallet" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'magnum-android' });" target="_blank" data-link="1">
                محفظة Android
            </a>
        </li>
        <li>
            <a href="https://medium.com/@Html.Raw("@")Magnum_Wallet/how-to-install-magnum-wallet-ios-app-via-testflight-ae09ec59e52d" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'magnum-ios' });" target="_blank" data-link="1">محفظة iOS</a>
        </li>*@
                <li>
                    <a href="https://www.opolo.io/" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'opolo' }); this.href = this.href + '#XRC'; return true;" target="_blank" data-link="1">
                        OPOLO HW محفظة
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pools">
                التعدين
            </a>
            <ul class="nav-dropdown">
                <li>
                    <a href="http://poolcore.xrhodium.org/@Html.Raw(GetReferer())" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'mining-pool'});" target="_blank" data-link="1">
                        تجمع التعدين XRC
                    </a>
                </li>
                <li>
                    <a href="https://bsod.pw/" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bsod-pool'});" target="_blank" data-link="1">
                        تجمع التعدين BSOD
                    </a>
                </li>
                @*<li>
                    <a href="http://xrc.blockhunter.info/" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'blockhunter-pool'});" target="_blank" data-link="1">
                        تجمع التعدين BlockHunter
                    </a>

                </li>*@
                <li>
                    <a href="https://www.mining-dutch.nl/" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'mining-dutch'});" target="_blank" data-link="1">
                        تجمع التعدين Mining Dutch
                    </a>
                </li>


                <li>
                    <a href="https://zergpool.com/" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'zerg-pool'});" target="_blank" data-link="1">
                        تجمع التعدين ZergPool
                    </a>
                </li>

                <li>
                    <a href="https://zpool.ca/algo/x13" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'z-pool'});" target="_blank" data-link="1">
                        تجمع التعدين ZPool
                    </a>
                </li>


                <li>
                    <a href="https://crypt0.zone/calculator/details/XRC" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'crypt0.zone'});" target="_blank" data-link="1">Crypt0.ZONE Calculator</a>
                </li>
                <li>
                    <a href="https://www.coincalculators.io/coin/bitcoin-rhodium" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'coincalculators'});" target="_blank" data-link="1">CoinCalculators Calculator</a>
                </li>
                <li>
                    <a href="https://minerstat.com/coin/XRC" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'minerstat'});" target="_blank" data-link="1">MinerStat Calculator</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="https://explorer.xrhodium.org/@Html.Raw(GetReferer())" target="_blank" data-link="1">
                المستكشف
            </a>
        </li>
        <li><a href="@Url.MyAction("Community", new { r = Model.Referer })" data-link="1">
    المجتمع
</a></li>
        <li><a href="https://medium.com/xrhodium/faq-97cff95898cf" target="_blank" data-link="1">أسئلة مكررة</a></li>
        <li><a href="https://medium.com/xrhodium" target="_blank" data-link="1">مدونة</a></li>
    </ul>
</div>
