﻿@using xRhodium.Controllers
@model HomeViewModel
@functions {
    private string GetReferer()
    {
        var query = string.Empty;
        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>

    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="xRhodium (XRC) - Base currency for the FreeMarketOne" />
    <meta name="twitter:image" content="https://xrhodium.org/twitter-card.png" />

    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <script src="/data/js/modernizr-custom.js"></script>
</head>
<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>
    <header id="home">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>

                @Html.Partial("_NavigationEs")
            </div>
        </nav>
        <div class="heroe-bg">
            <div class="videobg">
                <div class="videobg-width">
                    <div class="videobg-aspect">
                        <div class="videobg-make-height">
                            <div class="videobg-hide-controls">
                                <iframe src="https://player.vimeo.com/video/337018498?autoplay=1&loop=1&title=0&byline=0&portrait=0&muted=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="word"></div>
                <div class="social-icons">
                    <a href="https://twitter.com/xrhodium_xrc" target="_blank" class="video-button" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'twitter'});"><i class="fab fa-twitter" aria-hidden="true"></i> FOLLOW US ON TWITTER</a>
                    <a href="https://discord.gg/WmxceSm" target="_blank" class="video-button" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'discord'});"><i class="fab fa-discord" aria-hidden="true"></i> JOIN OUR COMMUNITY</a>
                </div>
                <div class="social-icons">
                    <a href="@Url.MyAction("AmbassadorProgram", new { r = Model.Referer })" class="video-button" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'ambassador'});"><i class="fa fa-user" aria-hidden="true"></i> SEA UN EMBAJADOR DE XRC</a>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container" id="teaser">
            <div class="row">
                <div class="col-lg-12">
                    <div class="home-teaser">
                        <p class="mb60">
                            <span class="bolder" style="color: #ff9900 !important;">xRhodium no es un fork</span> de Bitcoin.<br />Es un <span class="bolder" style="color: #ff9900 !important;">Nuevo crypto activo</span>.
                        </p>
                        <p class="importante">Solo existiran <span class="bolder">2.1 millones de XRC</span>.</p>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="home-about">
                            <h5>Sobre xRhodium</h5>
                            <p>
                                <strong>xRhodium</strong> es un nuevo crypto commodity, una criptomoneda exotica, limitada y resistente para atesorar valor para el futuro.
                                Su objetivo es proveer no solo un metodo de pago, sino un real, valioso commodity, el cual se convertira en una prospera inversion
                                junto con BTC. xRhodium usa su propio blockchain, teniendo <strong>una emision total de  2.1 millones de XRC</strong>. Esta programada en lenguaje<strong>C# y es   POW solamente</strong>. <strong>Todos los tenedores de largo plazo califican para Programa Mano Fuerte</strong> el cual garantiza un significativo retorno de inversion cada ciclo trimestral. <strong>Un mercado persona a persona de xRhodium-Metales,</strong> el cual conecta al mundo cripto con el mundo de las inversiones tradicionales
                                esta siendo desarrollado para fortalecer el proposito de uso de XRC. <strong>xRhodium adoptara</strong> uno de los siguientes metodos de anonimato: <strong>CoinJoin</strong>, <strong>Confidential Transactions</strong> or <strong>MimbleWimble</strong>.
                            </p>
                            <h5>White paper</h5>
                            <p>Conozca el whitepaper de xRhodium. El uso del mismo para fines de promocion esta permitido.</p>
                            <div class="btn-more-box">
                                <a class="btn btn-custom-small" href="https://www.xrhodium.org/Whitepaper.pdf" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'whitepaper'});">Descargar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="home-icon-box">
                            <div class="coinmarketcap-currency-widget" data-currencyid="3839" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="true"></div>

                        </div>
                        <div class="home-icon-box">
                            <figure class="icon-pic"><img src="/data/img/master/ico-freedom-dark.png" alt="" /></figure>
                            <h3>Making Transactions Private</h3>
                            <p>Nuestra pasion es desarrollar una criptomoneda que sea principalmente resguardada por los inversores para el largo plazo. <strong>xRhodium adoptara uno de los siguientes metodos de anonimato: CoinJoin, Confidential Transactions or MimbleWimble.</strong></p>
                            <div class="btn-more-box">
                                <a class="btn btn-custom-small" href="https://medium.com/@Html.Raw("@")xRhodium/bitcoin-rhodiums-path-towards-digital-freedom-making-transactions-private-6e07525b9ddc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freedom'});">Lee mas</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>Usos</h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>
        <div class="container services-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/crypto-trinity.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>La Trinidad Cripto</h4>
                            <p>El uso de xRhodium satisface el vacio en el mercado de criptomonedas y junto a BTC y LTC forma un eficiente ecosistema, la Trinidad Cripto, que satisface las necesidades de la mayoria de los inversores.</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("CryptoTrinity", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'cryptotrinity'});">Lee mas</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 center-box">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/stronghands.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>Strong Hands programme</h4>
                            <p>Programa Manos Fuertes y aversion a vender; dos cualidades que distinguen a xRhodium del resto. Fortalece tu posicion y acumula, a traves de tu participacion sin costo en el Programa Manos Fuertes.</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("StrongHandsAirdrop", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'strong-hands'});">Lee mas</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/market.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>P2P xRhodium <br /> Mercado de Metales</h4>
                            <p>Una de las prioridades de largo plazo de xRhodium es proveer a sus inversores el acceso a los mercados de metales preciosos a traves de un metodo decentralizado de intercambio persona a persona.</p>
                            <div class="btn-box">
                                <p><a href="@Url.MyAction("FreeMarket", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2p-market'});">Lee mas</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="exchanges">
            <div class="section-title">
                <h2>Exchanges</h2>
                <p>El simbolo de xRhodium es <strong>XRC</strong>.</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://bisq.network/markets/?currency=xrc_btc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bisq-download'});"><img src="/data/img/master/bisq.png" alt="BISQ Exchange" /></a>
                        </figure>
                        <h6><a href="https://bisq.network/markets/?currency=xrc_btc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bisq-download'});">BISQ Network (BTC)</a></h6>
                        <p>
                            Bisq es una aplicación de código abierto de igual a igual que le permite comprar y vender criptomonedas a cambio de monedas nacionales. No es necesario registrarse. Escucha bisq
                            <a href="https://youtu.be/UNAiBEuBaJ4" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bisq-manual'});">YouTube Manual.</a>
                        </p>
                        <div class="btn-box">
                            <a class="btn btn-custom-small" href="https://bisq.network/markets/?currency=xrc_btc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bisq-download'});">Abierto</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://folgory.com/trade-crypto/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'folgory'});"><img src="/data/img/master/folgory.png" alt="Folgory" /></a>

                        </figure>
                        <h6><a href="https://folgory.com/trade-crypto/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'folgory'});">Folgory (BTC, ETH, USD, EUR, USDC)</a></h6>
                        <p>Folgory (afiliado a Hashfort) es un intercambio centralizado regulado con sede en Estonia. Es compatible con EUR, USDC pares fiduciarios.</p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://folgory.com/trade-crypto/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'folgory'});">Open</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://p2pb2b.io/trade/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2pb2b'});"><img src="/data/img/master/p2pb2b.png" alt="P2PB2B" /></a>
                        </figure>
                        <h6><a href="https://p2pb2b.io/trade/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2pb2b'});">P2PB2B (USD, BTC, ETH)</a></h6>
                        <p>
                            P2PB2B es el intercambio tecnológico de más rápido crecimiento en el mundo que brinda condiciones únicas para inversores y comerciantes.

                        </p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://p2pb2b.io/trade/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2pb2b'});">Abierto</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://www.fatbtc.com/trading?currency=XRC%2FBTC&amp;freetab=0" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'fatbtc'});"><img src="/data/img/master/fatbtc.png" alt="FatBTC"></a>
                        </figure>
                        <h6><a href="https://www.fatbtc.com/trading?currency=XRC%2FBTC&amp;freetab=0" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'fatbtc'});">FatBTC (BTC, CNY)</a></h6>
                        <p>
                            FatBTC es un intercambio chino de criptomonedas que acepta transferencias bancarias locales.

                        </p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://www.fatbtc.com/trading?currency=XRC%2FBTC&amp;freetab=0" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'fatbtc'});">Abierto</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://changelly.com/exchange/usd/xrc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'changelly'});"><img src="/data/img/master/changelly.png" alt="Changelly" /></a>

                        </figure>
                        <h6><a href="https://changelly.com/exchange/usd/xrc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'changelly'});">Changelly (BTC, ETH, XRP, USD, EUR, GBP)</a></h6>
                        <p>Forma rápida y segura de comprar o intercambiar más de 150 criptomonedas. Puede cambiar: Bitcoin BTC, Ethereum ETH, Ripple XRC, Dollar USD, Euro EUR o Libra GBP.</p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://changelly.com/exchange/usd/xrc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'changelly'});">Open</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://hitbtc.com/exchange/XRC-to-BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'hitbtc'});"><img src="/data/img/master/hitbtc.png" alt="HitBTC" /></a>

                        </figure>
                        <h6><a href="https://hitbtc.com/exchange/XRC-to-BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'hitbtc'});">HitBTC (BTC)</a></h6>
                        <p>HitBTC es un intercambio intuitivo y confiable, que permite a los usuarios intercambiar algunos de los activos más populares de la criptomoneda.</p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://hitbtc.com/exchange/XRC-to-BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'hitbtc'});">Open</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg id="curveUpColor-counter" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="some_facts">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="inner-counter">
                            <div class="counter-statistics">
                                <div class="counter">2.1 mil</div>
                                <h5>Suministro total</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="inner-counter">
                            <div class="counter-statistics">
                                <div class="counter">NUEVO</div>
                                <h5>Blockchain</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="inner-counter">
                            <div class="counter-statistics">
                                <div class="counter">X13</div>
                                <h5>POW Minería</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="inner-counter last-box-counter">
                            <div class="counter-statistics">
                                <div class="counter">4MB</div>
                                <h5>
                                    Tamaño de bloque

                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-counter" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>
        <div class="container">
            <div class="testimonials-box">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="home-icon-box">
                            <figure class="icon-pic"><i class="fa fa-cubes icon-color mt-10"></i></figure>
                            <h3>Especificaciones técnicas</h3>
                            <p>
                                2.1 millones de XRC<br>
                                POW X13<br>
                                <a onclick="gtag('event', 'click', { event_category: 'link', event_action: 'click', event_label: 'gitlab code source'});" href="https://gitlab.com/xRhodium/BRhodiumNode" target="_blank">C# open source code</a><br>
                                Target de intervalo de bloque de 10 Minutos<br>
                                Tamaño de bloque 4 MB<br>
                                Ajuste de dificultad cada 2016 bloques
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="home-icon-box">
                            <figure class="icon-pic"><i class="fa fa-exchange-alt icon-color m15"></i></figure>
                            <h3>Distribucion</h3>
                            <p>
                                50% minable (1 050 000 XRC)<br>
                                28% airdrop (582 857 XRC)<br>
                                12% en inversion de 8 años (257 143 XRC)<br>
                                5% preminado fpara RP (105 000 XRC)<br>
                                5% preminado for dev (105 000 XRC)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="home-icon-box">
                            <figure class="icon-pic"><img src="/data/img/master/ico-freedom-dark.png" alt="" /></figure>
                            <h3>Anonimización</h3>
                            <p>
                                xRhodium adoptara uno de los siguientes metodos de anonimato: CoinJoin, Confidential Transactions o MimbleWimble.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="home-icon-box">
                            <figure class="icon-pic"><i class="fa fa-sync-alt icon-color"></i></figure>
                            <h3>Total de monedas en circulacion</h3>
                            <p>
                                ~ 940 000 XRC de 2 100 000 XRC
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg id="curveUpColor-team" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
        </svg>

        <div class="container-fluid inner-color" id="team">
            <div class="container">
                <div class="section-title">
                    <h2>Equipo central</h2>
                    <p>xRhodium es una moneda impulsada por la comunidad. Aquí está el mapa de los miembros principales de nuestra comunidad descentralizada.</p>
                </div>
                <div>
                    <p class="text-center"><img class="img-fluid" src="/data/img/master/core-team.png?v3" alt="xRhodium Core Team" /></p>
                </div>
            </div>
        </div>

        <svg id="curveDownColor-team" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
        </svg>

        <div class="container" id="blog">
            <div class="section-title">
                <h2>Articulos recientes</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="medium-widget"></div>
                    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
                    <script>MediumWidget.Init({ renderTo: '#medium-widget', params: { "resource": "https://medium.com/xrhodium", "postsPerLine": 3, "limit": 9, "picture": "big", "fields": ["description", "author", "publishAt"], "ratio": "landscape" } })</script>

                </div>
            </div>
        </div>
        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>xRhodium</p>
                        <h2>La comunidad</h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5>Twitter</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>Discord</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5>Telegram</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>Bitcoin Talk</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>
                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">
                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">Tweets by xRhodium</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
                
            </div>
        </div>
    </footer>
    <a href="#0" class="cd-top">Top</a>
    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
    <script type="text/javascript">
        var timeoutId;
        var $videoBgAspect = $(".videobg-aspect");
        var $videoBgWidth = $(".videobg-width");
        var videoAspect = $videoBgAspect.outerHeight() / $videoBgAspect.outerWidth();
        function videobgEnlarge() {
            windowAspect = ($(window).height() / $(window).width());
            if (windowAspect > videoAspect) {
                var aspect = (windowAspect / videoAspect) * 100;
                $videoBgWidth.width(aspect + '%');
            } else {
                $videoBgWidth.width(100 + "%");
            }
            $("#home").height($(window).height());
            $(".heroe-bg").height($(window).height());
        }
        $(window).resize(function () {
            clearTimeout(timeoutId);
            timeoutId = setTimeout(videobgEnlarge, 100);
        });
        $(function () {
            videobgEnlarge();
        });
    </script>
    @Html.Partial("_GoogleAnalytics")
</body>
</html>