﻿@using xRhodium.Controllers
@model HomeViewModel
@functions {
    private string GetReferer()
    {
        var query = string.Empty;
        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>
   
    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">
    <script src="/data/js/modernizr-custom.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>
    <header id="subpage">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo-black.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>
                @Html.Partial("_NavigationEs")
            </div>
        </nav>
    </header>
    <section>
        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>Hoja de Ruta</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline list-unstyled">
                            <li class="year">2017</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
                                <h4>
                                    Lanzamiento del sitio web
                                </h4>
                                <p class="desc">
                                    El sitio web es presentado al publico incluyendo toda la informacion sobre el proyecto.
                                </p>
                                <span class="date">
                                    Diciembre, 2017
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
                                <h4>
                                    ANUNCIO primera fase del Airdrop
                                </h4>
                                <p class="desc">
                                    Los usuarios son invitados a registrar sus direccion de BTC antes del 25 de diciembre before December 25 para obtener el primer Airdrop de 5 XRC.
                                </p>
                                <span class="date">
                                    Diciembre 13 - Diciembre 25, 2017
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
                                <h4>
                                    ANUNCIO primera fase del Airdrop
                                </h4>
                                <p class="desc">
                                    Durante la segunda fase, los usuarios que registraron direccion de BTC con saldo antes del 10 de Enero recibieron 10 veces su saldo de BTC en XRCC (10 XRC cada 1 BTC).
                                </p>
                                <span class="date">
                                    Diciembre 26 - Enero10, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">2018 Q1</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <h4>
                                    Snapshot
                                </h4>
                                <p class="desc">
                                    Snapshot del blockchain de Bitcoin para la segunda fase del Airdrop.
                                </p>
                                <span class="date">
                                    Enero 10, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Wallet de xRhodium
                                </h4>
                                <p class="desc">
                                    Wallet privada online de xRhodium fue lanzada para facilitar el Airdrop, para el almacenamiento de monedas de  xRhodium, como unica plataforma online.
                                </p>
                                <span class="date">
                                    Enero, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    AIRDROP #1
                                </h4>
                                <p class="desc">
                                    Los usuarios que registraron sus direcciones de BTC correctamente durante la primera y segunda fase de claiming fueron otorgados la cantidad correspondiente de xRhodium wallets. El proceso fue abierto nuevamente debido a inconvenientes con la firma del mensaje BTC.
                                </p>
                                <span class="date">
                                    de Enero 18, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Nuevo periodo de firma de mensaje
                                </h4>
                                <p class="desc">
                                    Los usuarios que perdieron sus firmas, tenian una firma invalida, o experimentaron cualquier otra dificultad tecnica, fueron permitidos solicitar sus XRC nuevamente, recibiendo soporte permanente para su correcta ejecucion.
                                </p>
                                <span class="date">
                                    Febrero, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Explorer xRhodium
                                </h4>
                                <p class="desc">
                                    Publicacion del xRhodium explorer, block explorer sera emitdo proximamente.
                                </p>
                                <span class="date">
                                    Febrero, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    FINAL DEL PERIOSO DE CLAIM
                                </h4>
                                <p class="desc">
                                    Claiming fue cerrado.
                                </p>
                                <span class="date">
                                    Marzo 31, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">2018 Q2</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Lanzamiento de Testnet
                                </h4>
                                <p class="desc">
                                    Lanzamiento de Testnet para e testeo de pools de mineria, transacciones, y testeo de las funciones del wallet.
                                    <a href="https://testnet.xrhodium.org/">https:// testnet.xrhodium.org</a>
                                </p>
                                <span class="date">
                                    Q2
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">2018 Q3</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    ELECTRUM WALLET EN TESTNET
                                </h4>
                                <p class="desc">
                                    Electrum wallet, la primera alternativa al wallet privado de xRhodium, fue lanzado para testear, en preparacion al lanzamiento de MainNet.
                                </p>
                                <span class="date">
                                    Q3
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    POOL DE COINIUM EN TESTNET
                                </h4>
                                <p class="desc">
                                    El software del pool Coinium fue implementado en el TestNet y una cantidad de mineros de xRhodium se sumaron a test-mine.<br />&nbsp;
                                </p>
                                <span class="date">
                                    Q3
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    RED
                                </h4>
                                <p class="desc">
                                    Estabilizacion y stress testing.
                                </p>
                                <span class="date">
                                    Q3
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    EXPLORER EN TEST-NET
                                </h4>
                                <p class="desc">
                                    Se publica el explorer del TestnNet de xRhodium TestNet, con funcionalidad total del block explorer.
                                </p>
                                <span class="date">
                                    Q3
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    MEJORAS DE SEGURIDAD DEL WALLET DE xRhodium
                                </h4>
                                <p class="desc">
                                    Una nueva funcion SHIELD fue agregado al wallet privado xRhodium para limitar la probabilidad de un hackeo.
                                </p>
                                <span class="date">
                                    Q3
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    DECENTRALIZACION DE LA RED DEL SERVIDOR
                                </h4>
                                <p class="desc">
                                    The red del servidor decentralizado puede ser vista aqui: <a href="https://network.xrhodium.org/">https:// network.xrhodium.org</a>
                                </p>
                                <span class="date">
                                    Q3
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    Airdrop #2
                                </h4>
                                <p class="desc">
                                    Con el fin de maximizar la utilidad de los tenedores de the xRhodium y su adopcion general, la segunda y final ronda de Airdrop
                                    distributo XRC a sus usuarios quienes no hubiesen hecho el claim. La oferta inicial luego del airdrop  #2 totalizo 582,857 XRC.
                                </p>
                                <span class="date">
                                    Q3
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">2018 Q4</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    LANZAMIENTO DE MAINNET
                                </h4>
                                <p class="desc">
                                    EL 22 DE Octubre fue lanzado oficialmete el MainNet de xRhodium atrayendo una enorme atencion de nuevos y ya existente miembros de la comunidad, y del la comunidad de cripto en general. Subsecuentemente, surgio un mercado OTC organico, el cual permitio a los usuarios de xRhodium iniciar el proceso de descubrimiento de precio.
                                </p>
                                <span class="date">
                                    Q4
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    LANZAMIENTO POOL MININGCORE
                                </h4>
                                <p class="desc">
                                    Luego de las dificultades tecnicas del pool causado por la arquitectiura  de software del pool de mineria Coinium, el software Miningcore fue implementado, el cual trajo un interes por parte de los mineros nunca antes visto, conyevando un incremeto explosivo del hashrate <a href="http://poolcore.xrhodium.org/">http:// poolcore.xrhodium.org</a>.<br />&nbsp;
                                </p>
                                <span class="date">
                                    Q4
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Merchandising de xRhodium
                                </h4>
                                <p class="desc">
                                    Primera ola de memorabilia de xRhodium sera presentada a la comunidad, a los fines de apoyar el desarrollo y cubrir los costos de marketing.
                                </p>
                                <span class="date">
                                    Q4
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    WALLET ELECTRUM
                                </h4>
                                <p class="desc">
                                    La wallet Electrum sera lanzada para dar a los tenedores de xRhodium una alternativa para almacenar sus monedas XRC <a href="https://electrum.xrhodium.org/">Electrum Wallet</a>.
                                </p>
                                <span class="date">
                                    Q4
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    LaTrinidad Cripto
                                </h4>
                                <p class="desc">
                                    Nuestra nueva vision de colaborar con BTC y LTC.
                                </p>
                                <span class="date">
                                    November, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Programa Manos Fuertes
                                </h4>
                                <p class="desc">
                                    Acumula y se premiado
                                </p>
                                <span class="date">
                                    Q4
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    xRhodium y BISQ
                                </h4>
                                <p class="desc">
                                    Bisq ies una aplicaion open-source la cual te opermite comprar y vender bitcoins a cambio de monedas soberanas, u otras monedas digitales.
                                </p>
                                <span class="date">
                                    Diciembre, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">2019 Q1</li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    PRIMERA LISTADO EN UN EXCHANGE
                                </h4>
                                <p class="desc">
                                    xRhodium espera ser listado en uno de los principales exchanges para finales del primer trimestrem de 2019.
                                </p>
                                <span class="date">
                                    Q1 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    LANZAMIENTO DEL SOURCE CODE EN GITLAB
                                </h4>
                                <p class="desc">
                                    Tal como prometido, luego del primer listado, varios componentes del source code de xRhodium seran puestos a disposicion de la comuidad en GitLab. El atraso del lanzamiento del code fue decido por el equipo de desarrollo, a fines de asegursr la seguridad de la red de xRhodium y de sus usuarios.
                                </p>
                                <span class="date">
                                    Q1 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">2019 Q2</li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    NUEVO LAMZAMIENTO ELECTRUM-XRC
                                </h4>
                                <p class="desc">
                                    Lanzamiento del wallet xRhodium Electrum. Periodo de gracia para mover tus fondos sera al comienzo de Q3.
                                </p>
                                <span class="date">
                                    Q2 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    SOPORTE DE HARDWARE WALLET
                                </h4>
                                <p class="desc">
                                    Estamos a la espra del nuevo firmware de Trezor HW para el sopoprte total de XRC <a href="https://github.com/xRhodiumodium/trezor-common" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'trezor'});">https:// github.com/ xRhodiumodium/ trezor-common</a>.
                                    Puede encontrar el estado real en <a href="https://trezor.io/coins/" target="_blank"> Lista de asistencia oficial de monedas de Trezor </a>. <br />
                                    ~ Esperado: todos los días.
                                </p>
                                <span class="date">
                                    Q2 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    PROGRAMA DE EMBAJADOR
                                </h4>
                                <p class="desc">
                                    Programa que contribuira a presentar y hacer crecer el proyecto.
                                </p>
                                <span class="date">
                                    Q2 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">2019 Q3</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    PERIODO DE GRACIA
                                </h4>
                                <p class="desc">
                                    Período de gracia 7/1/2019 - 7/7/2019 para mover sus fondos a otras billeteras sin demanda al Programa Strong Hand.
                                </p>
                                <span class="date">
                                    Q3 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Strong Hands Descripción
                                </h4>
                                <p class="desc">
                                    Habrá una próxima instantánea después del período de gracia. La hora exacta para la siguiente instantánea se establece en 7/8/2019 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    7/8/2019 00:00:00 UTC
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    SOPORTE DE MONEDERO MÓVIL
                                </h4>
                                <p class="desc">
                                    Puedes usar nuestra nueva billetera móvil <a href="https://magnumwallet.co/" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'magnum' });" target="_blank">Magnum Wallet</a>.
                                </p>
                                <span class="date">
                                    Q3 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Mercado mundial de metales P2P
                                </h4>
                                <p class="desc">
                                    Sitio web de <a href="http://freemarket.one/" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FreeMarket.One</a>.
                                </p>
                                <span class="date">
                                    Q3 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Característica de anonimización
                                </h4>
                                <p class="desc">
                                    Las primeras ideas con integración se describen en el artículo <a target="_blank" href="https://medium.com/@Html.Raw("@")xRhodium/bitcoin-rhodiums-path-towards-digital-freedom-making-transactions-private-6e07525b9ddc" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freedom'});">xRhodium’s Path Towards Digital Freedom: Making Transactions Private</a>.
                                </p>
                                <span class="date">
                                    Q3 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2019 Q4</li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Strong Hands Descripción
                                </h4>
                                <p class="desc">
                                    Habrá la próxima instantánea. La hora exacta para la próxima instantánea se establece en 10/1/2019 0:00:00 UTC.
                                </p>
                                <span class="date">
                                    10/1/2019 0:00:00 UTC
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    SOPORTE DE MONEDERO HARDWARE
                                </h4>
                                <p class="desc">
                                    Continuaremos con soporte de billetera dura, comenzando con Ledger, otro gran jugador.
                                </p>
                                <span class="date">
                                    Q4 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Free Market One
                                </h4>
                                <p class="desc">
                                    Primera versión alfa de <a href="http://www.freemarket.one/" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FreeMarket.One</a>.
                                </p>
                                <span class="date">
                                    Q4 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Wasabi Wallet on XRC TestNet
                                </h4>
                                <p class="desc">
                                    Nueva billetera Wasabi con función de anonimato CoinJoin en XRC TestNet.
                                </p>
                                <span class="date">
                                    Q4 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    NUEVO LANZAMIENTO ELECTRUM-XRC
                                </h4>
                                <p class="desc">
                                    Próximo lanzamiento de la billetera xRhodium Electrum.
                                </p>
                                <span class="date">
                                    Q4 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2020</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    PERIODO DE GRACIA
                                </h4>
                                <p class="desc">
                                    Período de gracia 1/1/2020 - 7/1/2020 para mover sus fondos a otras billeteras sin demanda al Programa Strong Hand.
                                </p>
                                <span class="date">
                                    Q1 2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Wasabi Web
                                </h4>
                                <p class="desc">
                                    Nueva web de Wasabi <a href="https://wasabi.xrhodium.org" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'wasabi'});">Wasabi xRhodium</a>.
                                </p>
                                <span class="date">
                                    Q1 2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Grace Period & Strong Hands Descripción
                                </h4>
                                <p class="desc">
                                    Período de gracia 1/4/2020 - 4/4/2020 para mover sus fondos a otras billeteras sin demanda al Programa Strong Hand. La hora exacta para la siguiente instantánea se establece en 5/4/2020 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    Q2 2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Grace Period & Strong Hands Descripción
                                </h4>
                                <p class="desc">
                                    Período de gracia 1/7/2020 - 4/7/2020 para mover sus fondos a otras billeteras sin demanda al Programa Strong Hand. La hora exacta para la siguiente instantánea se establece en 5/7/2020 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    Q3 2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Grace Period & Strong Hands Descripción
                                </h4>
                                <p class="desc">
                                    Período de gracia 1/10/2020 - 4/10/2020 para mover sus fondos a otras billeteras sin demanda al Programa Strong Hand. La hora exacta para la próxima instantánea se establece en 5/10/2020 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    Q4 2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    INTEGRACIÓN DE SQLITE
                                </h4>
                                <p class="desc">
                                    Node usará SQLite. La solución con SQLite será mucho más rápida y estable.
                                </p>
                                <span class="date">
                                    2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    LEDGER WALLET SUPPORT
                                </h4>
                                <p class="desc">
                                    Las integraciones de billetera Ledger de terceros están en progreso. <br />
                                    ~ El plazo de entrega corresponde a la empresa LEDGER. Intenta forzarlos allí <a href="https://github.com/LedgerHQ/ledger-app-btc/pull/131" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'ledger'});">Ledger GitHub</a> .
                                </p>
                                <span class="date">
                                    2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Free Market One - Nueva plataforma comercial mundial
                                </h4>
                                <p class="desc">
                                    Actualmente, trabajando las 24 horas, todos los desarrolladores de XRC están haciendo <a href="https://www.freemarket.one/#roadmap" target="_ blank" onclick="gtag ('event', 'click', {event_category : 'button', event_action: 'click', event_label: 'freemarket'}); "> FreeMarket.One </a> su objetivo principal. ¡Solo XRC será un token comercial nativo para esta plataforma! Las personas inteligentes saben lo que significa.
                                </p>
                                <span class="date">
                                    <a href="https://www.freemarket.one/#roadmap" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FM.ONE RoadMap</a>
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Presentación del nuevo RoadMap después del lanzamiento de FM.ONE Vision # 1
                                </h4>
                                <p class="desc">
                                    Con la etapa de desarrollo de capacidades completada, ajustaremos el alcance de nuestras actividades para estar más centrados en el usuario y orientados a utilizar el potencial en el desarrollo del ecosistema de xRhodium.
                                </p>
                                <span class="date">
                                    Después del lanzamiento de FM.ONE Vision 1
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Socios de metal rodio
                                </h4>
                                <p class="desc">
                                    Asociación establecida con el mercado de metales preciosos.
                                </p>
                                <span class="date">
                                    2020
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    WASABI WALLET - Con el nodo XRC completo
                                </h4>
                                <p class="desc">
                                    Implementando nuevas características de privacidad en Wasabi.
                                </p>
                                <span class="date">
                                    Después del lanzamiento de FM.ONE Vision 1
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">2021 +</li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    X13 ASIC Soporte de firmware
                                </h4>
                                <p class="desc">
                                    Negociaciones con proveedores de ASIC.
                                </p>
                                <span class="date">
                                    2021 +
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Característica de anonimización
                                </h4>
                                <p class="desc">
                                    Presentación de próximas mejoras.
                                </p>
                                <span class="date">
                                    2021 +
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Integración ATM
                                </h4>
                                <p class="desc">
                                    Negociaciones con proveedores de cajeros automáticos.
                                </p>
                                <span class="date">
                                    2021 +
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year"></li>

                            <li class="start fa fa-bookmark"></li>
                            <li class="clear"></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>Usos</h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>
        <div class="container services-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/crypto-trinity.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>The Crypto Trinity</h4>
                            <p>El uso de xRhodium satisface el vacio en el mercado de criptomonedas y junto a BTC y LTC forma un eficiente ecosistema, la Trinidad Cripto, que satisface las necesidades de la mayoria de los inversores.</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("CryptoTrinity", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'cryptotrinity'});">Lee mas</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 center-box">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/stronghands.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>Strong Hands programme</h4>
                            <p>Programa Manos Fuertes y aversion a vender; dos cualidades que distinguen a xRhodium del resto. Fortalece tu posicion y acumula, a traves de tu participacion sin costo en el Programa Manos Fuertes.</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("StrongHandsAirdrop", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'strong-hands'});">Lee mas</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/market.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>P2P xRhodium <br /> Mercado de Metales</h4>
                            <p>OUna de las prioridades de largo plazo de xRhodium es proveer a sus inversores el acceso a los mercados de metales preciosos a traves de un metodo decentralizado de intercambio persona a persona="btn-box">
                            <p><a href="@Url.MyAction("FreeMarket", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2p-market'});">Lee mas</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>xRhodium</p>
                        <h2>La comunidad</h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5>Twitter</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>Discord</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5>Telegram</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>Bitcoin Talk</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>
                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">
                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">Tweets by xRhodium</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
                
            </div>
        </div>
    </footer>
    <a href="#0" class="cd-top">Top</a>
    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    @Html.Partial("_GoogleAnalytics")
</body>
</html>