﻿@using xRhodium.Controllers
@model HomeViewModel
@functions {
    private string GetReferer()
    {
        var query = string.Empty;
        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>
  
    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">
    <script src="/data/js/modernizr-custom.js"></script>
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>
    <header id="subpage">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo-black.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>
                @Html.Partial("_NavigationEs")
            </div>
        </nav>
    </header>
    <section>
        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>Programa Manos Fuertes <br /> Almacena y se premiado</h2>
                        <p>Airdrop to xRhodium holders.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-about">
                            <p>
                                EL Programa Manos Fuertes es una caracteristica innovadora, el cual <strong>premia a los tenedores</strong> y estimula nueva inversion. <strong>Cada 3 meses puedas asegurarte una parte de los 16072 XRC</strong> que seran distribuidos durante cada periodo trimestral.
                            </p>
                            <p class="text-center"><img class="img-fluid" src="/data/img/master/bitcoin-rhodium-crypto-deposit.jpg?v2" /></p>
                            <h5>Como participar</h5>
                            <p>
                                <strong>Todos los tenedores de xRhodium</strong> y sus  direcciones del wallet seran incluids automaticamente. De esta manera, <strong>no no es necesario taken</strong> registrasrse. Un <strong> snapshot automatico</strong> de los saldos invividuales sera tomado al principio y al fin de cada trimestre (el cierre de un periodo es el comienzo del proximo). <strong>Los pagos seran automaticamente transferidos</strong> a las direcciones de XRC que no hayan tenido movimientos de salida durante el trimestre.
                            </p>
                            <h5>Quien es elegible</h5>
                            <p>
                                <strong>Cada 3 meses</strong>, los pagos son distribuidos a las direcciones que hayan completado <strong>el periodo trimestral sin haber habido movimientos salientes </strong> (cualquier transferencia de la direccion automaticamente de descalifica del pago). Durante un periodo determinado, solamente las direcciones XRC sin transferencias salientes seran premiadas. El pago sera basado en el saldo inicial del periodo, independientemente de la cantidad de XRC que pudo haber sido adicionada durante el periodo, pero si sera tenido en cuenta para el proximo ciclo. Vea a copntinuacion <a href="#reward-examples">algunos ejemplos</a>.
                            </p>
                            <h5>El cronometraje</h5>
                            <p>
                                Las recompensas <strong> se desembolsarán cada 3 meses </strong> dentro de una ventana <strong> de 2 semanas después del final de cada ciclo </strong>. <br> <br>
                                El primer ciclo # 1 fue lanzado por una instantánea automática el 01/01/2019 (1 de enero de 2019) y terminó el 01/04/2019 (1 de abril de 2019). <br>
                                El segundo ciclo # 2 se lanzó mediante una instantánea automática el 01/04/2019 (1 de abril de 2019) y finalizó el 01/07/2019 (1 de julio de 2019). <br>
                                El tercer ciclo # 3 fue lanzado por una instantánea automática el 07/08/2019 (8 de julio de 2019) y finalizó el 10/01/2019 (1 de octubre de 2019). <br>
                                El cuarto ciclo # 4 fue lanzado por una instantánea automática el 10/01/2019 (1 de octubre de 2019) y terminó el 01/01/2020 (1 de enero de 2020). <br>
                                El quinto ciclo # 5 se lanzó mediante una instantánea automática el 01/08/2020 (8 de enero de 2020) y finalizó el 01/04/2020 (1 de abril de 2020). <br>
                                El quinto ciclo # 6 se lanzó mediante una instantánea automática el 04/05/2020 (5 de abril de 2020) y finalizó el 07/01/2020 (1 de julio de 2020). <br> <br>
                                El siguiente ciclo está programado para el período comprendido entre el 07/05/2020 (5 de julio de 2020) y el 10/01/2020 00:00:01 UTC (1 de octubre de 2020).
                                <br>
                                <strong> Siguiente instantánea </strong> (saldo XRC calificado para recompensas): 10/05/2020 00:00:01 UTC (5 de octubre de 2020)
                                <br>
                                Se otorgará el Período de gracia para mover fondos: 10/01/2020 00:00:01 UTC (1 de octubre de 2020) - 10/04/2020 23:59:59 UTC (4 de octubre de 2020)
                            </p>
                            <h5 id="reward-examples">Fondos</h5>
                            <p>
                                Los pagos son financiados por <strong>257,143 XRC</strong> (de los 840,000 XRC) que no fueron reclamados durante los 2 airdrops. El primer periodo 01/01/2019 (Enero 1, 2019) <strong>will distribuira 8036 XRC</strong>. Los 210,000 XRC pre-minados (adjudicados al desarrolo del proyecto) son <strong>excluidos fdel programa</strong> y poir ende no recibiran premio.
                            </p>
                            <h5>Ejemplos</h5>
                            <p>
                                A: 10/1: 100 XRC, 1/1: 100 XRC sin movimientos salientes. <strong>Rewarded</strong> recibe premio basado en 100 XRC<br>
                                B: 10/1: 100 XRC, 1/1: 120 XRC sin movimientos salientes (recibe 20 durante el periodo): <strong>Rewarded</strong> recibe premio basado en 100 XRC<br>
                                C: 10/1: 100 XRC, 1/1: 150 XRC transferencia saliente de 20 (queda vacia), transfiere 30 durante el trimestre” <strong>No recibe premio</strong><br>
                                D: 10/1: 0 XRC, 1/1: 100 XRC transfered in 100 XRC: <strong>No reward</strong><br>
                                E: 10/1: 100 XRC, 1/1 100 XRC transferidos afuera 20 el 10/5 y transferidos entrantes 100 el 11/10: <strong>No recibe premio<</strong><br>
                                Una direccion con balance cero el 10/1 No recibe premio< <strong></strong> sin importar los movimientos que pudiere haber hecho durante el trimestre
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>Usos</h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>
        <div class="container services-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/crypto-trinity.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>The Crypto Trinity</h4>
                            <p>El uso de xRhodium satisface el vacio en el mercado de criptomonedas y junto a BTC y LTC forma un eficiente ecosistema, la Trinidad Cripto, que satisface las necesidades de la mayoria de los inversores.</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("CryptoTrinity", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'cryptotrinity'});">Lee mas</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 center-box">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/stronghands.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>Programa Manos Fuertes</h4>
                            <p>Programa Manos Fuertes y aversion a vender; dos cualidades que distinguen a xRhodium del resto. Fortalece tu posicion y acumula, a traves de tu participacion sin costo en el Programa Manos Fuertes.</p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("StrongHandsAirdrop", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'strong-hands'});">Lee mas</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/market.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>P2P xRhodium <br /> Metals Market</h4>
                            <p>Una de las prioridades de largo plazo de  xRhodium es facilitar a sus inversores el ingreso a los mercados de metales preciosos a traves de un metodo decentralizado de intercambio persona a persona.</p>
                            <div class="btn-box">
                                <p><a href="@Url.MyAction("FreeMarket", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2p-market'});">Lee mas</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>xRhodium</p>
                        <h2>La comunidad</h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5>Twitter</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>Discord</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5>Telegram</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>Bitcoin Talk</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>
                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">
                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">Tweets by xRhodium</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
                
            </div>
        </div>
    </footer>
    <a href="#0" class="cd-top">Top</a>
    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    @Html.Partial("_GoogleAnalytics")
</body>
</html>