﻿@using xRhodium.Controllers
@model HomeViewModel

@functions {

    private string GetReferer()
    {
        var query = string.Empty;

        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>

    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">
    <script src="/data/js/modernizr-custom.js"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">

    <style>
        p, span, strong, li, a, h1, h2, h3, h4, h5, h6, div {
            direction: rtl !important;
            text-align: right !important;
        }

        .heroe-bg, .videobg-hide-controls, .videobg-make-height, .videobg-aspect, .videobg-width {
            direction: ltr !important;
            text-align: left !important;
        }

        .home-teaser p, .home-teaser span, h1, h2, h3, h4, h6, .section-title p, .counter-statistics h5, .counter-statistics div, .thumb-caption p, .thumb-caption .btn-box, div.social-icons {
            text-align: center !important;
        }

        div.btn-more-box, .home-icon-box h3, div.exchange-about, div.exchange-about h6, div.contact-info h2, .post-caption h3, .about-author h4 {
            text-align: right !important;
        }

        .inner-counter {
            border-left: 1px solid rgba(221, 221, 221, 0.8);
            border-right: none;
        }

        .last-box-counter {
            border-left: none;
        }

        .form-box {
            left: 40%;
        }

        .address-icon, .phone-icon, .email-icon {
            float: right;
        }

        .telegram {
            margin-top: 70px;
            color: #0088cc
        }

        .twitter {
            color: #1DA1F2
        }

        .youtube {
            margin-top: 70px;
            color: #FF0000
        }
    </style>
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>

    <header id="subpage">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo-black.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>

                @Html.Partial("_NavigationAr")
            </div>
        </nav>
    </header>

    <section>
        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>
                            برنامج السفراء
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-about">
                            <p>
                                نحن على استعداد لفتح الأبواب لمؤيدي xRhodium في جميع أنحاء العالم. برنامج السفراء يستند على المعرفة المحلية والمهارات والعاطفة.

                            </p>
                            <p>
                                هل تريد ان تصبح جزءا من النظام البيئي للحرية الرقمية لتشكيل عالم الغد؟ إذن ما الذي تنتظره؟
                            </p>
                            <p>
                                قم بإنشاء مجتمع xRhodium المحلي في مدينتك من خلال تنظيم لقاءات منتظمة لمشاركة المعرفة وكن لنا سفيراً ل XRC! سندعمك بأي شيء تحتاجه لتحقيق رؤية الحرية الرقمية في مدينتك.

                            </p>
                            @*<p>
                                    إذا كنت مهتما بالمشاركة، يرجى ملء هذا النموذج حتى يتمكن فريق XRC من معرفة المزيد عنك. نحن نبحث دائما عن داعمين متحمسين لنشر رسالتنا حول العالم.

                                </p>

                                <div class="btn-more-box">
                                    <a class="btn btn-custom" href="https://forms.gle/h9Wt9qANVgq52KqG7" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'ambassadorform'});">نماذج الطلب</a>

                                </div>*@

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="section-title">
                        <h2>برنامج المكافآت</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-about">
                            <p class="twitter"><strong>TWITTER CAMPAIGN</strong></p>
                            <p>
                                لديك حساب Twitter مع 1000 متابعين وأكثر؟ ثم تابعنا على Twitter ، وصنع بعض التغريدات وأربح XRC! سقسقة حول Bitcoin الروديوم مع عدد قليل من الوسم وعليك أن يكافأ. استخدام نموذج تقديم رفع الصوت عاليا والامتثال للقواعد المتاحة في التطبيق!
                            </p>
                            <div class="btn-more-box">
                                <a class="btn btn-custom" href="https://docs.google.com/forms/d/e/1FAIpQLSfHlmQjHQhg5-XpuZ01gNKm-yOFj_XaB4KxmNfD1OqREFiUVg/viewform" target="_blank" onclick="gtag(&#39;event&#39;, &#39;click&#39;, { event_category: &#39;button&#39;, event_action: &#39;click&#39;, event_label: &#39;ambassadorform&#39;});">Twitter Submission Form</a>
                            </div>

                            <p class="telegram"><strong>TELEGRAM CAMPAIGN</strong></p>
                            <p>
                                يمكنك إنشاء مشاركات على مجموعات البرق ، وإخبار الأعضاء الآخرين عن xRhodium وميزاته واستخدام الحالات وكسب XRC كمكافأة. القواعد الكاملة متوفرة في النموذج أسفل رفع الصوت عاليا.
                            </p>
                            <div class="btn-more-box">
                                <a class="btn btn-custom" href="https://docs.google.com/forms/d/e/1FAIpQLSfj1zmfT4eEcVMrvKVVmwav-sGGWv0T3W6a8UdvC0fBhuZD2A/viewform" target="_blank" onclick="gtag(&#39;event&#39;, &#39;click&#39;, { event_category: &#39;button&#39;, event_action: &#39;click&#39;, event_label: &#39;ambassadorform&#39;});">Telegram Submission Form</a>
                            </div>

                            <p class="youtube"><strong>YOUTUBE CAMPAIGN</strong></p>
                            <p>
                                تكافئ Youtube bounty منشئي المحتوى الذين يقومون بمراجعات حول xRhodium. يمكن أن تكون مراجعات الفيديو بأي لغة ويجب ألا تقل مدتها عن 5 دقائق. مزيد من المعلومات والمتطلبات في النموذج.
                            </p>
                            <div class="btn-more-box">
                                <a class="btn btn-custom" href="https://docs.google.com/forms/d/e/1FAIpQLScQbM6-XUVXcbxQ_ep2IX7fMr98162qkeEwGCqb9ZDmWnyJ2g/viewform" target="_blank" onclick="gtag(&#39;event&#39;, &#39;click&#39;, { event_category: &#39;button&#39;, event_action: &#39;click&#39;, event_label: &#39;ambassadorform&#39;});">Youtube Form</a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="section-title">
                        <h2>للتحميل</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <tr>
                                <th></th>
                                <th>AI</th>
                                <th>PNG</th>
                            </tr>
                            <tr>
                                <td><strong>الشعار الأبيض الكامل ل xRhodium</strong></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020-full-white.ai" target="_blank">logo2020-full-white.ai</a></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020-full-white.png" target="_blank">logo2020-full-white.png</a></td>
                            </tr>
                            <tr>
                                <td><strong>الشعار الأسود الكامل ل xRhodium</strong></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020-full-black.ai" target="_blank">logo2020-full-black.ai</a></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020-full-black.png" target="_blank">logo2020-full-black.png</a></td>
                            </tr>
                            <tr>
                                <td><strong>الشعار الأبيض ل xRhodium</strong></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020.ai" target="_blank">logo2020.ai</a></td>
                                <td><a href="https://www.xrhodium.org/data/logo2020.png" target="_blank">logo2020.png</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>تغريدات للمشاركة</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <tr>
                                <th>نص</th>
                                <th style="width: 250px">رابط</th>
                            </tr>
                            <tr>
                                <td>شغفنا هو تطوير عملة مشفرة يتم امتلاكها في المقام الأول من قبل المستثمرين على المدى الطويل. @Html.Raw("@")xRhodium</td>
                                <td><a href="https://ctt.ac/aoddV" target="_blank">https://ctt.ac/aoddV</a></td>
                            </tr>
                            <tr>
                                <td>
                                    برنامج الأيدي القوية
                                    امتلك & واحصل على مكافآت
                                    مكافآت مجانية لمالكي xRhodium.
                                </td>
                                <td><a href="https://ctt.ac/dfqj6" target="_blank">https://ctt.ac/dfqj6</a></td>
                            </tr>
                            <tr>
                                <td>واحده من أولويات xRhodium على المدى الطويل هي تزويد المساهمين في أسواق المعادن الثمينة بطريقه لامركزية للتبادل المبني على مبدأ الند للند.</td>
                                <td><a href="https://ctt.ac/kaXqR" target="_blank">https://ctt.ac/kaXqR</a></td>
                            </tr>
                            <tr>
                                <td>نحن نعتقد أن xRhodium ذات قيمة كبيرة لأنها نادرة، ومع خيارات تروق وتجذب الكثير من المستثمرين على المدى الطويل. @Html.Raw("@")xRhodium</td>
                                <td><a href="https://ctt.ac/7y7po" target="_blank">https://ctt.ac/7y7po</a></td>
                            </tr>
                            <tr>
                                <td>تقوم xRhodium مع حالة استخدامها بملء الفجوة في سوق العملات المشفرة جنبا إلى جنب مع البيتكوين واللايتكوين من خلال تشكيل نظاما إيكولوجياً فعالا، ثالوث التشفير، الذي يلبي احتياجات معظم المستثمرين.</td>
                                <td><a href="https://ctt.ac/9Wf9s" target="_blank">https://ctt.ac/9Wf9s</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>المقالات الأخيرة</h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>

        <div class="container sharing" id="blog">
            <div class="row">
                <div class="col-lg-12">
                    <div id="medium-widget"></div>
                    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
                    <script>MediumWidget.Init({ renderTo: '#medium-widget', params: { "resource": "https://medium.com/xrhodium", "postsPerLine": 3, "limit": 9, "picture": "big", "fields": ["description", "author", "publishAt"], "ratio": "landscape" } })</script>

                </div>
            </div>

        </div>

        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>xRhodium</p>
                        <h2>
                            المجتمع
                        </h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5> تويتر</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>ديسكورد</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5> التيليجرام</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>بيتكوين تالك</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>


                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">

                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">تغريدات بواسطة xRhodium </a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
                
            </div>
        </div>

    </footer>

    <a href="#0" class="cd-top">الأعلى</a>

    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    @Html.Partial("_GoogleAnalytics")
</body>

</html>