﻿@using xRhodium.Controllers
@model HomeViewModel

@functions {

    private string GetReferer()
    {
        var query = string.Empty;

        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>

    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="xRhodium (XRC) - Base currency for the FreeMarketOne" />
    <meta name="twitter:image" content="https://xrhodium.org/twitter-card.png" />

    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <script src="/data/js/modernizr-custom.js"></script>

    <style>
        p, span, strong, li, a, h1, h2, h3, h4, h5, h6, div {
            direction: rtl !important;
            text-align: right !important;
        }

        .heroe-bg, .videobg-hide-controls, .videobg-make-height, .videobg-aspect, .videobg-width {
            direction: ltr !important;
            text-align: left !important;
        }

        .home-teaser p, .home-teaser span, h1, h2, h3, h4, h6, .section-title p, .counter-statistics h5, .counter-statistics div, .thumb-caption p, .thumb-caption .btn-box, div.social-icons {
            text-align: center !important;
        }

        div.btn-more-box, .home-icon-box h3, div.exchange-about, div.exchange-about h6, div.contact-info h2, .post-caption h3, .about-author h4 {
            text-align: right !important;
        }

        .inner-counter {
            border-left: 1px solid rgba(221, 221, 221, 0.8);
            border-right: none;
        }

        .last-box-counter {
            border-left: none;
        }

        .form-box {
            left: 40%;
        }

        .address-icon, .phone-icon, .email-icon {
            float: right;
        }
    </style>
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>

    <header id="home">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>

                @Html.Partial("_NavigationAr")
            </div>
        </nav>

        <div class="heroe-bg">
            <div class="videobg">
                <div class="videobg-width">
                    <div class="videobg-aspect">
                        <div class="videobg-make-height">
                            <div class="videobg-hide-controls">
                                <iframe src="https://player.vimeo.com/video/337018498?autoplay=1&loop=1&title=0&byline=0&portrait=0&muted=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="middle">
                <div class="word"></div>
                <div class="social-icons">

                    <a href="https://twitter.com/xrhodium_xrc" target="_blank" class="video-button" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'twitter'});">
                        <i class="fab fa-twitter" aria-hidden="true"></i> تابعنا على تويتر
                    </a>
                    <a href="https://discord.gg/WmxceSm" target="_blank" class="video-button" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'discord'});">
                        <i class="fab fa-discord" aria-hidden="true"></i> انضم إلى مجتمعنا
                    </a>
                </div>
                <div class="social-icons">
                    <a href="@Url.MyAction("AmbassadorProgram", new { r = Model.Referer })" class="video-button" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'ambassador'});">
                        <i class="fa fa-user" aria-hidden="true"></i> كون سفير XRC
                    </a>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container" id="teaser">
            <div class="row">
                <div class="col-lg-12">
                    <div class="home-teaser">

                        <p class="mb60">

                            <span class="bolder" style="color: #ff9900 !important;">
                                Bitcoin الروديوم ليس شوكة Bitcoin. إنه أصل تشفير جديد.
                            </span>

                        </p>
                        <p class="imporant">لن يكون هناك سوى 2.1 مليون XRC.</p>

                    </div>
                </div>
            </div>
        </div>

        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="home-about">
                            <h5>
                                حول xRhodium
                            </h5>
                            <p>
                                عملة <strong>xRhodium</strong> هي سلعة مشفرة وعملة مشفرة جديدة ونادرة ومحدودة لحفظ القيمة للمستقبل. إنها تهدف إلى توفير طريقة
                                دفع، إلى جانب كونها سلعة قيّمة حقيقية، والتي سوف تصبح عنصرا مزدهراً للاستثمار جنبا إلى جنب مع البيتكوين. تستخدم xRhodium البلوكشين الفريد من نوعه الخاص بها مع إجمالي عدد عملات
                                2.1 مليون XRC. وهي مبرمجة بلغة c # وبالأخص خوارزمية إثبات العمل "POW" فقط. جميع أصحاب العملات على المدى الطويل يكونون مؤهلين لبرنامج الأيدي
                                القوية الذي يضمن عائدا كبيرا من الاستثمار كل 3 أشهر. سوق المعادن ل xRhodium المبني على مبدأ الند للند الذي سيربط العالم المشفّر مع عالم
                                الاستثمار التقليدي يجرى حاليا تطويره لتعزيز حالات استخدام xRhodium. عملة xRhodium سوف تعقد شراكة
                                أيضاً مع واحدة من خدمات عدم الكشف عن الهوية التالية: <strong>CoinJoin</strong> أو <strong>Confidential Transactions</strong> أو <strong>MimbleWimble</strong>.
                            </p>
                            <h5>
                                ورقة العمل
                            </h5>
                            <p>
                                ألق نظرة على ورقة العمل الرسمية ل xRhodium. ويمنح الإذن باستخدام هذه المواد لأغراض العلاقات العامة والتسويق.
                            </p>
                            <div class="btn-more-box">
                                <a class="btn btn-custom-small" href="https://www.xrhodium.org/Whitepaper.pdf" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'whitepaper'});">
                                    تحميل
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="home-icon-box">
                            <div class="coinmarketcap-currency-widget" data-currencyid="3839" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="true"></div>

                        </div>
                        <div class="home-icon-box">
                            <figure class="icon-pic"><img src="/data/img/master/ico-freedom-dark.png" alt="" /></figure>
                            <h3>
                                جعل المعاملات خاصة
                            </h3>
                            <p>
                                شغفنا هو تطوير عملة مشفرة يتم امتلاكها في المقام الأول من قبل المستثمرين على المدى الطويل. عملة <strong>xRhodium سوف تعقد شراكة مع واحدة من خدمات عدم الكشف عن الهوية التالية: CoinJoin أو Confidential Transactions أو MimbleWimble</strong>.

                            </p>
                            <div class="btn-more-box">
                                <a class="btn btn-custom-small" href="https://medium.com/@Html.Raw("@")xRhodium/bitcoin-rhodiums-path-towards-digital-freedom-making-transactions-private-6e07525b9ddc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freedom'});">
                                    إقرأ المزيد
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>
                            حالات الاستخدام
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>

        <div class="container services-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/crypto-trinity.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>
                                ثالوث التشفير
                            </h4>
                            <p>
                                تقوم xRhodium مع حالة استخدامها بملء الفجوة في سوق العملات المشفرة جنبا إلى جنب مع البيتكوين واللايتكوين من خلال تشكيل نظاما إيكولوجياً فعالا، ثالوث التشفير، الذي يلبي احتياجات معظم المستثمرين.
                            </p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("CryptoTrinity", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'cryptotrinity'});">
                                        إقرأ المزيد
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 center-box">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/stronghands.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>
                                برنامج الأيدي القوية 
                            </h4>
                            <p>
                                برنامج الأيدي القوية والنفور من الخروج: يعبران اثنين من الصفات التي تميز مستثمري xRhodium عن باقي المستثمرين في سوق العملات الرقمية. قم بتعزيز مكانتك وقم ببناء المجمع الخاص بك من خلال المشاركة المجانية في برنامج الأيدي القوية.
                            </p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("StrongHandsAirdrop", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'strong-hands'});">
                                        إقرأ المزيد
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/market.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>
                                "سوق المعادن ل xRhodium
                                المبني على مبدأ الند للند وأكثر"
                            </h4>
                            <p>
                                واحده من أولويات xRhodium علي المدى الطويل هي تزويد المساهمين في أسواق المعادن الثمينة بطريقه لامركزية لتبادل المبني على مبدأ الند للند.
                            </p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("FreeMarket", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2p-market'});">
                                        إقرأ المزيد
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="exchanges">
            <div class="section-title">
                <h2>
                    منصات التداول
                </h2>
                <p>
                    رمزرمز xRhodium هو XRC.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://bisq.network/markets/?currency=xrc_btc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bisq-download'});"><img src="/data/img/master/bisq.png" alt="BISQ Exchange" /></a>
                        </figure>
                        <h6>
                            <a href="https://bisq.network/markets/?currency=xrc_btc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bisq-download'});">
                                شبكة BISQ (البيتكوين)
                            </a>
                        </h6>
                        <p>
                            تطبيق Bisq, هو تطبيق مفتوح المصدر، مبني على مبدأ الند للند يسمح لك بشراء وبيع العملات المشفرة مقابل العملات النقدية. ليس هناك تسجيل. استمع إلى دليل BISQ على اليوتيوب.

                            <a href="https://youtu.be/UNAiBEuBaJ4" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bisq-manual'});">YouTube Manual.</a>
                        </p>
                        <div class="btn-box">
                            <a class="btn btn-custom-small" href="https://bisq.network/markets/?currency=xrc_btc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'bisq-download'});">افتح</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://folgory.com/trade-crypto/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'folgory'});"><img src="/data/img/master/folgory.png" alt="Folgory" /></a>

                        </figure>
                        <h6><a href="https://folgory.com/trade-crypto/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'folgory'});">Folgory (BTC, ETH, USD, EUR, USDC)</a></h6>
                        <p>Folgory (التابعة لـ Hashfort) هي عبارة عن بورصة مركزية منظمة مقرها في إستونيا. وهو يدعم اليورو ، USDC أزواج فيات</p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://folgory.com/trade-crypto/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'folgory'});">Open</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://p2pb2b.io/trade/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2pb2b'});"><img src="/data/img/master/p2pb2b.png" alt="P2PB2B" /></a>

                        </figure>
                        <h6>
                            <a href="https://p2pb2b.io/trade/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2pb2b'});">
                                منصة P2PB2B للتداول مقابل (USD, BTC, ETH)
                            </a>
                        </h6>
                        <p>
                            منصة P2PB2B هي المنصة التكنولوجية الأسرع نموا في العالم والتي توفر ظروفا فريدة للمستثمرين والتجار.
                        </p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://p2pb2b.io/trade/XRC_BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2pb2b'});">افتح</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://www.fatbtc.com/trading?currency=XRC%2FBTC&amp;freetab=0" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'fatbtc'});"><img src="/data/img/master/fatbtc.png" alt="FatBTC"></a>
                        </figure>
                        <h6>
                            <a href="https://www.fatbtc.com/trading?currency=XRC%2FBTC&amp;freetab=0" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'fatbtc'});">
                                منصة FatBTC للتداول مقابل (BTC, CNY)
                            </a>
                        </h6>
                        <p>
                            منصة FatBTC هي منصة صينية للعملات المشفرة، والتي تقبل التحويلات المصرفية المحلية.
                        </p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://www.fatbtc.com/trading?currency=XRC%2FBTC&amp;freetab=0" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'fatbtc'});">افتح</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://changelly.com/exchange/usd/xrc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'changelly'});"><img src="/data/img/master/changelly.png" alt="Changelly" /></a>

                        </figure>
                        <h6><a href="https://changelly.com/exchange/usd/xrc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'changelly'});">Changelly (BTC, ETH, XRP, USD, EUR, GBP)</a></h6>
                        <p>طريقة سريعة وآمنة لشراء أو تبادل 150+ العملات المشفرة. يمكنك تغيير - Bitcoin BTC أو Ethereum ETH أو Ripple XRC أو الدولار الأمريكي أو اليورو أو الجنيه الإسترليني.</p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://changelly.com/exchange/usd/xrc" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'changelly'});">Open</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="exchange-about">
                        <figure class="exchange-icon">
                            <a href="https://hitbtc.com/exchange/XRC-to-BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'hitbtc'});"><img src="/data/img/master/hitbtc.png" alt="HitBTC" /></a>

                        </figure>
                        <h6><a href="https://hitbtc.com/exchange/XRC-to-BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'hitbtc'});">HitBTC (BTC)</a></h6>
                        <p>
                            HitBTC عبارة عن بورصة بديهية وموثوقة ، مما يسمح للمستخدمين بالتداول في بعض أصول العملات المشهورة.
                        </p>
                        <div class="btn-box">
                            <p><a class="btn btn-custom-small" href="https://hitbtc.com/exchange/XRC-to-BTC" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'hitbtc'});">Open</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg id="curveUpColor-counter" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="some_facts">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="inner-counter">
                            <div class="counter-statistics">
                                <div class="counter">
                                    2.1 مليون
                                </div>
                                <h5>
                                    العدد الكلي للعملات
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="inner-counter">
                            <div class="counter-statistics">
                                <div class="counter">
                                    جديد
                                </div>
                                <h5>
                                    بلوكشين
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="inner-counter">
                            <div class="counter-statistics">
                                <div class="counter">X13</div>
                                <h5>
                                    تعدين POW
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="inner-counter last-box-counter">
                            <div class="counter-statistics">
                                <div class="counter">
                                    4 ميجا بايت
                                </div>
                                <h5>
                                    حجم الكتلة
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-counter" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>

        <div class="container">
            <div class="testimonials-box">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="home-icon-box">
                            <figure class="icon-pic"><i class="fa fa-cubes icon-color mt-10"></i></figure>
                            <h3>
                                المواصفات التقنية
                            </h3>
                            <p>
                                2.1 مليون XRC
                                <br>
                                POW X13<br>

                                <a onclick="gtag('event', 'click', { event_category: 'link', event_action: 'click', event_label: 'gitlab code source'});" href="https://gitlab.com/xRhodium/BRhodiumNode" target="_blank">كود C# مفتوح المصدر </a><br>
                                الفاصل الزمني المستهدف للكتلة 10 دقائق
                                <br>
                                حجم الكتلة 4 ميجا بايت
                                <br>
                                تعديل الصعوبة كل 2016 كتلة
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="home-icon-box">
                            <figure class="icon-pic"><i class="fa fa-exchange-alt icon-color m15"></i></figure>
                            <h3>
                                التوزيع
                            </h3>
                            <p>
                                50% قابلة للتعدين
                                (1050000 XRC)
                                <br>
                                28 ٪ مكافآت مجانية
                                (582857 XRC)
                                <br>
                                12 ٪ في الاستثمار لمدة 8 سنوات
                                (257143 XRC)
                                <br>
                                5 ٪ من التعدين المسبق المخصصة للتسويق
                                (105000 XRC)
                                <br>
                                5 ٪ من التعدين المسبق المخصصة للتطوير
                                (105000 XRC)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="home-icon-box">
                            <figure class="icon-pic"><img src="/data/img/master/ico-freedom-dark.png" alt="" /></figure>
                            <h3>
                                إخفاء الهوية
                            </h3>
                            <p>
                                xRhodium سوف تعقد شراكة مع واحدة من خدمات عدم الكشف عن الهوية التالية: CoinJoin أو Confidential Transactions أو MimbleWimble.

                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="home-icon-box">
                            <figure class="icon-pic"><i class="fa fa-sync-alt icon-color"></i></figure>
                            <h3>
                                مجموع العملات المتداولة
                            </h3>
                            <p>
                                XRC 2100000
                                من أصل
                                XRC 840000
                                ~
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <svg id="curveUpColor-team" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
        </svg>

        <div class="container-fluid inner-color" id="team">
            <div class="container">
                <div class="section-title">
                    <h2>الفريق الأساسي</h2>
                    <p>Bitcoin الروديوم هو عملة المجتمع مدفوعة. هنا خريطة لأعضاء المجتمع اللامركزي الأساسي.</p>
                </div>
                <div>
                    <p class="text-center"><img class="img-fluid" src="/data/img/master/core-team.png?v3" alt="xRhodium Core Team" /></p>
                </div>
            </div>
        </div>

        <svg id="curveDownColor-team" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
        </svg>

        <div class="container" id="blog">
            <div class="section-title">
                <h2>المقالات الأخيرة</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="medium-widget"></div>
                    <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
                    <script>MediumWidget.Init({ renderTo: '#medium-widget', params: { "resource": "https://medium.com/xrhodium", "postsPerLine": 3, "limit": 9, "picture": "big", "fields": ["description", "author", "publishAt"], "ratio": "landscape" } })</script>

                </div>
            </div>

        </div>

        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>xRhodium</p>
                        <h2>
                            المجتمع
                        </h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5> تويتر</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>ديسكورد</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5> التيليجرام</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>بيتكوين تالك</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>


                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">

                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">تغريدات بواسطة xRhodium </a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
                
            </div>
        </div>

    </footer>

    <a href="#0" class="cd-top">الأعلى</a>

    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110519512-1"></script>
    <script type="text/javascript">

        var timeoutId;
        var $videoBgAspect = $(".videobg-aspect");
        var $videoBgWidth = $(".videobg-width");
        var videoAspect = $videoBgAspect.outerHeight() / $videoBgAspect.outerWidth();

        function videobgEnlarge() {
            windowAspect = ($(window).height() / $(window).width());

            if (windowAspect > videoAspect) {
                var aspect = (windowAspect / videoAspect) * 100;
                $videoBgWidth.width(aspect + '%');
            } else {
                $videoBgWidth.width(100 + "%");
            }

            $("#home").height($(window).height());
            $(".heroe-bg").height($(window).height());
        }

        $(window).resize(function () {
            clearTimeout(timeoutId);
            timeoutId = setTimeout(videobgEnlarge, 100);
        });

        $(function () {
            videobgEnlarge();
        });

    </script>
    @Html.Partial("_GoogleAnalytics")
</body>

</html>