﻿@using xRhodium.Controllers
@model HomeViewModel

@functions {

    private string GetReferer()
    {
        var query = string.Empty;

        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>
    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">
    <script src="/data/js/modernizr-custom.js"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">

    <style>
        p, span, strong, li, a, h1, h2, h3, h4, h5, h6, div {
            direction: rtl !important;
            text-align: right !important;
        }

            .heroe-bg, .videobg-hide-controls, .videobg-make-height, .videobg-aspect, .videobg-width, li.note {
                direction: ltr !important;
                text-align: left !important;
            }

            .home-teaser p, .home-teaser span, h1, h2, h3, h4, h6, .section-title p, .counter-statistics h5, .counter-statistics div, .thumb-caption p, .thumb-caption .btn-box, div.social-icons, .year, .fa-bookmark {
                text-align: center !important;
            }

            div.btn-more-box, .home-icon-box h3, div.exchange-about, div.exchange-about h6, div.contact-info h2, .timeline h4, .timeline span.date {
                text-align: right !important;
            }

        .inner-counter {
            border-left: 1px solid rgba(221, 221, 221, 0.8);
            border-right: none;
        }

        .last-box-counter {
            border-left: none;
        }

        .form-box {
            left: 40%;
        }

        .address-icon, .phone-icon, .email-icon {
            float: right;
        }
    </style>
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>

    <header id="subpage">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo-black.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>

                @Html.Partial("_NavigationAr")
            </div>
        </nav>
    </header>

    <section>
        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>خارطة الطريق</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline list-unstyled">
                            <li class="year">2017</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
                                <h4>
                                    إطلاق الموقع الإلكتروني
                                </h4>
                                <p class="desc">
                                    تم إطلاق الموقع الرسمي وجعله متاح للجمهور وتم إدراج جميع المعلومات الأساسية عن المشروع عليه.
                                </p>
                                <span class="date">
                                    ديسمبر 2017:
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
                                <h4>
                                    المرحلة الأولى من مشروع المكافآت المجانية #1 الإعلان
                                </h4>
                                <p class="desc">
                                    تمت دعوة المستخدمين لتسجيل عناوين البيتكوين الخاصة بهم قبل 25 ديسمبر ليكونوا مؤهلين لأول مكافأة مجانية عالمية تبلغ 5 XRC.
                                </p>
                                <span class="date">
                                    13 ديسمبر- 25 ديسمبر، 2017
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
                                <h4>
                                    المرحلة الثانية من مشروع المكافآت المجانية #1 الإعلان
                                </h4>
                                <p class="desc">
                                    في المرحلة الثانية, يحصل المستخدمين الذين سجلوا عناوين البيتكوبن الخاصة بهم التي تحتوي على رصيد غير صفري قبل 10 يناير على 10 أضعاف رصيدهم من البيتكوين في شكل عملات XRC أي (10 XRC لكل 1 بيتكوين).
                                </p>
                                <span class="date">
                                    26 ديسمبر- 10 ديسمبر، 2017
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">الربع الأول من 2018</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <h4>
                                    اللقطة
                                </h4>
                                <p class="desc">
                                    لقطة من بلوكشين البيتكوين للمرحلة الثانية من المكافآت المجانية.
                                </p>
                                <span class="date">
                                    10 يناير, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    محفظة xRhodium
                                </h4>
                                <p class="desc">
                                    تم إطلاق محفظة Private online wallet الخاصة على الإنترنت لتسهيل مشروع المكافآت المجانية وخدمة مالكي xRhodium حيث تعمل كمنصة رئيسية على الإنترنت لتخزين عملاتهم.
                                </p>
                                <span class="date">
                                    يناير، 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    مشروع المكافآت المجانية #1
                                </h4>
                                <p class="desc">
                                    المستخدمين الذين سجلوا عناوين البيتكوين الخاصة بهم بشكل صحيح خلال المرحلة الأولي والثانية سيستلمون المكافآت المجانية المناظرة من xRhodium على محافظ xRhodium الخاصة بهم. حدثت عدة صعوبات تقنية على طول الطريق الذي بدأ عملية إعادة التسجيل اللاحقة.
                                </p>
                                <span class="date">
                                    من 18 يناير، 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    فتره إعادة التسجيل
                                </h4>
                                <p class="desc">
                                    تمت دعوة المستخدمين الذين نسوا توقيعاتهم، أو حصلوا على توقيعات غير صالحة، أو واجهوا أي صعوبات تقنية أخرى للمطالبة بعملات XRC الخاصة بهم مرة أخرى. تم تقديم دعم واسع النطاق كجزء من عملية إعادة التسجيل.
                                </p>
                                <span class="date">
                                    فبراير، 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    مستكشف xRhodium
                                </h4>
                                <p class="desc">
                                    إصدار مستكشف xRhodium للجميع، وسيتم إضافة مستكشف الكتل في وقت لاحق.
                                </p>
                                <span class="date">
                                    فبراير، 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    نهاية فترة المطالبة
                                </h4>
                                <p class="desc">
                                    انتهت فترة المطالبة
                                </p>
                                <span class="date">
                                    31 مارس, 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">الربع الثاني من 2018</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    إطلاق شبكة الاختبار
                                </h4>
                                <p class="desc">
                                    تم إطلاق شبكة الاختبار لاختبار مجمع التعدين، والمعاملات، واستقرار وظائف المحفظة.
                                    <a href="https://testnet.xrhodium.org/">https://testnet.xrhodium.org</a>
                                </p>
                                <span class="date">
                                    الربع الثاني
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">الربع الثالث من 2018</li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    محفظة ELECTRUM على الشبكة التجريبية
                                </h4>
                                <p class="desc">
                                    تم إطلاق محفظة ELECTRUM، البديل الأول لمحفظة xRhodium الخاصة على الإنترنت، للاختبار على الشبكة التجريبية للتجهيز للإطلاق الكامل على الشبكة الرئيسية.
                                </p>
                                <span class="date">
                                    الربع الثالث
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    مجمع COINIUM على شبكة الاختبار
                                </h4>
                                <p class="desc">
                                    تم تنفيذ برنامج تعدين مجمع COINIUM على شبكة الاختبار وانضم عدد من القائمين على التعدين من مجتمع xRhodium لاختبار التعدين.<br />&nbsp;
                                </p>
                                <span class="date">
                                    الربع الثالث
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    الشبكة
                                </h4>
                                <p class="desc">
                                    اختبار الاستقرار والضغط.
                                </p>
                                <span class="date">
                                    الربع الثالث
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    المستكشف على الشبكة التجريبية
                                </h4>
                                <p class="desc">
                                    إطلاق مستكشف xRhodium على الشبكة التجريبية مع وظيفة كاملة لمستكشف الكتل.
                                </p>
                                <span class="date">
                                    الربع الثالث
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    التحسينات الأمنية لمحفظة xRhodium
                                </h4>
                                <p class="desc">
                                    تمت إضافة وظيفة درع جديدة إلى محافظ xRhodium الخاصة للحد من احتمالية حدوث هجوم ناجح للمخترقين.
                                </p>
                                <span class="date">
                                    الربع الثالث
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    لامركزية شبكة الخادم
                                </h4>
                                <p class="desc">
                                    يمكن ملاحظة شبكة الخادم اللامركزية هنا:  <a href="https://network.xrhodium.org/">https://network.xrhodium.org</a>
                                </p>
                                <span class="date">
                                    الربع الثالث
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    المكافآت المجانية #2
                                </h4>
                                <p class="desc">
                                    لتعظيم الفائدة لمالكي xRhodium والقبول العام, يتم إطلاق الجولة الثانية والأخيرة من مشروع المكافآت المجانية التي تقوم بتوزيع XRC بين المستخدمين الذين لم يطالبوا بحصتهم من قبل. يبلغ إجمالي عدد عملات المكافآت المجانية #2 بنحو 582,857 XRC.
                                </p>
                                <span class="date">
                                    الربع الثالث
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">الربع الرابع من 2018</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    إطلاق الشبكة الأساسية
                                </h4>
                                <p class="desc">
                                    في 22 أكتوبر، تم إطلاق الشبكة الأساسية ل xRhodium رسميا وجذبت اهتماما كبيرا من أعضاء المجتمع السابقين والجدد، فضلا عن طبقة أوسع من جمهور العملات المشفرة. في وقت لاحق، تم تأسيس سوق خارج البورصة سمحت لمالكي xRhodium ببدء عملية البحث عن الأسعار.
                                </p>
                                <span class="date">
                                    الربع الرابع
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    إطلاق مجمع MININGCORE
                                </h4>
                                <p class="desc">
                                    إطلاق مجمع MININGCORE
                                    بعد المشاكل التقنية للمجمع الناجمة عن هيكل برمجيات مجمع التعدين Coinium, تم تنفيذ برمجيات Miningcore التي جلبت معها فوائد غير مسبوقة للقائمين على التعدين حيث ارتفعت سرعة الترميز بشكل هائل <a href="http://poolcore.xrhodium.org/">http://poolcore.xrhodium.org</a>.<br />&nbsp;
                                </p>
                                <span class="date">
                                    Q4
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    ترويج xRhodium
                                </h4>
                                <p class="desc">
                                    سيتم تقديم الموجة الأولى من تذكارات xRhodium إلى المجتمع لدعم نفقات التطوير والتسويق.
                                </p>
                                <span class="date">
                                    الربع الرابع
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    محفظة ELECTRUM
                                </h4>
                                <p class="desc">
                                    سيتم إصدار محفظة ELECTRUM لإعطاء مالكي xRhodium وسيلة بديلة لتخزين العملات الخاصة بهم <a href="https://electrum.xrhodium.org/">Electrum Wallet</a>.
                                </p>
                                <span class="date">
                                    الربع الرابع
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    إقرأ المزيد
                                </h4>
                                <p class="desc">
                                    رؤيتنا الجديدة للتعاون مع البيتكوين واللايت كوين.
                                </p>
                                <span class="date">
                                    نوفمبر، 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    برنامج الأيدي القوية
                                </h4>
                                <p class="desc">
                                    امتلك & واحصل على مكافآت
                                </p>
                                <span class="date">
                                    الربع الرابع
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    BISQ مع xRhodium
                                </h4>
                                <p class="desc">
                                    تطبيق Bisq هو تطبيق مكتبي مفتوح المصدر يسمح لك بشراء وبيع البيتكوين في مقابل العملات الوطنية أو العملات المشفرة البديلة.
                                </p>
                                <span class="date">
                                    ديسمبر 2018
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">الربع الأول من 2019</li>
                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    الإدراج الأول في منصات التداول
                                </h4>
                                <p class="desc">
                                    من المتوقع أن يتم إدراج xRhodium في منصة رئيسية للعملات المشفرة بحلول نهاية الربع الأول من 2019.
                                </p>
                                <span class="date">
                                    الربع الأول من 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    إصدار كود المصدر GITLAB
                                </h4>
                                <p class="desc">
                                    طبقا لوعودنا، بعد الإدراج الأول، سيتم توفير مكونات مختلفة من الكود المصدري ل xRhodium للمجتمع للمتابعة من خلال GitLab. تم البت في تأخير إصدار التعليمات البرمجية من قبل فريق التطوير لضمان أقصي قدر من الأمان لشبكة xRhodium والمستخدمين.
                                </p>
                                <span class="date">
                                    الربع الأول من 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>
                            <li class="year">الربع الثاني من 2019</li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    إطلاق ELECTRUM-XRC جديد
                                </h4>
                                <p class="desc">
                                    الإصدار التالي من محفظة Electrum الخاصة ب xRhodium. فتره السماح لنقل أموالك ستكون في بداية الربع الثالث.
                                </p>
                                <span class="date">
                                    الربع الثاني 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    دعم محفظة الأجهزة
                                </h4>
                                <p class="desc">
                                    نحن في انتظار البرامج الثابتة الجديدة لمحفظة الأجهزة Trezor للدعم الكامل ل XRC <a href="https://github.com/xRhodiumodium/trezor-common" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'trezor'});">https://github.com/xRhodiumodium/trezor-common</a>.
                                    يمكنك العثور على الحالة الفعلية على <a href="https://trezor.io/coins/" target="_blank"> قائمة دعم عملات تريزور الرسمية </a>. <br />
                                    ~ المتوقع: كل يوم.
                                </p>
                                <span class="date">
                                    الربع الثاني 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    برنامج السفراء
                                </h4>
                                <p class="desc">
                                    البرنامج الذي سيساعد على نشر وتنمية مشروعنا بشكل أكبر.
                                </p>
                                <span class="date">
                                    الربع الثاني 2019
                                </span>
                                <span class="arrow fa fa-play"></span>
                            </li>

                            <li class="year">الربع الثالث من 2019</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    فترة النعيم
                                </h4>
                                <p class="desc">
                                    فترة سماح 7/1/2019 - 7/7/2019 لنقل أموالك إلى محافظ أخرى دون الحاجة إلى برنامج اليد القوية.
                                </p>
                                <span class="date">
                                    الربع الثالث 2019
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    لقطة قوية للأيدي
                                </h4>
                                <p class="desc">
                                    ستكون هناك لقطة تالية بعد فترة السماح. يتم تعيين الوقت الدقيق للقطات التالية إلى 7/8/2019 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    7/8/2019 00:00:00 UTC
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    دعم المحفظة المحمولة
                                </h4>
                                <p class="desc">
                                    يمكنك استخدام محفظتنا المحمولة الجديدة <a href="https://magnumwallet.co/" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'magnum' });" target="_blank">Magnum Wallet</a>.
                                </p>
                                <span class="date">
                                    الربع الثالث 2019
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    السوق العالمية للمعادن P2P
                                </h4>
                                <p class="desc">
                                    موقع <a href="http://freemarket.one/" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FreeMarket.One</a>.
                                </p>
                                <span class="date">
                                    الربع الثالث 2019
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    ميزات عدم التناظر
                                </h4>
                                <p class="desc">
                                    تم وصف الأفكار الأولى مع التكامل في المقالة <a target="_blank" href="https://medium.com/@Html.Raw("@")xRhodium/bitcoin-rhodiums-path-towards-digital-freedom-making-transactions-private-6e07525b9ddc" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freedom'});">xRhodium’s Path Towards Digital Freedom: Making Transactions Private</a>.
                                </p>
                                <span class="date">
                                    الربع الثالث 2019
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="year"> 2019 Q4 </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    لقطة قوية للأيدي
                                </h4>
                                <p class="desc">
                                    ستكون هناك لقطة تالية. يتم تعيين الوقت الدقيق للقطات التالية إلى 10/1/2019 0:00:00 UTC.
                                </p>
                                <span class="date">
                                    10/1/2019 0:00:00 UTC
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    دعم محفظة الأجهزة
                                </h4>
                                <p class="desc">
                                    سنستمر في دعم المحفظة الصلبة ، بدءًا من Ledger ، وهو لاعب كبير آخر.
                                </p>
                                <span class="date">
                                    الربع الرابع 2019
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    السوق الحرة
                                </h4>
                                <p class="desc">
                                    الإصدار الأول من <a href="http://www.freemarket.one/" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FreeMarket.One</a>.
                                </p>
                                <span class="date">
                                    الربع الرابع 2019
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    Wasabi Wallet على XRC TestNet
                                </h4>
                                <p class="desc">
                                    محفظة Wasabi جديدة مع ميزة إخفاء الهوية CoinJoin على XRC TestNet.
                                </p>
                                <span class="date">
                                    الربع الرابع 2019
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="500">
                                <h4>
                                    إصدار إلكتروني جديد - XRC
                                </h4>
                                <p class="desc">
                                    الإصدار التالي من محفظة xRhodium Electrum.
                                </p>
                                <span class="date">
                                    الربع الرابع 2019
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="year">2020</li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    فترة النعيم
                                </h4>
                                <p class="desc">
                                    فترة سماح 1/1/2020 - 7/1/2020 لنقل أموالك إلى محافظ أخرى دون الحاجة إلى برنامج اليد القوية.
                                </p>
                                <span class="date">
                                    الربع الأول 2020
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    الوسابي ويب
                                </h4>
                                <p class="desc">
                                    New Wasabi xRhodium <a href="https://wasabi.xrhodium.org" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'wasabi'});">Wasabi xRhodium</a>.
                                </p>
                                <span class="date">
                                    الربع الأول 2020
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    فترة سماح ولقطة يدوية قوية
                                </h4>
                                <p class="desc">
                                    فترة سماح 1/4/2020 - 4/4/2020 لنقل أموالك إلى محافظ أخرى دون الحاجة إلى برنامج اليد القوية. يتم تعيين الوقت الدقيق للقطات التالية إلى 5/4/2020 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    الربع الثاني 2020
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    فترة سماح ولقطة يدوية قوية
                                </h4>
                                <p class="desc">
                                    فترة سماح 1/7/2020 - 4/7/2020 لنقل أموالك إلى محافظ أخرى دون الحاجة إلى برنامج اليد القوية. يتم تعيين الوقت الدقيق للقطات التالية إلى 5/7/2020 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    الربع الثالث 2020
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    فترة سماح ولقطة يدوية قوية
                                </h4>
                                <p class="desc">
                                    فترة سماح 1/10/2020 - 4/10/2020 لنقل أموالك إلى محافظ أخرى دون الحاجة إلى برنامج اليد القوية. يتم تعيين الوقت الدقيق للقطات التالية إلى 5/10/2020 00:00:00 UTC.
                                </p>
                                <span class="date">
                                    الربع الرابع 2020
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="500">
                                <h4>
                                    تكامل SQLITE
                                </h4>
                                <p class="desc">
                                    ستستخدم العقدة SQLite. سيكون الحل مع SQLite أسرع ومستقر.
                                </p>
                                <span class="date">
                                    2020
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    دعم محفظة LEDGER
                                </h4>
                                <p class="desc">
                                    عمليات دمج محفظة Ledger من جهة خارجية قيد التقدم. <br />
                                    ~ مصطلح التسليم على شركة LEDGER. حاول فرضهم هناك  <a href="https://github.com/LedgerHQ/ledger-app-btc/pull/131" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'ledger'});">Ledger GitHub</a> .
                                </p>
                                <span class="date">
                                    2020
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    Free Market One - منصة تداول عالمية جديدة
                                </h4>
                                <p class="desc">
                                    يعمل جميع مطوري XRC حاليًا على مدار الساعة <a href="https://www.freemarket.one/#roadmap" target="_ blank" onclick="gtag ('event'، 'click'، {event_category : 'button'، event_action: 'click'، event_label: 'freemarket'})؛ "> FreeMarket.One </a> هدفها الأساسي. سيكون XRC فقط هو رمز التجارة المحلية لهذه المنصة! الناس الأذكياء يعرفون ماذا يعني ذلك.
                                </p>
                                <span class="date">
                                    <a href="https://www.freemarket.one/#roadmap" target="_blank" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'freemarket'});">FM.ONE خارطة الطريق</a>
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    عرض خارطة طريق جديدة بعد إصدار FM.ONE Vision # 1
                                </h4>
                                <p class="desc">
                                    مع اكتمال مرحلة بناء القدرات ، سنقوم بتعديل نطاق أنشطتنا لتكون أكثر تركيزًا على المستخدم وموجهة نحو الاستفادة من الإمكانات في تطوير النظام البيئي xRhodium.
                                </p>
                                <span class="date">
                                    بعد إصدار FM.ONE Vision 1
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    شركاء الروديوم المعدنية
                                </h4>
                                <p class="desc">
                                    تم تأسيس شراكة مع سوق المعادن الثمينة.
                                </p>
                                <span class="date">
                                    2020
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    WASABI WALLET - مع عقدة XRC كاملة
                                </h4>
                                <p class="desc">
                                    تطبيق ميزات خصوصية جديدة في الوسابي.
                                </p>
                                <span class="date">
                                    بعد إصدار FM.ONE Vision 1
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="year">2021 +</li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    X13 ASIC دعم البرامج الثابتة
                                </h4>
                                <p class="desc">
                                    المفاوضات مع مقدمي ASIC.
                                </p>
                                <span class="date">
                                    2021 +
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInLeft" data-animation-delay="350">
                                <h4>
                                    ميزات عدم التناظر
                                </h4>
                                <p class="desc">
                                    عرض التحسينات القادمة.
                                </p>
                                <span class="date">
                                    2021 +
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="note animated" data-animation="fadeInRight" data-animation-delay="350">
                                <h4>
                                    تكامل أجهزة الصراف الآلي
                                </h4>
                                <p class="desc">
                                    المفاوضات مع مزودي أجهزة الصراف الآلي.
                                </p>
                                <span class="date">
                                    2021 +
                                </span>
                                <span class="arrow fa fa-play"> </span>
                            </li>

                            <li class="year"></li>

                            <li class="start fa fa-bookmark"></li>
                            <li class="clear"></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>
                            حالات الاستخدام
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>

        <div class="container services-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/crypto-trinity.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>
                                ثالوث التشفير
                            </h4>
                            <p>
                                تقوم xRhodium مع حالة استخدامها بملء الفجوة في سوق العملات المشفرة جنبا إلى جنب مع البيتكوين واللايتكوين من خلال تشكيل نظاما إيكولوجياً فعالا، ثالوث التشفير، الذي يلبي احتياجات معظم المستثمرين.
                            </p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("CryptoTrinity", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'cryptotrinity'});">
                                        إقرأ المزيد
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 center-box">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/stronghands.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>
                                برنامج الأيدي القوية 
                            </h4>
                            <p>
                                برنامج الأيدي القوية والنفور من الخروج: يعبران اثنين من الصفات التي تميز مستثمري xRhodium عن باقي المستثمرين في سوق العملات الرقمية. قم بتعزيز مكانتك وقم ببناء المجمع الخاص بك من خلال المشاركة المجانية في برنامج الأيدي القوية.
                            </p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("StrongHandsAirdrop", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'strong-hands'});">
                                        إقرأ المزيد
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/market.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>
                                "سوق المعادن ل xRhodium
                                المبني على مبدأ الند للند وأكثر"
                            </h4>
                            <p>
                                واحده من أولويات xRhodium علي المدى الطويل هي تزويد المساهمين في أسواق المعادن الثمينة بطريقه لامركزية لتبادل المبني على مبدأ الند للند.
                            </p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("FreeMarket", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2p-market'});">
                                        إقرأ المزيد
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>xRhodium</p>
                        <h2>
                            المجتمع
                        </h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5> تويتر</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>ديسكورد</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5> التيليجرام</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>بيتكوين تالك</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>


                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">

                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">تغريدات بواسطة xRhodium </a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
                
            </div>
        </div>

    </footer>

    <a href="#0" class="cd-top">الأعلى</a>

    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    @Html.Partial("_GoogleAnalytics")
</body>

</html>