﻿@using xRhodium.Controllers
@model HomeViewModel

@functions {

    private string GetReferer()
    {
        var query = string.Empty;

        if (!string.IsNullOrEmpty(Model.Referer))
        {
            query += "?r=" + Model.Referer;
        }
        return query;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="xRhodium is a unique crypto commodity with limited supply and strong use case. xRhodium is a new crypto asset.">
    <meta name="keywords" content="bitcoin,crypto,crypto-investment,bitcoin sv,crypto-trinity,bitcoin cash,rhodium,bitcoinhex,rhodiumofficial,cryptocurrency,binance,bitstamp,p2pb2b,market,fintech,rhodium bullion,most expensive metal,bitcoin recover,xrhodium">
    <meta http-equiv="Cache-control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow, snippet, archive">

    <title>xRhodium (XRC) - (formerly known as "Bitcoin Rhodium") - Store value for the future</title>
    <meta property="og:image" content="https://www.xrhodium.org/data/img/master/pw.jpg">
    <link rel="stylesheet" href="/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="/data/css/navigation.css">
    <link rel="stylesheet" href="/data/css/stylesheet.css?v5">
    <link rel="stylesheet" href="/data/css/templates/portfolio.css">
    <link rel="stylesheet" href="/data/css/responsive.css">
    <link rel="stylesheet" href="/data/fonts/css/all.min.css">
    <link rel="stylesheet" href="/data/css/animation.aos.min.css">
    <script src="/data/js/modernizr-custom.js"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png?v2">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png?v2">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png?v2">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png?v2">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png?v2">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png?v2">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png?v2">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png?v2">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png?v2">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png?v2">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v2">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png?v2">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v2">
    <link rel="manifest" href="/manifest.json?v2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png?v2">
    <meta name="theme-color" content="#ffffff">

    <style>
        p, span, strong, li, a, h1, h2, h3, h4, h5, h6, div {
            direction: rtl !important;
            text-align: right !important;
        }

        .heroe-bg, .videobg-hide-controls, .videobg-make-height, .videobg-aspect, .videobg-width {
            direction: ltr !important;
            text-align: left !important;
        }

        .home-teaser p, .home-teaser span, h1, h2, h3, h4, h6, .section-title p, .counter-statistics h5, .counter-statistics div, .thumb-caption p, .thumb-caption .btn-box, div.social-icons {
            text-align: center !important;
        }

        div.btn-more-box, .home-icon-box h3, div.exchange-about, div.exchange-about h6, div.contact-info h2 {
            text-align: right !important;
        }

        .inner-counter {
            border-left: 1px solid rgba(221, 221, 221, 0.8);
            border-right: none;
        }

        .last-box-counter {
            border-left: none;
        }

        .form-box {
            left: 40%;
        }

        .address-icon, .phone-icon, .email-icon {
            float: right;
        }
    </style>
</head>

<body>
    <div id="loader-wrapper">
        <div class="loader2">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#ff9900" />
                <circle cx="170" cy="170" r="135" stroke="#ff9900" />
                <circle cx="170" cy="170" r="110" stroke="#000000" />
                <circle cx="170" cy="170" r="85" stroke="#000000" />
            </svg>
        </div>
    </div>

    <header id="subpage">
        <nav id="navigation1" class="navigation navbar-fixed-top">
            <div class="container nav-container">
                <div class="nav-header">
                    <a class="nav-logo" href="@Url.MyAction("Index", new { r = Model.Referer })">
                        <img src="/data/img/master/logo-black.png?v2" class="white-logo" alt="">
                        <img src="/data/img/master/logo-black.png?v2" class="dark-logo" alt="">
                    </a>
                    <div class="nav-toggle"></div>
                </div>

                @Html.Partial("_NavigationAr")
            </div>
        </nav>
    </header>

    <section>
        <svg id="curveUpColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 100 C 20 0 50 0 100 100 Z" />
        </svg>
        <div class="container-fluid inner-color front-section" id="use_cases">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>
                            برنامج الأيدي القوية 
                            <br /> امتلك & واحصل على مكافآت

                        </h2>
                        <p>
                            مكافآت مجانية لمالكي xRhodium.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="home-about">
                            <p>
                                إن برنامج الأيدي القوية التابع ل xRhodium هو ميزة مبتكرة لحالات الاستخدام، وهو يكافئ المالكين الأوائل للعملة ويحفز على الاستثمار الجديد. كل 3 أشهر يمكنك كسب قطعة من 16072 XRC التي يتم توزيعها في صورة مكافآت بعد كل دورة من البرنامج.

                            </p>
                            <p class="text-center"><img class="img-fluid" src="/data/img/master/bitcoin-rhodium-crypto-deposit.jpg?v2" /></p>
                            <h5>
                                كيفية المشاركة
                            </h5>
                            <p>
                                يمكن لجميع مالكي xRhodium المشاركة وسيتم إدراج عناوين محافظهم تلقائيا. وبالتالي، لا يلزم أن يقوم المستخدمون بأي إجراءات محددة للالتحاق بدورات البرامج. يتم أخذ لقطة تلقائية للأرصدة الفردية في بداية ونهاية كل دورة مدتها 3 أشهر (لاحظ أن اللقطة النهائية لأحد الدورات تعتبر أيضا لقطة افتتاحيه لدورة أخرى). ثم يتم تحويل المكافآت تلقائياً إلى عناوين المحافظ التي تمكنت من تجنب أي حركة سحب للرصيد (حركة سلبية).

                            </p>
                            <h5>
                                المؤهلين
                            </h5>
                            <p>
                                كل 3 أشهر، يتم توزيع المكافآت بين المحافظ التي تكمل الدورة التي مدتها 3 أشهر بدون إجراء أي حركة سلبية (أي تحويل صادر من عنوان المحفظة المعني يستبعد العنوان من المكافأة تلقائياً). ولكل فترة معينة، ستتم مكافأة العناوين التي لن تقوم بحركات صادرة فقط. سيتم دفع المكافأة استنادا إلى الرصيد الأولي للعنوان لهذه الفترة، بغض النظر عن إضافة أي XRC إضافية إليه. عملات XRC التي يتم إضافتها إليه، إن وجدت، لا تضاف للقيمة الأولية للفترة التالية. أقرا الأمثلة أدناه.
                            </p>
                            <h5>
                                التوقيت
                            </h5>
                            <p>
                                سيتم صرف المكافآت <strong>
                                    كل 3 شهور
                                </strong> في غضون <strong>
                                    فترة أسبوعين بعد نهاية كل دورة
                                </strong>. <br> <br>
                                تم إطلاق الدورة الأولى رقم 1 من خلال لقطة تلقائية في 01/01/2019 (1 يناير 2019) وانتهت في 04/01/2019 (1 أبريل 2019). <br>
                                تم إطلاق الدورة الثانية رقم 2 من خلال لقطة تلقائية في 04/01/2019 (1 أبريل 2019) وانتهت في 07/01/2019 (1 يوليو 2019). <br>
                                تم إطلاق الدورة الثالثة رقم 3 من خلال لقطة تلقائية في 07/08/2019 (8 يوليو 2019) وانتهت في 10/01/2019 (1 أكتوبر 2019). <br>
                                تم إطلاق الدورة الرابعة رقم 4 من خلال لقطة تلقائية بتاريخ 10/01/2019 (1 أكتوبر 2019) وانتهت في 01/01/2020 (1 يناير 2020). <br>
                                تم إطلاق الدورة الخامسة رقم 5 من خلال لقطة تلقائية بتاريخ 01/08/2020 (8 يناير 2020) وانتهت في 04/01/2020 (1 أبريل 2020). <br> <br>
                                تمت جدولة الدورة التالية للفترة ما بين 04/05/2020 (5 أبريل 2020) و 07/01/2020 00:00:01 UTC (1 يوليو 2020).
                                <br>
                                <strong>
                                    اللقطة التالية
                                </strong> (رصيد XRC مؤهل للحصول على مكافآت): 07/05/2020 00:00:01 UTC (5 يوليو 2020)
                                <br>
                                سيتم منح فترة السماح لنقل الأموال: 07/01/2020 00:00:01 UTC (1 يوليو 2020) - 07/04/2020 23:59:59 UTC (4 يوليو 2020)
                            </p>
                            <h5 id="reward-examples">التمويل</h5>
                            <p>
                                يتم تغطية المكافآت من 257,143 XRC (من أصل 840,000 XRC) الغير مستلمة خلال حدثين المكافآت المجانية. سيتم توزيع 8036 XRC خلال فترة المكافأة الأولى بعد 1\1\2019 (1 يناير، 2019). ويستثني من البرنامج ال210,000 XRC المسبقة التعدين (المخصصة للتسويق وتطوير المشروع)، وبالتالي لن تخضع لأي من مكافآت البرنامج.
                            </p>
                            <h5>أمثلة</h5>
                            <p>
                                أ: 10/1: 100 XRC, و1/1: 100 XRC بدون حركات صادرة. تحسب المكافأة على 100 XRC
                                <br>
                                ب:  10/1: 100 XRC, و1/1: 120 XRC بدون حركات صادرة (تلقى 20 خلال الفترة) تحسب المكافأة على 100 XRC
                                <br>
                                ت: 10/1: 100 XRC, و1/1: 150 XRC (تم تصدير 20، وحول 30 للمحفظة خلال الفترة)  بدون مكافأة
                                <br>
                                ث: 10/1: 0 XRC, و1/1:  بدون مكافأة
                                <br>
                                ج: 10/1: 100 XRC, و1/1: 100 XRC (تم تصدير 100 في 5\10 وحول للمحفظة 100 في 10\11): بدون مكافأة
                                <br>
                                عنوان بدون رصيد في 1\10 لا يحصل على مكافأة مهما حدث

                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="section-title">
                        <h2>
                            حالات الاستخدام
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <svg id="curveDownColor-section-edge" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 0 C 50 100 80 100 100 0 Z" />
        </svg>

        <div class="container services-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/crypto-trinity.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>
                                ثالوث التشفير
                            </h4>
                            <p>
                                تقوم xRhodium مع حالة استخدامها بملء الفجوة في سوق العملات المشفرة جنبا إلى جنب مع البيتكوين واللايتكوين من خلال تشكيل نظاما إيكولوجياً فعالا، ثالوث التشفير، الذي يلبي احتياجات معظم المستثمرين.
                            </p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("CryptoTrinity", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'cryptotrinity'});">
                                        إقرأ المزيد
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 center-box">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/stronghands.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>
                                برنامج الأيدي القوية 
                            </h4>
                            <p>
                                برنامج الأيدي القوية والنفور من الخروج: يعبران اثنين من الصفات التي تميز مستثمري xRhodium عن باقي المستثمرين في سوق العملات الرقمية. قم بتعزيز مكانتك وقم ببناء المجمع الخاص بك من خلال المشاركة المجانية في برنامج الأيدي القوية.
                            </p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("StrongHandsAirdrop", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'strong-hands'});">
                                        إقرأ المزيد
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="front-thumb" data-aos="fade-up">
                        <figure class="from-thumb-pic"><img src="/data/img/master/market.jpg" alt="" /></figure>
                        <div class="thumb-caption">
                            <h4>
                                "سوق المعادن ل xRhodium
                                المبني على مبدأ الند للند وأكثر"
                            </h4>
                            <p>
                                واحده من أولويات xRhodium علي المدى الطويل هي تزويد المساهمين في أسواق المعادن الثمينة بطريقه لامركزية لتبادل المبني على مبدأ الند للند.
                            </p>
                            <div class="btn-box">
                                <p>
                                    <a href="@Url.MyAction("FreeMarket", new { r = Model.Referer })" class="btn-hover-corner" onclick="gtag('event', 'click', { event_category: 'button', event_action: 'click', event_label: 'p2p-market'});">
                                        إقرأ المزيد
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid home-contact" id="contact">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <div class="contact-info">
                        <p>xRhodium</p>
                        <h2>
                            المجتمع
                        </h2>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-twitter"></i></figure>
                            <div class="inner-info">
                                <h5> تويتر</h5>
                                <p><a href="https://twitter.com/xrhodium_xrc" target="_blank">https://twitter.com/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-discord"></i></figure>
                            <div class="inner-info">
                                <h5>ديسكورد</h5>
                                <p><a href="https://discord.gg/WmxceSm" target="_blank">https://discord.gg/WmxceSm</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fab fa-telegram"></i></figure>
                            <div class="inner-info">
                                <h5> التيليجرام</h5>
                                <p><a href="https://t.me/xrhodium_xrc" target="_blank">https://t.me/xrhodium_xrc</a></p>
                            </div>
                        </div>
                        <div class="block-address">
                            <figure class="address-icon"><i class="fa fa-comment"></i></figure>
                            <div class="inner-info">
                                <h5>بيتكوين تالك</h5>
                                <p><a href="https://bitcointalk.org/index.php?topic=2505163.0" target="_blank">https://bitcointalk.org/index.php?topic=2505163.0</a></p>
                            </div>
                        </div>


                        <div class="social-networks">

                            <div class="networks-list"><a target="_blank" href="https://www.youtube.com/channel/UCbVc-IjhVzOA_wixfMdbn7Q"><i class="fab fa-youtube"></i></a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 custom-map" data-aos="fade-left">

                </div>
            </div>
            <div class="form-box">
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/xrhodium_xrc?ref_src=twsrc%5Etfw">تغريدات بواسطة xRhodium </a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-block">
                <div class="footer-logo"><img src="/data/img/master/logo-black.png?v2" alt=""></div>
                                <p>© 2017. We make no guarantees or promises as to the XRC value or fairness of the airdrop project. <br /> xRhodium is open source, with no profit model.</p>
                
            </div>
        </div>

    </footer>

    <a href="#0" class="cd-top">الأعلى</a>

    <script src="/data/js/plugins.js"></script>
    <script src="/data/js/bootstrap.min.js"></script>
    <script src="/data/js/template.js"></script>
    <script src="/data/js/navigation.js?v6"></script>
    @Html.Partial("_GoogleAnalytics")
</body>

</html>