@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,400,600,700,800');
@import url('normalize.css');


/* ========================================================================== */
/* ========================================================================== */
							/* [Table of contents] */
/* ========================================================================== */
/* ========================================================================== */

/*	

    1. RESET.	
	2. TYPOGRAPHY.
	3. BUTTOMS.
	4. SPACE AND ALIGMENT.
	5. THEMPLATE SECTIONS.
	6. TEMPLATE PAGES.
	7. LOADER.
	8. SCROLLING TOP.
	9. COUNTER.
	10. POPUP GALLERY.
	11. FILTER GALLERY.
	12. TESTIMONIALS.
	13. MEDIA QUERIES.
		
*/ 

/* =====================================
   	1. RESET.
   ===================================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

strong {
	font-weight: bold;
}

body{
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
	height: 100%;
	min-height: 100%;
}

html {
  font-size: 24px;
  font-weight: 100;
  line-height: 1.5;
	height: 100%;
}

/* ===================================== 
	2. TYPOGRAPHY. 
   ===================================== */
h1, h2, h3, h4, h5, h6, p, ul,ol{
  margin-top: 0;
  margin-bottom: 1rem;
  color: #323B3C;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  line-height: 1.1;
  font-family: 'Poppins', sans-serif;
}

h1, .h1 {
  font-size: 1.602rem;
  font-weight: 600;
}

h2, .h2 {
  font-size: 1.424rem;
  font-weight: 600;
  color: #2e3738;
}

h3, .h3 {
  font-size: 1.2rem;
  color: #455354;
  text-rendering: auto;
}

h4, .h4 {
  font-size: 1.125rem;
  color: #000000;
}

h5, .h5 {
  font-size: 1rem;
  color: #000000;
}

h6, .h6 {
  font-size: 0.6rem;
  color: #000000;
}

p {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #677C7E;
  font-weight: 400;
  line-height: 2;
}

a {
	color: #FFBE0B;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
	color: #ed8e00;
    text-decoration: none;
}

/*#################################
  ---------- 3. BUTTONS. ----------
  #################################*/

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-custom, .btn-custom-small {
  color: #FFF;
  transition: 0.9s;
  padding: 0.3rem 1.125rem;
  font-size: 0.60rem;      
  background: #ff9900;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ed8e00, #ff9900);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ed8e00, #ff9900); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn-custom-small {
  color: #FFF;
  transition: 0.9s;
  padding: 0.1rem 0.8rem;
  font-size: 0.50rem;      
}
.btn-custom:hover, .btn-custom-small:hover {
  color: #FFF;
  background: #ff9900;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9900 , #ed8e00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9900 , #ed8e00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-custom:focus, .btn-custom.focus {
  box-shadow: none;
}

.btn-custom.disabled, .btn-custom:disabled {
  color: #fff;
  background-color: #e9b416;
  border-color: #e9b416;
}

.btn-custom:not(:disabled):not(.disabled):active, .btn-custom:not(:disabled):not(.disabled).active,
.show > .btn-custom.dropdown-toggle {
  color: #fff;
  background-color: none;
  border-color: none;
}

.btn-custom:not(:disabled):not(.disabled):active:focus, .btn-custom:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom.dropdown-toggle:focus {
  box-shadow: none;
}

/*###########################################
  ---------- 4. SPACE AND ALIGMENT. ----------
  ###########################################*/

.container, .container-fluid{
    margin: 3rem auto 3rem auto;
}

.inner-color{
    padding: 1rem 0rem;
    background-color: #F7FAFA;
    margin: 0rem;
}

section{
    overflow: hidden;
}

.inner-color .container{
   margin: 1rem auto 1rem auto
}

#curveDownColor-section-edge path {
    fill: #F7FAFA;
    stroke: #F7FAFA;    
}

#curveUpColor-section-edge path {
    fill: #F7FAFA;
    stroke: #F7FAFA;     
}

#curveDownColor-counter path {
    fill: #F7FAFA;
    stroke: #F7FAFA; 
}

#curveUpColor-counter path {
    fill: #F7FAFA;
    stroke: #F7FAFA;     
}

#curveDownColor-team path {
    fill: #F7FAFA;
    stroke: #F7FAFA; 
}

#curveUpColor-team path {
    fill: #F7FAFA;
    stroke: #F7FAFA;     
}

.span-bottom2{
    margin-bottom: -1rem;
}

/*################################
  ---------- 5. HEADER. ----------
  ################################*/
header{
    position: relative;
    height: 900px;
    z-index: 100;
	overflow: hidden;
}
#subpage {
    position: relative;
    height: 100px;
    z-index: 100;
	overflow: hidden;
}

header .container{
    margin: auto;
}

.home-slider{
    z-index: 0;
    width: 100%;
    position: relative;
    min-height: 100%;
}

/*###############################
  ---------- 6. LOADER ----------
  ###############################*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1031;
  background-color: #F2F2F2;
}

.loader2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader {
  max-width: 150px;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}

circle {
  fill: none;
  stroke-width: 3.5;
  -webkit-animation-name: preloader;
          animation-name: preloader;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform-origin: 170px 170px;
          transform-origin: 170px 170px;
  will-change: transform;
}

circle:nth-of-type(1) {
  stroke-dasharray: 550px;
}

circle:nth-of-type(2) {
  stroke-dasharray: 500px;
}

circle:nth-of-type(3) {
  stroke-dasharray: 450px;
}

circle:nth-of-type(4) {
  stroke-dasharray: 300px;
}

circle:nth-of-type(1) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

circle:nth-of-type(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

circle:nth-of-type(3) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

circle:nth-of-type(4) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

@-webkit-keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*###################################
  ---------- 7. FOOTER --------------
  ###################################*/
footer{
    background: #FFF;
    padding: 10px 0px 60px 0px;
    position: relative;
}

.footer-block{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer-logo{
    width: 140px;
    margin: auto;
}

.footer-logo img{
   width: 100%
}

.footer-block p{
    margin-top: 10px;
    line-height: 1.4;
    font-size: 13px;
}

/*#######################################
  ---------- 8. TEMPLATE PAGES ----------
  #######################################*/

.pages-header{
    height: 100%;
    position: relative;
}

.sections{
    height: 430px;
    background: #0A178F;
}

.sections #particles-js {
    position: absolute;
    width: 100%;
    height: 430px;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.sections .container{
    margin: 0px auto;
}

.pages-title{
    position: absolute;
    bottom: 0px;
}

.pages-title h1{
    color: #FFF;
}

.pages-title p{
    color: #FFF;
}

.section-title{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.7rem;
	padding-top: 35px;
}

.section-title p{
    line-height: 1.8;
}

.section-title h2:after {
	background: #ff9900;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ed8e00, #ff9900);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ed8e00, #ff9900); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	content: '';
	display: block;
	height: 3px;
	margin: 15px auto;
	width: 80px;
}

/*###########################
  ---------- ABOUT ----------
  ###########################*/
.home-about h5:after {
	background: #ff9900;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ed8e00, #ff9900);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ed8e00, #ff9900); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	content: '';
	display: block;
	height: 3px;
	margin: 15px 0px;
	width: 80px;
}

.home-about h5{
    font-size: 0.75rem;
	padding-top: 15px;
}

figure.icon-pic{
    width: 44px;
	font-size: 46px;
	color: #ff9900;
}

figure.icon-pic img{
    width: 100%;
}

.home-icon-box h3{
    font-size: 0.80rem;
    margin: 5px 0px 10px;
}

.home-icon-box p{
    line-height: 1.6;
}

/*##############################
  ---------- SERVICES ----------
  ##############################*/

.front-box{
    text-align: center;
}

.last-box{
    border-right: none;
}

.front-box h3{
    font-weight: 600;
}

.front-box h5{
    font-size: 0.85rem;
    font-weight: 400;
}

.front-section{
   padding-bottom: 120px;
}

.services-container{
    margin-top: -260px;
}

.front-thumb{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.from-thumb-pic img{
    width: 100%;
}

.thumb-caption{
    padding: 30px 15px;
}

.thumb-caption h4{
    font-size: 0.85rem;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
	line-height: 1.5;
}

.thumb-caption p{
    text-align: center;
    margin-bottom: 15px;
}

.btn-box p{
    margin-bottom: 0px;
}

a.btn-hover-corner {
  display: inline-block;
  text-decoration: none;
  color: #ff9900;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  padding: 0.5rem 2.5rem;
  overflow: hidden;
  transition: 0.3s ease;
  margin-bottom: 0px;
}

a.btn-hover-corner:before {
  content: '';
  display: block;
  height: 1em;
  width: 1em;
  border-bottom: 2px solid #ff9900;
  border-left: 2px solid #ff9900;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s ease;
}

a.btn-hover-corner:after {
  content: '';
  display: block;
  height: 1em;
  width: 1em;
  border-top: 2px solid #ff9900;
  border-right: 2px solid #ff9900;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s ease;
}
    
a.btn-hover-corner:hover:before,
a.btn-hover-corner:hover:after {
  width: 100%;
  height: 100%;
}

/*##########################
  ---------- TEAM ----------
  ##########################*/
.slider .slide{
    margin: 0px 20px;
    cursor: pointer;
}

.member-headshot img{
    width: 100%;
}

.team-caption{
    text-align: center;
    padding: 1rem 0rem;
}

.team-caption h3{
    font-size: 0.85rem;
    margin-bottom: 5px;
    transition: 0.3s;
}

.team-caption p{
    color: #457B9D;
}

.team-caption:hover h4{
    color: #E63946;
}

.team-caption p{
    margin-bottom: 0px;
}

.image-hover figure {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
    
.image-hover figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

.hover-effects figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
    
.hover-effects figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.member-social{
    height: 30px;
    margin-top: -40px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.social-items{
    display: inline-block;
    margin: 0px 2px;
    transition: 0.3s;
    text-align: center;
}

.icon-fa{
    display:inline-block;
    font-size: 16px;
    line-height: 35px;
    background: #FFF;
    color: #FFF;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: bottom;
    border-radius: 50%;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: 0.3s;
}

.icon-fa:hover{
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ED213A , #93291E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ED213A , #93291E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*####################################
  ---------- MAGNIFIC POPUP ----------
  ####################################*/

.magnific-img {
    width: 100%;
    height: 100%;
}

.magnific-img img {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    cursor: pointer;
}

a.image-popup-vertical-fit {
    cursor: -webkit-zoom-in;
    z-index: 0;
    position: relative;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
.mfp-arrow-left:before {
    border-right: none !important;
}
.mfp-arrow-right:before {
    border-left: none !important;
}
button.mfp-arrow, .mfp-counter {
    opacity: 0 !important;
    transition: opacity 200ms ease-in, opacity 2000ms ease-out;
}
.mfp-container:hover button.mfp-arrow, .mfp-container:hover .mfp-counter{
	opacity: 1 !important;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.9; 
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; 
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; 
}

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #FFF;
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap; 
  font-family: 'Poppins', sans-serif;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.magnific-img .image-popup-vertical-fit img a:link {
    text-decoration: none;
    border: solid 2px #000;
}

.magnific-img .image-popup-vertical-fit img a:visited {
    text-decoration: none;
    border: solid 2px #000;
}

.magnific-img .image-popup-vertical-fit img a:hover {
    text-decoration: none;
    border: solid 2px #000;
}

.magnific-img .image-popup-vertical-fit img a:active {
    text-decoration: none;
    color: #000;
    border: solid 2px #000;
}

.mfp-figure button.mfp-close {
    cursor: pointer;
}
.popup-gallery a {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}
.mfp-figure figure {
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    cursor: zoom-out;
}

/*####################################
  ---------- FILTER GALLERY ----------
  ####################################*/

.nav-pills > li. active > a, .nav-pills > li. active > a:focus, .nav-pills >li .active > a:hover {
    color: #455354;
    text-align: center;
}

.center-pills {
    display: flex;
    justify-content: center;
}

.nav-pills a {
    color: #455354;
    margin-right: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;  
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 5px;
}

.nav >li > a:focus, .nav> li > a:hover {
    background: transparent;
    color: #E63946;
}

.portfolio-filter{
    margin-bottom: 30px;
}

.portfolio-item {
    margin: 0px;
    padding: 5px;
}

.portfolio-item img {
    width: 100%;
}

.portfolio-item:hover img {
    -webkit-filter: grayscale(50%);
    filter: grayscale(40%);
}

figure {
    margin: 0;
}

/*##################################
  ---------- MASONRY GRID ----------
  ##################################*/

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: calc(100% / 2);
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

/*#############################
  ---------- COUNTER ----------
  #############################*/
.inner-counter{
    border-right: 1px solid rgba(221, 221, 221, 0.8);
}

.last-box-counter{
    border: none;
}

.counter-statistics .counter{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: #ff9900;
    text-align: center;
}

.counter-statistics h5{
    text-transform: uppercase;
    margin-bottom: 0px;
    text-align: center;
    font-size: 16px;
    color: #516163;
    font-weight: 400;
}

/*##################################
  ---------- TESTIMONIALS ----------
  ##################################*/
.testimonials-box{
    background: #FFF;
    margin-top: -240px;
    z-index: 2;
    position: relative;
    padding: 30px 50px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.main-gallery{
  margin: 30px 0px 45px 0px; 
}

.gallery-cell {
  width: 100%;
}

.testimonial-section{
    min-height: 200px;
}

.avatar {
  width: 100px;
  height: 100px;
  margin: auto;
}

.avatar img{
  width: 100%;
  border-radius: 50%;
}

.testimonial-quote{
    margin: 15px  100px 5px 100px;
}

p.quote{
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    margin: 10px 0px 40px 0px;
    padding: 0px 150px;
    line-height: 1.6;
    font-style: italic;
}

h3.autor{
    font-size: 0.90rem;
    text-align: center;
    line-height: 2;
    margin: 5px 0px;
}

h5.testimonial-title{
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
}

.flickity-page-dots .dot.is-selected {
  background: #E63946;
}

.testimonials{
  padding: 20px 15px 20px 15px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}

.testimonials-services{
  margin: -50px auto 20px auto;
}

.flickity-enabled{
    position: relative;
}

.flickity-enabled:focus{
    outline: 0;
}

.flickity-viewport{
    overflow: hidden; 
    position: relative; 
    height: 100%;
}

.flickity-slider{
    position: absolute; 
    width: 100%; 
    height: 100%;
}

.flickity-enabled.is-draggable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport{
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.flickity-prev-next-button{
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 0%;
    background: #fff;
    background: hsla(0,0%,100%,.75);
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.flickity-prev-next-button:hover{
    background: #fff;
}

.flickity-prev-next-button:focus{
    outline: 0;
    box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active{
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.flickity-prev-next-button.previous{
    left: 10px;
}

.flickity-prev-next-button.next{
    right: 10px;
}

.flickity-rtl .flickity-prev-next-button.previous{
    left: auto;
    right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next{
    right: auto;
    left: 10px;
}

.flickity-prev-next-button:disabled{
    filter: alpha(opacity=30);
    opacity: 0.3;
    cursor: auto;
}

.flickity-prev-next-button svg{
    position:absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}

.flickity-prev-next-button .arrow{
    fill: #333;
}

.flickity-prev-next-button.no-svg{
    color: #333;
    font-size: 26px;
}

.flickity-page-dots{
    position: absolute;
    width: 100%;
    bottom: -5px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

.flickity-rtl .flickity-page-dots{
    direction:rtl;
}

.flickity-page-dots .dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #ddd; 
    border-radius: 50%;
    filter: alpha(opacity=25);
    opacity: 0.8;
    cursor: pointer;
}

.flickity-page-dots .dot.is-selected{
    filter:alpha(opacity=100);
    opacity:1;
    width: 20px;
    height: 10px;
    border-radius: 5px;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*#########################################
  ---------- IPHONE SLIDE MOCKUP ----------
  #########################################*/
.left-side, .right-side{
    padding: 5.5rem 0rem;
}

.showcase{
    margin: 2rem 0rem;
    height: 80px;
}

.showcase-label{
    text-align: right;
    float: left;
    width: 70%;
}

.showcase-label h3{
    font-size: 0.95rem;
    margin-bottom: 10px;
}

.showcase-label p{
    line-height: 1.5;
    margin-bottom: 0rem;
}

.showcase-icon-circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    float: right;
    position: relative;
    background: #E63946;
}

.showcase-icon{
    width: 45px;
    height: 45px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.showcase-icon img{
    width: 100%;
}

.right-side .showcase-label{
    float: right;
    text-align: left;
}

.right-side .showcase-icon-circle{
    float: left;
} 

.iphone-mockup {
   position: relative;
   z-index: 5;
}

.dm-device {
    position: relative;
    width: 100%;
    padding-bottom:203.477897%;
    margin-bottom: 20px;
}

.device {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../img/images/iphone-mockup.png);
    background-size: cover;
    background-position: center center;
}

.screen {
   overflow: hidden;
    position: absolute;
    top: 12.2%;
    bottom: 12.2%;
    left: 6.8%;
    right: 7%;
    background-color: #FFF;
}

.inner-screens {
  height: 100%;
}
.inner-screens div {
  height: 100%;
}

.slider-item {
    font-size: 100px;
    color: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-item-1 {
    background-repeat: no-repeat;
    background-image: url(http://placehold.it/800x1700);
    background-size: cover;
    background-position: center center;
}
.slider-item-2 {
    background-repeat: no-repeat;
    background-image: url(http://placehold.it/800x1700);
    background-size: cover;
    background-position: center center;
}
.slider-item-3 {
    background-repeat: no-repeat;
    background-image: url(http://placehold.it/800x1700);
    background-size: cover;
    background-position: center center;
}

.slider-item-4 {
  background-repeat: no-repeat;
    background-image: url(http://placehold.it/800x1700);
    background-size: cover;
    background-position: center center;
}

/*###########################
  ---------- BLOGS ----------
  ###########################*/
.post-list{
    background-color: #FFF;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    padding-bottom: 5px;
}

figure.post-preview{
    position: relative;
}

.post-preview img{
    width: 100%;
}

.post-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ed8e00;
}

figure.post-preview:hover .post-overlay {
  opacity: 0.4;
}

.post-caption{
    margin: 30px 25px;
}

.post-caption h3{
    color: #455354;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.5;
}

.post-caption p{
    line-height: 2;
}

.post-caption a {
	color: #333;
    text-decoration: none;
    transition: 0.3s;
}

.post-caption a:hover {
	color: #ed8e00;
    text-decoration: none;
}

hr.posts{
    margin: 20px auto 25px;
}

.bottom-post{
    clear: both;
    height: 60px;
}

.post-author{
    float: left;
    width: 70%;
    height: 60px;
}

.author-avatar{
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}

.author-avatar img{
    width: 100%;
    border-radius: 50%;
}

.about-author{
    padding: 8px;
}

.about-author h4{
    font-size: 0.75rem;
    margin-bottom: 0px;
    font-weight: 500;
}

.about-author p{
    font-size: 13px;
}

.post-details{
    float: right;
    margin-top: 8px;
    margin-right: 15px;  
    cursor: pointer;
}
.post-details a {
    color: #1b95e0;
}

.button, .soc-but {
  width: 40px;
  height: 40px;
}

.button {
  position: relative;
  -webkit-perspective: 300px;
          perspective: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #E63946;
}

.button:hover .fb {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
    color: #000;
}
.button:hover .tw {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.button:hover .ins {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.button:hover .vk {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.soc-but {
  position: absolute;
  left: 0;
  top: 0;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.soc-but a {
	color: #FFF;
    text-decoration: none;
    transition: 0.3s;
}

.soc-but a:hover {
	color: #FFF;
    text-decoration: none;
}

.back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.80rem;
  color: white;
  text-decoration: none;
}

.vk .back, .ins .back {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.tw .back, .fb .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.fb .back {
  background: #3b5998;
}

.vk .back {
  background: #45668e;
}

.tw .back {
  background: #00aced;
}

.ins .back {
  background: #e4405f;
}

.fb, .vk {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.ins, .tw {
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.tw {
  transition-delay: 0.1s;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

.ins {
  transition-delay: 0.2s;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.vk {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.fb {
  transition-delay: 0.3s;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

/*#############################
  ---------- CONTACT ----------
  #############################*/
.home-contact{
    position: relative;
}

.contact-info{
    padding: 4.5rem;
}

.contact-info h2{
    margin-bottom: 1.5rem;
}

.contact-info p{
    margin-bottom: 0px;
}

.block-address, .block-phone, .block-email{
    margin: 1rem 0rem;
}

.address-icon, .phone-icon, .email-icon{
    float: left;
    margin-right: 15px;
    width: 40px;
}
.address-icon i {
	color: #ed8e00;
}
.exchange-icon {
    height: 80px;
	padding: 10px 0;
}
.service-icon {
    height: 58px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 0;
}
@media (max-width:992px) {
    .service-icon {
        height: 50px;
    }
}
.address-icon img {
    width: 100%;
}

.phone-icon img{
    width: 100%;
}

.email-icon img{
    width: 100%;
}
.exchange-icon img{
    height: 100%;
}
.service-icon img {
    height: 100%;
}
.inner-info h5{
    font-size: 16px;
    margin-bottom: 2px;
    font-weight: 500;
}

.inner-info p{
    font-size: 14px;
}

.social-networks{
    margin-top: 2rem;
}

.networks-list{
    display: inline-block;
    margin-right: 10px;
}
.networks-list .fab{
    font-size: 16px;
    color: #ed8e00;
}

.form-box{
    background: #FFF;
    max-width: 550px;
    height: auto;
    padding: 30px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;  
	width: 40%;
}

.customize {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #f0f5f5;
    background-clip: padding-box;
    border: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 3px 0px;
    transition: 0.6s;
}

.customize::-ms-expand {
  background-color: transparent;
  border: 0;
}

.customize:focus {
  color: #495057;
  background-color: #e0ebeb;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.contact-btn p{
    margin-bottom: 0rem;
}

.with-errors{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.alert-success {
  color: #FFF;
  background-color: #E63946;
  border-color: #E63946;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.close {
  float: right;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: #FFF;
  text-shadow: none;
  opacity: 1;
}

.map-iframe{
    width: 100%;
    height: 600px;
    border: none;
}

/*###################################
  ---------- STYLE SECTION ----------
  ###################################*/


/*###################################
  ---------- STYLE SECTION ----------
  ###################################*/

/*###################################
  ---------- SCROLLING TOP ----------
  ###################################*/

@media only screen and (min-width: 1024px) {
  main p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #ff9900 url(../img/master/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  border-radius: 50%;  
  z-index: 4;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.no-touch .cd-top:hover {
  background-color: #FB5607;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  } 
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}


/*####################################
  ---------- PULSING BUTTON ----------
  ####################################*/

.pulse-button {
  width: 60px;
  height: 60px;
  border: none;
  box-shadow: 0 0 0 0 rgba(101, 196, 230, 0.5);
  border-radius: 50%;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  background: transparent url(../img/master/play-btn.png) center center no-repeat;
  background-color: #65C4E6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}


/*###################################
  ---------- POPUP VIDEO ----------
  ###################################*/

.organic-pulsing-video{
    position: relative;
}

.organic-pulsing-video .popup-youtube .video-image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: none;
}

.organic-pulsing-video .youtube-popup{
    display: none
}

.popup-youtube .video-image {
    position: relative;
    display: inline-block;
}

.popup-youtube .video-image img{
    width: 100%
}

.popup-youtube .video-image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: transparent url(../img/master/play-button.png) center center no-repeat;
}

.popup-youtube .video-image img a:link {
    text-decoration: none;
    color: #FFF;
}

.popup-youtube .video-image img a:visited {
    text-decoration: none;
    color: #FFF;
}

.popup-youtube .video-image img a:hover {
    text-decoration: none;
    color: #FFF;
}

.popup-youtube .video-image img a:active {
    text-decoration: none;
    color: #FFF;
}

/*#####################################
  ---------- 13. MODAL POPUP ----------
  #####################################*/
.modal-box{
    text-align: center;
}

.modal-box p{
    margin: 15px 0px 15px 0px;
}

.modal-sm .modal-content{
    background: #FFF;
    border: 1px solid #ddd;
   border: 1px solid rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    padding: 10px 20px 10px 20px;
}

.close{
    color: #000;
}

@media (min-width: 992px) {
  .modal-md {
    width: 600px;
  }
}

/* Video background */

.videobg {
    width: 100%; /* Set video container element width here */
    height: 100%; /* Set video container element height here */
    overflow: hidden;
    background: #111; /* bg color, if video is not high enough */
}

/* horizontally center the video */
.videobg-width {
    position: absolute;
    width: 100%; /* Change width value to cover more area*/
    height: 100%;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

/* set video aspect ratio and vertically center */
.videobg-aspect {
    position: absolute;
    width: 100%;
    height: 0;
    top: -9999px;
    bottom: -9999px;
    margin: auto;
    padding-bottom: 56.25%; /* 16:9 ratio */
    overflow: hidden;
}

.videobg-make-height {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.videobg-hide-controls {
    box-sizing: content-box;
    position: relative;
    height: 100%;
    width: 100%;
    /* Vimeo timeline and play button are ~55px high */
    padding: 55px 97.7777px; /* 16:9 ratio */
    top: -55px;
    left: -97.7777px; /* 16:9 ratio */
}

.videobg iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0 none;
}

.videobg iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0 none;
}

.video-button {
	z-index: 18; 
	white-space: nowrap; 
	font-size: 15px; 
	line-height: 46px; 
	font-weight: 700; 
	color: rgba(255, 255, 255, 1.00);
	font-family:Arial, Helvetica, sans-serif;
	background-color:rgba(0, 0, 0, 0);
	border-color:rgba(255, 255, 255, 0.25);
	border-style:solid;
	border-width:2px;
	border-radius:4px 4px 4px 4px;
	outline:none;
	box-shadow:none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	cursor:pointer;
	text-transform:uppercase;
	display: inline-block;
	padding: 0px 15px;
	margin: 5px;
}
.video-button:hover {
	color: rgba(0, 0, 0, 1);
	font-family:Arial, Helvetica, sans-serif;
	background-color:rgba(255, 255, 255, 1);
	border-color:rgba(255, 255, 255, 0.25);

}

.home-teaser p {
	text-align: center;
    margin: 0;
	font-size:  1.424rem;
}
.home-teaser .bolder {
	font-weight: bold;
}
.home-icon-box {
	margin-bottom: 40px;
}
.home-icon-box p {
	margin-bottom: 0.5rem;
}
.exchange-about {
	margin-bottom: 40px;
}
.exchange-about p {
	margin-bottom: 0;
}
.text-center {
	text-align: center;
}

/* Timeline */

ul.timeline {
    margin: 40px auto 0;
    width: 100%;
    background: url(../img/master/timeline-bg.jpg) center center repeat-y;
    height: auto;
    position: relative;
    padding: 0 0 80px;
}

/* Year icon */

.timeline .year {
    width: 100px;
    /*height: 75px;*/
    border: 3px solid #919191;
    border-radius: 300px;
    background: white;
    clear: both;
    padding: 21px 0;
    text-align: center;
    font-weight: 300;
    color: #3c3d3d;
    font-size: 18px;
    margin: 31px auto;
	font-family: 'Poppins', sans-serif;
}

/* Notes */

.timeline .note {
    float: left;
    padding: 20px;
    width: 47.5%;
    background: #f2f2f2;
    border-radius: 12px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.timeline .year + .note {
    margin-top: -20px;
}

/* Start Icon */

.timeline .start {
    width: 64px;
    height: 64px;
    border: 3px solid #919191;
    border-radius: 300px;
    background: white;
    position: absolute;
    clear: both;
    padding: 19px 0;
    text-align: center;
    color: #868586;
    font-size: 24px;
    bottom: 0px;
    left: 50%;
    margin-left: -32px;
}

/* Note inners */

.timeline .note h4 {
    font-size: 19px;
    color: white;
    text-transform: uppercase;
    color: #2e3738;
    margin: 5px 0;
}

.timeline .note p {
    font-size: 14px;
    color: #767676;
    margin: 8px 0;
}

.timeline .note span.date {
    font-size: 14px;
    text-transform: uppercase;
    color: #a5a5a5;
    line-height: 12px;
	font-family: 'Poppins', sans-serif;
}

.timeline .note .arrow {
    color: rgba(242,242,242,0.1);
    position: absolute;
    right: -1.6%;
    left: auto;
    top: 20px;
    font-size: 12px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.timeline .note:after {
    content: '';
    position: absolute;
    right: -6.8%;
    display: block;
    width: 18px;
    height: 18px;
    background: #2e3738;
    border: 2px solid #d6d6d6;
    border-radius: 100px;
    top: 18px;
    z-index: 20;
}

.timeline .note:nth-of-type(2n) {
    float: right;
    clear: right;
}

    .timeline .note:nth-of-type(2n):after {
        left: -6.8%;
    }

    .timeline .note:nth-of-type(2n) .arrow {
        left: -1.6%;
        right: auto;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }

/* Notes Rollover */

.timeline .note:hover {
    background: #e6e6e6;
}

    .timeline .note:hover h4 {
        color: #707070;
    }

    .timeline .note:hover p {
        color: #767676;
    }

    .timeline .note:hover:after {
        background: #ff9900;
        border: 2px solid #ff9900;
    }

    .timeline .note:hover .arrow {
        color: #f2f2f2;
    }

.nav-container {
	position: relative;
}	
.nav-lng {
	position: absolute;
	top: 0;
	right: 20px;
	z-index: 1000;
}
.nav-lng img {
		width: 20px;
		margin: 0 2px;
}
.sharing {
    margin-top: -260px;
}
table {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.medium-widget {
    font-family: 'Poppins', sans-serif;
}